{% extends "layout_primarynav.html" %}
{% set nav5Active = true %}

{% block pageTitle %}
Leaders – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({ href: "javascript:window.history.back()", text: "Back" }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Leaders</h1>
        <h2 class="govuk-heading-l">Development programmes</h2>
        <p class="govuk-body-m">The programmes we fund for social work leaders include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Upon: Inspiring Leaders, delivered by The Staff College, The Institute of Public Care, Skills for Care and GatenbySanderson</li>
          <li>the Social Work Leadership Pathways programme, delivered by the Frontline charity</li>
        </ul>
        <p class="govuk-body">The Pathways programme includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
        <p class="govuk-body">Social work leaders can do Pathway 4.</p>
        <!-- Alternative formatting
          <p class="govuk-body-m">We fund several development programmes for social work leaders.</p>
          <h1 class="govuk-heading-m">UPON: Inspiring Leaders</h1>
          <p class="govuk-body">Delivered by The Staff College, The Institute of Public Care, Skills for Care and GatenbySanderson.</p>
          <h1 class="govuk-heading-m">Social Work Leadership Pathways programme</h1>
          <p class="govuk-body">Delivered by the Frontline charity, the Pathways programme includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
          <p class="govuk-body">Social work leaders can do Pathway 4.</p> -->
    </div>
</div>
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="upon-aspiring-directors.html" class="govuk-link">Upon: aspirant directors programme</a></h3>
            <p class="govuk-body">For social work leaders who want to become directors of children's services in the next 3 years.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="upon-new-directors.html" class="govuk-link">Upon: new directors programme</a></h3>
            <p class="govuk-body">For new directors of children's services to develop their leadership, management and technical skills.</p>
        </div>
    </div>
</div>
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="pathway-4?sending-page=alt_lead" class="govuk-link">Pathway 4: practice leaders</a></h3>
            <p class="govuk-body">For practice leaders to lead, champion and improve services across their local system.</p>
        </div>
    </div>
</div>
<p><a href="development-programmes">View all programmes</a></p>


<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
        <h2 class="govuk-heading-l">Roles</h2>
        <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3 class="govuk-heading-m"><a href="" class="govuk-link">Assistant director</a></h3>
            </div>
                <p class="govuk-body-s">Assistant directors oversee the strategic development, management, and delivery of services that support and protect children and families.</p>
                <div class="govuk-!-padding-bottom-3">
                        <ul class="govuk-list">
                            <li>
                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £70,000 to £90,000</span>
                            </li>
                        </ul>
                    </div>
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3 class="govuk-heading-m"><a href="" class="govuk-link">Director of children's services</a></h3>
                        </div>
                            <p class="govuk-body-s">Directors of children’s services lead, manage and take overall responsibility for the delivery of high-quality social care in their local authority.</p>
                            <div class="govuk-grid-row govuk-!-padding-bottom-3">
                                <div class="govuk-grid-column-one-half">
                                    <ul class="govuk-list">
                                        <li>
                                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £100,000 to £150,000
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <p><a href="explore-roles?sending-page=alt_lead">Explore all roles</a></p>

    </div>
</div>


{% endblock %}
