{% extends "layout_primarynav.html" %}
{% set nav3Active = true %}
{% set pageName = "explore areas of practice" %}


{% block pageTitle %}
Explore roles – {{ serviceName }}
{% endblock %}



{% block content %}


  <div class="govuk-width-container dfe-width-container">
    <div class="govuk-grid-row">
     
      <div class="govuk-grid-column-one-quarter">
        


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item">
  <a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
  <a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
  <a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
      </div>
      

<div class="govuk-grid-column-three-quarters">

          <div class="govuk-!-margin-bottom-1">
            <h2 class="govuk-heading-l"><a href="child-protection-safeguarding.html" class="govuk-link">Child protection and safeguarding</a></h2>
          </div>
              <p class="govuk-body">Work with families and external partners to promote the welfare of children and protect them from harm.</p>
              <div class="govuk-grid-row govuk-!-padding-bottom-3">
              </div>
          

            <div class="govuk-!-margin-bottom-1">
             <h2 class="govuk-heading-l"><a href="" class="govuk-link">Domestic abuse</a></h2>
            </div>
               <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

              

                <div class="govuk-!-margin-bottom-1">
                  <h2 class="govuk-heading-l"><a href="" class="govuk-link">Drug and alcohol</a></h2>
                 </div>
                    <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>
     
    
                     <div class="govuk-!-margin-bottom-1">
                      <h2 class="govuk-heading-l"><a href="" class="govuk-link">Family law and court</a></h2>
                     </div>
                        <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>
         

          <div class="govuk-!-margin-bottom-1">
                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">Assesment intake and referrals</a></h2>
                         </div>
                            <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>
             
                     
                
       <div class="govuk-!-margin-bottom-1">
                              <h2 class="govuk-heading-l"><a href="" class="govuk-link">Fostering and adoption</a></h2>
                             </div>
                                <p class="govuk-body">Fostering and Adoption teams assess, support, and monitor prospective foster and adoptive parents throughout the application and approval process.</p>
        
      <div class="govuk-!-margin-bottom-1">
                                  <h2 class="govuk-heading-l"><a href="" class="govuk-link">Youth offending</a></h2>
                                 </div>
                                    <p class="govuk-body">Youth Offending Team (YOT) is a specialised unit within social work that focuses on working with children and young people who are involved in the criminal justice system or at risk of offending.</p>
                     
      <div class="govuk-!-margin-bottom-1">
         <h2 class="govuk-heading-l"><a href="" class="govuk-link">Looked after children</a></h2>
                                     </div>
                                 <p class="govuk-body">Looked after children teams support and care for children who are looked after by the local authorities wether they are in foster care, residential care, or placed with relatives under a care order.</p>
                                        
                                 
   <div class="govuk-!-margin-bottom-1">
                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">Children with disabilities</a></h2>
                                                                      </div>
                                                                         <p class="govuk-body">Children with disabilities team provide support and assistance to individuals and families with disabilities, with a focus on promoting independence, wellbeing, and positive outcomes.</p>
                                                                               
   <div class="govuk-!-margin-bottom-1">
                                                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">Mental health</a></h2>
                                                                                                      </div>
                                                                                                         <p class="govuk-body">Mental health teams support the mental well-being of children and young people, promoting positive family relationships, and ensuring a safe and nurturing environment for their growth and development</p>
                                                                                              
                                         <div class="govuk-!-margin-bottom-1">
                                                                                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">Adolescents</a></h2>
                                                                                                                                      </div>
                                                                                                                                         <p class="govuk-body">Adolescents teams are generally responsible for providing social work support to young people and their families who are facing various challenges or issues during adolescence.</p>
                            
                                        <div class="govuk-!-margin-bottom-1">
                                                                                                                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">Asylum and refugees</a></h2>
                                                                                                                                                                      </div>
                                                                                                                                                                         <p class="govuk-body">Asylum and refugee teams provide specialised support and assistance to asylum-seeking and refugee families, particularly those with children.</p>

                                        <div class="govuk-!-margin-bottom-1">
                                                                                                                                                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">International social work</a></h2>
                                                                                                                                                                                                      </div>
                                                                                                                                                                                                         <p class="govuk-body">The international social work team's primary focus is on families with complex international connections, including families with members residing in different countries and those with a history of migration or cross-border issues.</p>
                                                                                                                                                                                          
                                
                               </div>
                                 </div>
                                </div>
                              </div>
                    
                    
        {% endblock %}
