{% set programmePage = "er" %}
{% extends "layout.html" %}


{% block pageTitle %}
Explore roles – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Explore roles</h1>
      <p class="govuk-body">Find out how to get into a role, the skills you'll need, what you'll do and how you can progress.</p>

      <hr class="govuk-section-break govuk-section-break--visible">  <div class="govuk-!-margin-top-6"></div>
        <h2 class="govuk-heading-m">Practitioner</h2>
        <div class="govuk-!-margin-top-6">
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Newly qualified social worker (opens a new website)</a>
          </div>
              <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
              <div class="govuk-grid-row govuk-!-padding-bottom-3">
                  <div class="govuk-grid-column-one-half">
                      <ul class="govuk-list">
                          <li>
                          <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
                          </li>
                      </ul>
                  </div>
                <!--  <div class="govuk-grid-column-one-half">
                      <ul class="course-details govuk-list">
                          <li>
                          <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
                          </li>
                       </ul>
                  </div> -->
              </div>
          </div>

            <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Social worker (opens a new website)</a>
            </div>
                <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
                            </li>
                        </ul>
                    </div>
                  <!--  <div class="govuk-grid-column-one-half">
                        <ul class="course-details govuk-list">
                            <li>
                             <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
                            </li>
                           </ul>
                    </div> -->
                </div>
                <hr class="govuk-section-break govuk-section-break--visible">
                <div class="govuk-!-margin-top-6"></div>
                <h2 class="govuk-heading-m">Experienced practitioner</h2>
          <div class="govuk-!-margin-top-6">
            <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Senior practitioner (opens a new website)</a>
            </div>
                <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
                            </li>
                        </ul>
                    </div>
                <!--    <div class="govuk-grid-column-one-half">
                        <ul class="course-details govuk-list">
                            <li>
                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
                            </li>
                         </ul>
                    </div> -->
                </div>
            </div>
            <div class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Supervisor (opens a new website)</a>
          </div>
          <p class="govuk-body-s">Supervisors oversee the practice and decision-making of child and family practitioners and work with them to develop their skills.</p>
          <div class="govuk-grid-row govuk-!-padding-bottom-3">
              <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list">
                      <li>
                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £40,000 to £50,000</span>
                      </li>
                  </ul>
              </div>
          <!--  <div class="govuk-grid-column-one-half">
                  <ul class="course-details govuk-list">
                      <li>
                          <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 37 to 40</span>
                      </li>
                  </ul>
              </div> -->
          </div>
          <hr class="govuk-section-break govuk-section-break--visible">
          <div class="govuk-!-margin-top-6"></div>
          <h2 class="govuk-heading-m">Manager</h2>
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Quality improvement manager (opens a new website)</a>
      </div>
        <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
        <div class="govuk-grid-row govuk-!-padding-bottom-3">
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                    <li>
                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
                    </li>
                </ul>
            </div>
          <!--  <div class="govuk-grid-column-one-half">
                <ul class="course-details govuk-list">
                    <li>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
                    </li>
                 </ul>
              </div> -->
        </div>

          <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Child protection advisor (opens a new website)</a>
    </div>
        <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
        <div class="govuk-grid-row govuk-!-padding-bottom-3">
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                    <li>
                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
                    </li>
                </ul>
            </div>
          <!--  <div class="govuk-grid-column-one-half">
                <ul class="course-details govuk-list">
                    <li>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
                    </li>
                </ul>
            </div> -->
        </div>

      <div class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Team manager (opens a new website)</a>
</div>
    <p class="govuk-body-s">Team managers lead, develop and support a group of social workers to assess and manage risk to children and families.</p>
    <div class="govuk-grid-row govuk-!-padding-bottom-3">
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list">
                <li>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Salary range: £44,000 to £64,000</span>
                </li>
            </ul>
        </div>
        <!-- <div class="govuk-grid-column-one-half">
            <ul class="course-details govuk-list">
                <li>
                  <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
                </li>
           </ul>
        </div> -->
    </div>
  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-!-margin-top-6"></div>
  <h2 class="govuk-heading-m">Senior manager</h2>
  <div class="govuk-heading-s govuk-!-margin-bottom-1">
  <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Principal social worker (opens a new website)</a>
  </div>
  <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
  <div class="govuk-grid-row govuk-!-padding-bottom-3">
  <div class="govuk-grid-column-one-half">
      <ul class="govuk-list">
          <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
          </li>
      </ul>
    </div>
    <!--  <div class="govuk-grid-column-one-half">
          <ul class="course-details govuk-list">
              <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
              </li>
              </ul>
      </div> -->
    </div>

    <div class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Service manager (opens a new website)</a>
</div>
  <p class="govuk-body-s">Service managers oversee the performance and quality of practice of multiple teams of social workers across a service area.</p>
  <div class="govuk-grid-row govuk-!-padding-bottom-3">
      <div class="govuk-grid-column-one-half">
          <ul class="govuk-list">
              <li>
                  <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £50,000 to £80,000</span>
              </li>
          </ul>
      </div>
    <!--  <div class="govuk-grid-column-one-half">
          <ul class="course-details govuk-list">
              <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
              </li>
              </ul>
      </div> -->
  </div>

  <hr class="govuk-section-break govuk-section-break--visible">
  <div class="govuk-!-margin-top-6"></div>
  <h2 class="govuk-heading-m">Leader</h2>
  <div class="govuk-heading-s govuk-!-margin-bottom-1">
    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Assistant director (opens a new website)</a>
</div>
<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
            </li>
        </ul>
    </div>
  <!--  <div class="govuk-grid-column-one-half">
        <ul class="course-details govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
            </li>
             </ul>
    </div> -->
</div>

  <div class="govuk-heading-s govuk-!-margin-bottom-1">
    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Director of children's services (opens a new website)</a>
</div>
<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
            </li>
        </ul>
    </div>
<!--   <div class="govuk-grid-column-one-half">
        <ul class="course-details govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 to 40</span>
            </li>
        </ul>
    </div> -->
</div>
        {% endblock %}
