{% set pageName = "hp_future" %}
{% set brandType = "edu" %}
{% extends "layout_primarynav.html" %}


{% block pageTitle %}
Develop your career in child and family social work - Department for Education
{% endblock %}



{% block content %}
 <!-- ROW CTA -->
<!--
<div class="govuk-grid-row">
<div class="campaign-cta campaign-cta--light-blue">
	<div class="campaign-cta__content">
		<span></span>
		<h2>Find development programmes by career stage</h2>
		<p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea.</p>
	</div>
	<a href="/current/roles/career-stages" target="">Let's go</a></div>
</div>

<br>
<br> -->
    


 <!-- Jounry CARD links -->
<div class='govuk-grid-row govuk-!-margin-bottom-6'>
    <div class='govuk-grid-column-one-third'>
        <div class="section-card__noborder" >
            <h3 class="govuk-heading-m">Getting in to child and family social work</a></h3>
            <p class="govuk-!-margin-bottom-6">              <ul class="govuk-list">
                <li><p class="govuk-heading-s"><a href="/current/roles/starting-your-career">About child and family social work</a></p></li>
                <li><p class="govuk-heading-s"><a href="/current/roles/starting-your-career">Starting your career</a></p></li>
                <li><p class="govuk-heading-s"><a href="/current/roles/career-paths">Career paths</a></p></li>
                <li><p class="govuk-heading-s"><a href="/current/roles/teams-info">Areas of practice</a></p></li></p>
                <br>
        </div>
    </div>
    <div class='govuk-grid-column-one-third'>
        <div class="section-card__noborder">
            <h3 class="govuk-heading-m">Explore career stages</a></h3>
            <p class="govuk-!-margin-bottom-6">                  <ul class="govuk-list">
                <li><p class="govuk-heading-s"><a href="practitioners-sub-nav">Practitioner</a></p></li>
                <li><p class="govuk-heading-s"><a href="experienced-practitioners-sub-nav">Experienced practitioner</a></p></li>
                <li><p class="govuk-heading-s"><a href="managers-sub-nav">Managers</a></p></li>
                <li><p class="govuk-heading-s"><a href="senior-managers-sub-nav">Senior managers</a></p></li>
                <li><p class="govuk-heading-s"><a href="leaders-sub-nav">Leaders</a></p></li>
              </ul> </p>
              <br>
        </div>
    </div>
    <div class='govuk-grid-column-one-third'>
        <div class="section-card__noborder">
            <h3 class="govuk-heading-m">Useful information</a></h3>
            <p class="govuk-!-margin-bottom-6">              <ul class="govuk-list">
                <li><p class="govuk-heading-s"><a href="development-programmes">DFE funded programmes</a></p></li>
                <li><p class="govuk-heading-s"><a href="resources">Resources</a></p></li>
                <li><p class="govuk-heading-s"><a href="explore-roles">Explore roles</a></p></li>
                <br>
                <br>
                <br>
                
              
              </ul>  </p>
        </div>
    </div>
</div>


<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">


    <!-- NEWS -->

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading govuk-heading-m govuk-heading--padding govuk-!-margin-bottom-3">Latest news in child and family social work</h2>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <ul class="govuk-list">
        <li><p class="govuk-heading-s govuk-!-margin-bottom-1"><a href="news">Post example 1 title

        </a></p>
            <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
        <div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </li>
    <li><p class="govuk-heading-s govuk-!-margin-bottom-1"><a href="news">Post example 2 title

    </a></p>
        <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
    <div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

</li>
<li><p class="govuk-heading-s govuk-!-margin-bottom-1"><a href="news">Post example 3 title

</a></p>
    <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
<div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
<hr class="govuk-section-break govuk-section-break--l">

<p class="govuk-heading-s govuk-!-margin-bottom-1"><a href="news">See all news

</a></p>
</li>



    </ul>  
    </div>
    </div>



  


 




                


            





{% endblock %}
