{% extends "layout_primarynav.html" %}
{% set nav5Active = true %}

{% block pageTitle %}
Managers – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({ href: "javascript:window.history.back()", text: "Back" }) }}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-xl">Managers</h1>
        <h2 class="govuk-heading-l">Development programmes</h2>
        <p class="govuk-body">We fund the Social Work Leadership Pathways programme for child and family social workers.</p>
        <p class="govuk-body">It's delivered by the Frontline charity and includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
        <p class="govuk-body">Social work managers can do Pathways 2 and 3.</p>
    </div>
</div>
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="pathway-2.html" class="govuk-link">Pathway 2: middle manager</a></h3>
            <p class="govuk-body">For team managers to support the delivery of excellent social work practice within and beyond their team.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="pathway-3.html" class="govuk-link">Pathway 3: heads of service</a></h3>
            <p class="govuk-body">For experienced team managers who want to become heads of service.</p>
        </div>
    </div>
</div>
<p><a href="development-programmes">View all programmes</a></p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
        <h2 class="govuk-heading-l">Roles</h2>
        <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3 class="govuk-heading-m"><a href="" class="govuk-link">Quality improvement manager</a></h3>
            </div>
            <p class="govuk-body-s">Quality improvement managers audit and analyse the performance of social workers, teams and processes to ensure the delivery of high-quality social care.</p>
                <div class="govuk-!-padding-bottom-3">
                        <ul class="govuk-list">
                            <li>
                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £38,000 to £65,000</span>
                            </li>
                        </ul>
                    </div>
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3 class="govuk-heading-m"><a href="" class="govuk-link">Child protection advisor</a></h3>
                        </div>
                        <p class="govuk-body-s">Child protection advisors provide specialist guidance, support and leadership to ensure the safety and wellbeing of children.</p>
                            <div class="govuk-grid-row govuk-!-padding-bottom-3">
                                <div class="govuk-grid-column-one-half">
                                    <ul class="govuk-list">
                                        <li>
                                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £38,000 to £45,000</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                                <h3 class="govuk-heading-m"><a href="team-manager.html" class="govuk-link">Team manager</a></h3>
                                            </div>
                                            <p class="govuk-body-s">Team managers lead, develop and support a group of social workers to assess and manage risk to children and families.</p>
                                                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                                                    <div class="govuk-grid-column-one-half">
                                                        <ul class="govuk-list">
                                                            <li>
                                                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £45,000 to £65,000</span>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                            
                            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                                                    <h3 class="govuk-heading-m"><a href="independent-reviewing-officer" class="govuk-link">Independent reviewing officer</a></h3>
                                                                </div>
                                                                <p class="govuk-body-s">Independent review officer's oversee and review care plans to ensure local authorities are acting in the best interests of children.</p>
                                                                    <div class="govuk-grid-row govuk-!-padding-bottom-3">
                                                                        <div class="govuk-grid-column-one-half">
                                                                            <ul class="govuk-list">
                                                                                <li>
                                                                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £42,000 to £57,000</span>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                    
                                                                    </div>

                            <p><a href="explore-roles?sending-page=alt_mgrs">Explore all roles</a></p>

    </div>
</div>

{% endblock %}
