{% extends "layout_primarynav.html" %}
{% set nav4Active = true %}


{% block pageTitle %}
Explore roles – {{ serviceName }}
{% endblock %}




{% block content %}

<script>
  
  function getQueryParam(name) {
    const urlParams = new URLSearchParams(window.location.search);
    return urlParams.get(name);
  }

  
  const showBackLinkParam = "show_back_link";


  if (getQueryParam(showBackLinkParam) === "true") {
    document.write('<div id="backLinkContainer">');
    document.write('<a class="govuk-back-link" href="javascript:window.history.back()">Back</a>');
    document.write('</div>');
  }
</script>
<br>
   
   <!-- NEWS -->

   <div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
      <h1 class="govuk-heading govuk-heading-xl govuk-heading--padding govuk-!-margin-bottom-3">Latest news in child and family social work</h1>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      <ul class="govuk-list">
      <li><h2 class="govuk-heading-l govuk-!-margin-bottom-1"><a href="news">Post example 1 title</a></h2>
          <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
      <div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  </li>

  <li><h2 class="govuk-heading-l govuk-!-margin-bottom-1"><a href="news">Post example 2 title</a></h2>
      <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
  <div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

</li>
<li><h2 class="govuk-heading-l govuk-!-margin-bottom-1"><a href="news">Post example 3 title</a></h2>
  <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
<div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
<hr class="govuk-section-break govuk-section-break--l">


</a></p>


</a></p>
</li>



  </ul>  
  </div>
  </div>
            
            
        {% endblock %}

