{% set programmePage = "sub_prac" %}
{% extends "layout.html" %}

{% block pageTitle %}
Practitioners – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Programmes for practitioners</h1>
        <p class="govuk-body">We fund the assessed and supported year in employment (ASYE) for newly qualified practitioners.</p>
        <p class="govuk-body">ASYE is delivered by Skills for Care.</p>
    </div>
</div>
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h2 class="govuk-heading-m"><a href="asye?sending-page=alt_prac" class="govuk-link">Assessed and supported year in employment (ASYE)</a></h2>
            <p class="govuk-body">For newly qualified social workers in their first year of employment.</p>
        </div>
    </div>
</div>
<p><a href="development-programmes">View all programmes</a></p>
<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
        <h2 class="govuk-heading-l">Professional development for practitioners</h2>
        <h3 class="govuk-heading-m"><a href="practitioners?sending-page=alt_prac" class="govuk-link">Improve your social work practice</a></h3>
        <p  class="govuk-body">Find out about continuing professional development (CPD) for social work practitioners.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
        <h3 class="govuk-heading-m"><a href="explore-roles?sending-page=alt_prac" class="govuk-link">Explore roles in children and family social care</a></h3>
        <p  class="govuk-body">Find out about roles and different career stages.</p>
    </div>
</div>

{% endblock %}
