{% extends "layout_primarynav.html" %}
{% set nav2Active = true %}
{% set pageName = "resources" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
        <div class="govuk-!-margin-top-6"></div>
  <div class="govuk-!-margin-top-6">
    <div class="govuk-heading-s govuk-!-margin-bottom-1">
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">Knowledge articles</a></h2>
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">Videos</a></h2>
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">Podcasts</a></h2>
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">Research papers</a></h2>
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">Case studies</a></h2>
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">Direct tools</a></h2>
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">Legislation updates</a></h2>
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">DFE programmes</a></h2>
        <h2 class="govuk-heading-l"><a href="" class="govuk-link">Training courses</a></h2>
    </div>
   
      </div>
</div>
</div> 

{% endblock %}
