{% extends "layout_primarynav.html" %}
{% set nav5Active = true %}

{% block pageTitle %}
Senior managers – {{ serviceName }}
{% endblock %}


{% block beforeContent %}
{{ govukBackLink({
href: "javascript:window.history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Programmes for senior managers</h1>
        <p class="govuk-body">We fund the Social Work Leadership Pathways programme for child and family social workers.</p>
        <p class="govuk-body">It's delivered by the Frontline charity and includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
        <p class="govuk-body">Senior managers can do Pathways 3 and 4.</p>
    </div>
</div>
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h2 class="govuk-heading-m"><a href="pathway-3?sending-page=alt_smgr" class="govuk-link">Pathway 3: heads of service</a></h2>
             <p class="govuk-body">For heads of service to lead outstanding provision of social care through multiple teams and partnerships.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h2 class="govuk-heading-m"><a href="pathway-4?sending-page=alt_smgr" class="govuk-link">Pathway 4: practice leaders</a></h2>
             <p class="govuk-body">For experienced senior managers who want to become practice leaders.</p>
        </div>
    </div>
</div>
<p><a href="development-programmes">View all programmes</a></p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-two-thirds'>
        <h2 class="govuk-heading-l">Roles</h2>
        <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3 class="govuk-heading-m"><a href="practice-supervisor-role.html" class="govuk-link">Principal social worker</a></h3>
            </div>
                <p class="govuk-body-s">Principal social workers manage complex cases, support social work teams and contribute to the strategic leadership of services.</p>
                <div class="govuk-!-padding-bottom-3">
                        <ul class="govuk-list">
                            <li>
                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £50,000 to £65,000</span>
                            </li>
                        </ul>
                    </div>
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3 class="govuk-heading-m"><a href="practice-supervisor-role.html" class="govuk-link">Service manager</a></h3>
                        </div>
                        <p class="govuk-body-s">Service managers oversee the performance and quality of practice of multiple teams of social workers across a service area.</p>
                            <div class="govuk-grid-row govuk-!-padding-bottom-3">
                                <div class="govuk-grid-column-one-half">
                                    <ul class="govuk-list">
                                        <li>
                                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £46,000 to £70,000</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                                <h3 class="govuk-heading-m"><a href="practice-supervisor-role.html" class="govuk-link">
                                    Head of service</a></h3>
                                            </div>
                                                <p class="govuk-body-s">Heads of service oversee the day-to-day operations of services, manage staff and work closely with other agencies to promote best practice in social work.</p>
                                                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                                                    <div class="govuk-grid-column-one-half">
                                                        <ul class="govuk-list">
                                                            <li>
                                                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £60,000 to £80,000</span>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                            <p><a href="explore-roles?sending-page=alt_smgr">Explore all roles</a></p>

    </div>
</div>

{% endblock %}
