{% extends "layout_primarynav.html" %}
{% set nav1Active = true %}
{% set pageName = "starting your career" %}

{% block content %}

  <div class="govuk-width-container">
             <div class="govuk-grid-row">
 
               <div class="govuk-grid-column-one-quarter">
                 
 
                <nav class="dfe-vertical-nav">
                  <ul class="dfe-vertical-nav__section">
                    
                      <li class="dfe-vertical-nav__section-item">
                        <a class="dfe-vertical-nav__link" href="about-cfsw">About child and family social work</a>
                      </li>
                    
                      <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
                        <a class="dfe-vertical-nav__link" href="starting-your-career">Starting your career</a>
                      </li>
                    
                      <li class="dfe-vertical-nav__section-item ">
                        <a class="dfe-vertical-nav__link" href="career-paths">Career paths</a>
                      </li>
                    
                  </ul>
              
              </nav>
                            </div>

    <div class="govuk-grid-column-three-quarters">
        <p class="govuk-body">Find out about... <p>Lorem ipsum dolor sit amet. Qui assumenda deleniti sed quidem mollitia est molestias aperiam 33 autem suscipit cum natus alias. Ab facilis aliquid sit tenetur beatae eum ratione quia? Sit aspernatur illum non quod culpa eum blanditiis repudiandae. Sed libero facere eos doloremque nihil ex deleniti molestias a quia quod in quia consequatur non facilis laboriosam. </p><p>Aut voluptatem quas ut dolor unde qui ipsum molestiae qui explicabo aperiam est aspernatur magnam 33 commodi dolorum cum tempora corrupti? At dolorum incidunt ex vitae itaque eos ipsam veritatis eum culpa soluta. </p><p>Nam adipisci voluptas in dolorem modi est expedita deserunt est quia necessitatibus et dolor tempora sed natus consequuntur non consectetur ipsam. Ea galisum asperiores cum eius harum qui Quis veniam At aperiam quis et nihil totam. </p>
        .</p>
   
      </div>
</div>


{% endblock %}
