
<!-- dynamically create the breadcrumbs for each content page depending on route taken to reach each -->
{% set sendingPage = data["sending-page"] %}
{% set programmePage = programmePage %}

{{ sendingPage | log }}
{{ programmePage | log }}



<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home">Home</a>
    </li>

<!-- ASYE AND HOME PART FOR ALL PAGES -->
    {% if sendingPage == 'dp' and programmePage == 'ay' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="development-programmes">Development programmes for social workers</a>
        </li>
    {% endif %}

<!-- PATHWAY 1 -->
    {% if sendingPage == 'ps' and programmePage == 'p1' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="practice-supervisors">Practice supervisors</a>
        </li>
        {% elseif sendingPage == 'dp' and programmePage == 'p1' %}
            <li class="govuk-breadcrumbs__list-item">
              <a class="govuk-breadcrumbs__link" href="development-programmes">Development programmes for social workers</a>
            </li>
    {% endif %}
<!-- PATHWAY 2 -->
    {% if sendingPage == 'ps' and programmePage == 'p2' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="practice-supervisors">Practice supervisors</a>
        </li>
    {% elseif sendingPage == 'mm' and programmePage == 'p2' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="middle-managers-and-heads-of-service">Middle managers and heads of service</a>
        </li>
    {% elseif sendingPage == 'dp' and programmePage == 'p2' %}
       <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="development-programmes">Development programmes for social workers</a>
       </li>
    {% endif %}
<!-- PATHWAY 3 -->
    {% if sendingPage == 'mm' and programmePage == 'p3' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="middle-managers-and-heads-of-service">Middle managers and heads of service</a>
        </li>
    {% elseif sendingPage == 'dp' and programmePage == 'p3' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="development-programmes">Development programmes for social workers</a>
        </li>
    {% endif %}
<!-- PATHWAY 4 -->
    {% if sendingPage == 'mm' and programmePage == 'p4' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="middle-managers-and-heads-of-service">Middle managers and heads of service</a>
        </li>
    {% elseif sendingPage == 'sm' and programmePage == 'p4' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="senior-managers-and-leaders">Senior managers and leaders</a>
        </li>
    {% elseif sendingPage == 'dp' and programmePage == 'p4' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="development-programmes">Development programmes for social workers</a>
    {% endif %}
<!--ASPIRANT DIRECTORS -->
    {% if sendingPage == 'sm' and programmePage == 'ua' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="senior-managers-and-leaders">Senior managers and leaders</a>
        </li>
    {% elseif sendingPage == 'dp' and programmePage == 'ua' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="development-programmes">Development programmes for social workers</a>
        </li>
    {% endif %}
<!--NEW DIRECTORS -->
    {% if sendingPage == 'sm' and programmePage == 'un' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="senior-managers-and-leaders">Senior managers and leaders</a>
        </li>
    {% elseif sendingPage == 'dp' and programmePage == 'un' %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="development-programmes">Development programmes for social workers</a>
        </li>
    {% endif %}
  </ol>
</div>
