<div class="hf-citation">
    <div class="gem-c-metadata" data-module="gem-toggle metadata" data-gem-toggle-module-started="true" data-metadata-module-started="true">
      <dl class="gem-c-metadata__list" data-module="gem-track-click" data-gem-track-click-module-started="true">
          <dt class="gem-c-metadata__term">From:</dt>
          <dd class="gem-c-metadata__definition"><a class="govuk-link" href="#">Department for Education</a></dd>
          <dt class="gem-c-metadata__term">Published</dt>
          <dd class="gem-c-metadata__definition">1 January 2024</dd>
          <dt class="gem-c-metadata__term">Updated:</dt>
          <dd class="gem-c-metadata__definition" data-module="ga4-link-tracker" data-ga4-track-links-only="" data-ga4-link="{&quot;event_name&quot;:&quot;navigation&quot;,&quot;type&quot;:&quot;content history&quot;,&quot;section&quot;:&quot;Top&quot;,&quot;action&quot;:&quot;opened&quot;}" data-ga4-link-tracker-module-started="true">2 January 2024</dd>
      </dl>
    </div>
  </div>