<aside class="app-related-items" role="complementary">
    <h2 id="related-nav__section" class="govuk-heading-s">
      Related content
    </h2>
    <nav role="navigation" aria-labelledby="related-nav__section">
      <ul class="govuk-list govuk-!-font-size-16">
        <li>
          <a href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work">
            Social work post-qualifying standards
          </a>
        </li>
      </ul>
    </nav>
</aside>