{% extends "layout.html" %}

{% block pageTitle %}
Assessed and Supported Year in Employment (ASYE) - development programmes – {{ serviceName }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <!-- <span class="govuk-caption-l">DfE development programmes</span>-->
        <h1 class="govuk-heading-xl">Social worker career pathway
</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body-m">DfE have a career pathway. This explains the steps in that pathway. Nulla placerat lorem risus, sed lobortis enim aliquam vel. Vivamus consectetur, turpis eu porta euismod, ligula lectus scelerisque velit, eu fringilla ipsum ex vel magna.</p>
        <div class="pathway-block govuk-!-margin-top-9">
            <h2 class="govuk-heading-l">Newly qualified social worker</h2>
            <p class="govuk-body-m">Some content about newly qualified social workers goes here.Duis placerat pharetra massa et consectetur. Etiam nec metus et dolor euismod hendrerit quis in dolor. Sed a pretium ipsum. Ut ultrices eleifend magna, eget porta sem.</p>
            <p class="govuk-body-m">Newly qualified social workers are:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>Nam iaculis mi a elit luctus porttitor.</li>
              <li>Mauris in eros non dolor tempus malesuada.</li>
              <li>Beav vel buhed a justo grato cornh oliocitudin.</li>
            </ul>
            <p class="govuk-body-m">Learn more about <a class="govuk-!-font-size-19" href="newly-qualified-social-worker">newly qualified social workers</a>.</p>
        </div>

        <div class="pathway-block govuk-!-margin-top-9">
            <h2 class="govuk-heading-l">Practitioner</h2>
            <p class="govuk-body-m">Some content about practitioner social workers goes here.Duis placerat pharetra massa et consectetur. Etiam nec metus et dolor euismod hendrerit quis in dolor. Sed a pretium ipsum. Ut ultrices eleifend magna, eget porta sem.</p>
            <p class="govuk-body-m">Practitioner social workers are:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>Nam iaculis mi a elit luctus porttitor.</li>
              <li>Mauris in eros non dolor tempus malesuada.</li>
              <li>Beav vel buhed a justo grato cornh oliocitudin.</li>
            </ul>
            <p class="govuk-body-m">Learn more about <a class="govuk-!-font-size-19" href="practitioner">practitioner social workers</a>.</p>
        </div>

        <div class="pathway-block govuk-!-margin-top-9">
            <h2 class="govuk-heading-l">Practice Supervisor</h2>
            <p class="govuk-body-m">Some content about practice supervisors goes here.Duis placerat pharetra massa et consectetur. Etiam nec metus et dolor euismod hendrerit quis in dolor. Sed a pretium ipsum. Ut ultrices eleifend magna, eget porta sem.</p>
            <p class="govuk-body-m">Practice supervisors are:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>Nam iaculis mi a elit luctus porttitor.</li>
              <li>Mauris in eros non dolor tempus malesuada.</li>
              <li>Beav vel buhed a justo grato cornh oliocitudin.</li>
            </ul>
            <p class="govuk-body-m">Learn more about <a class="govuk-!-font-size-19" href="practice-supervisor">practice supervisors</a>.</p>
        </div>

        <div class="pathway-block govuk-!-margin-top-9 govuk-!-margin-bottom-0">
            <h2 class="govuk-heading-l">Practice Leader</h2>
            <p class="govuk-body-m">Some content about practice leaders goes here.Duis placerat pharetra massa et consectetur. Etiam nec metus et dolor euismod hendrerit quis in dolor. Sed a pretium ipsum. Ut ultrices eleifend magna, eget porta sem.</p>
            <p class="govuk-body-m">Practice leaders are:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>Nam iaculis mi a elit luctus porttitor.</li>
              <li>Mauris in eros non dolor tempus malesuada.</li>
              <li>Beav vel buhed a justo grato cornh oliocitudin.</li>
            </ul>
            <p class="govuk-body-m">Learn more about <a class="govuk-!-font-size-19" href="practice-leader">practice leaders</a>.</p>
        </div>
    </div>
</div>


{% endblock %}