{% extends "layout.html" %}

{% block pageTitle %}
Accessibility statement – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs-support-pages.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Accessibility statement</h1>
      </div>
</div>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text__ptk govuk-!-margin-bottom-6">The contents on this page is in draft.</div>
        <p class="govuk-body">This accessibility statement applies to {{ serviceName }}.</p>
        <p class="govuk-body">This website is run by the Department for Education. We want as many people as possible to be able to use this website. For example, that means you should be able to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>change colours, contrast levels and fonts</li>
          <li>zoom in up to 300% without the text spilling off the screen</li>
          <li>navigate most of the website using just a keyboard</li>
          <li>navigate most of the website using speech recognition software</li>
          <li>listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and VoiceOver)</li>
        </ul>
        <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
          <p class="govuk-body"><a href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on making your device easier to use if you have a disability.</p>
          <p class="govuk-!-margin-top-9">Last updated 12 December 2022</p>
      </div>
</div>
{% endblock %}