{% extends "layout.html" %}

{% block pageTitle %}
Privacy policy – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs-support-pages.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Collecting data for the Department for Education’s {{ serviceName }} </h1>
      </div>
</div>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <p>DfE’s directory of services will present information about family support service, activities and groups to people who search for them.
      <p>The services listed will be available for a pilot period to residents in our area through a website.</p>
      <h2 class="govuk-heading-l">What data we collect from you</h2>
      <p class="govuk-body-m">The personal data we collect from you is an email when you give us feedback / contact us (TBC POSSIBLY).</p>
      <h2 class="govuk-heading-l">Why we collect your data</h2>
      <p class="govuk-body-m">We collect personal data in order to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Do something</li>
          <li>Do something</li>
          <li>Do something</li>
        </ul>
      <p class="govuk-body-m">We will not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sell or rent data to third parties</li>
          <li>share data with third parties for marketing purposes</li>
        </ul>
      <p class="govuk-body-m">We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>
      <h2 class="govuk-heading-l">How long we keep your data</h2>
      <p class="govuk-body-m">We will only retain your personal information for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p>
      <h2 class="govuk-heading-l">Who we share your data with</h2>
      <p class="govuk-body-m">As part of delivering the DfE services for the pilot, we share your personal data with your local authority.</p>
      <h2 class="govuk-heading-l">Where your data is processed and stored</h2>
      <p class="govuk-body-m">As your personal data is stored on our IT infrastructure and shared with our data processors, it may be transferred and stored securely outside the United Kingdom. Where that is the case it will be subject to equivalent legal protection through the use of International Data Transfer Agreements or <a href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/adequacy-decisions_en" class="govuk-link">Adequacy Decisions.</a></p>
      <p class="govuk-body-m">We also design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s processed and when it’s stored.</p>
      <h2 class="govuk-heading-l">How we protect your data and keep it secure</h2>
      <p class="govuk-body-m">We are committed to doing all that we can to keep your data secure. To prevent unauthorised access or disclosure we have put in place technical and organisational procedures to secure the data we collect about you – for example, we protect your data using varying levels of encryption. We also make sure that any third parties that we deal with have an obligation to keep all personal data they process on our behalf secure.</p>
      <h2 class="govuk-heading-l">Your rights</h2>
      <p class="govuk-body-m">You have the right to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>request your personal data is removed from the system</li>
          <li>request a copy of your personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
        </ul>
      <p class="govuk-body-m"><a href="https://ico.org.uk/your-data-matters/" class="govuk-link">Find out more information about your rights</a>.</p>









{% endblock %}