{% extends "layout.html" %}

{% block pageTitle %}
Privacy policy – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs-support-pages.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="content-page-status content-page-status__draft">The contents on this page is in draft.</div>
            <h1 class="govuk-heading-xl">Privacy policy</h1>
      </div>
</div>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">Who we are</h2>
       <p class="govuk-body">This work is being carried out by the Department for Education (DfE) Data Digital & Technology directorate. For data protection legislation, the DfE is the data controller for the personal data processed as part of the {{ serviceName }}.</p>
      <h2 class="govuk-heading-l">What data we collect from you</h2>
       <p class="govuk-body">The personal data we collect from you is an email when you give us feedback / contact us (TBC POSSIBLY).</p>
      <h2 class="govuk-heading-l">Why we collect your data</h2>
       <p class="govuk-body">We collect personal data in order to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Respond to feedback?</li>
          <li>Resolve support issues ?</li>
        </ul>
       <p class="govuk-body">We will not:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>sell or rent data to third parties</li>
          <li>share data with third parties for marketing purposes</li>
        </ul>
       <p class="govuk-body">We will share your data if we are required to do so by law – for example, by court order, or to prevent fraud or other crime.</p>
      <h2 class="govuk-heading-l">How long we keep your data</h2>
       <p class="govuk-body">We will only retain your personal information for as long as necessary to fulfil the purposes we collected it for, including for the purposes of satisfying any legal, accounting, or reporting requirements.</p>
      <h2 class="govuk-heading-l">Who we share your data with</h2>
       <p class="govuk-body">As part of delivering the DfE services for the pilot, we share your personal data with your local authority.</p>
      <h2 class="govuk-heading-l">Where your data is processed and stored</h2>
       <p class="govuk-body">As your personal data is stored on our IT infrastructure and shared with our data processors, it may be transferred and stored securely outside the United Kingdom. Where that is the case it will be subject to equivalent legal protection through the use of International Data Transfer Agreements or <a href="https://ec.europa.eu/info/law/law-topic/data-protection/international-dimension-data-protection/adequacy-decisions_en" class="govuk-link">Adequacy Decisions.</a></p>
       <p class="govuk-body">We also design, build and run our systems to make sure that your data is as safe as possible at any stage, both while it’s processed and when it’s stored.</p>
      <h2 class="govuk-heading-l">How we protect your data and keep it secure</h2>
       <p class="govuk-body">We are committed to doing all that we can to keep your data secure. To prevent unauthorised access or disclosure we have put in place technical and organisational procedures to secure the data we collect about you – for example, we protect your data using varying levels of encryption. We also make sure that any third parties that we deal with have an obligation to keep all personal data they process on our behalf secure.</p>
      <h2 class="govuk-heading-l">Your rights</h2>
       <p class="govuk-body">You have the right to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>request your personal data is removed from the system</li>
          <li>request a copy of your personal data - this copy will be provided in a structured, commonly used and machine-readable format</li>
        </ul>
       <p class="govuk-body"><a href="https://ico.org.uk/your-data-matters/" class="govuk-link">Find out more information about your rights</a>.</p>
      <h2 class="govuk-heading-l">Questions and complaints</h2>
          <p>You can <a href="https://www.gov.uk/government/organisations/department-for-education/about/personal-information-charter">find more information about how the DfE handles personal information in the personal information charter.</a></p>
       <p class="govuk-body">Contact us if you:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>have any questions about anything in this document</li>
          <li>think that your personal data has been misused or mishandled</li>
          <li>want to make a <a href="https://ico.org.uk/your-data-matters/your-right-of-access/">subject access request (SAR)</a></li>
        </ul>
       <p class="govuk-body">You can contact us by using our <a href="https://form.education.gov.uk/service/Contact_the_Department_for_Education">secure DfE Contact form (opens in new window)</a> or writing to:</p>
      <p>Emma Wharram<br>
      Data Protection Officer<br>
      Department for Education (B2.28)<br>
      7 & 8 Wellington Place<br>
      Leeds<br>
      LS1 4AW</p>
      <p>The Data Protection Officer provides independent advice and monitoring of DfE’s use of personal information.</p>
      <p>If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator.</p>
      <p>The Information Commissioner can be contacted at:</p>
      <p>Information Commissioner’s Office<br>
      Wycliffe House<br>
      Water Lane<br>
      Wilmslow<br>
      Cheshire<br>
      SK9 5AF<br></p>
          <p>or 0303 123 1113 or <a href="mailto:icocasework@ico.org.uk">icocasework@ico.org.uk</a>.</p>
      <p>Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.</p>
      <h2 class="govuk-heading-l">Changes to this notice</h2>
      <p>We may change this privacy notice. When we make changes to this notice, we will add a change note at the bottom of the page. Any changes to this privacy notice will apply to you and your data immediately. If these changes affect how your personal data is processed, DfE will take reasonable steps to make sure you know.</p>
      <h2 class="govuk-heading-l">Our legal basis for processing your data</h2>
      <p>The legal basis for processing this data is public task.</p>
      <p>The lawful basis for the service is the Children Act 2004. Section 10 of the Act places a duty on each children’s services authority to make arrangements to promote co-operation between itself and relevant partner agencies to improve the well-being of children in their area in relation to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Physical and mental health, and emotional well-being</li>
          <li> Protection from harm and neglect</li>
          <li>Education, training and recreation</li>
          <li>Making a positive contribution to society</li>
          <li>Social and economic well-being</li>
        </ul>
      <p class="govuk-!-margin-top-9">Last updated 12 December 2022</p>
      </div>
</div>
{% endblock %}