{% extends "layout.html" %}

{% block pageTitle %}
Terms and conditions – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs-support-pages.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Terms and conditions</h1>
      </div>
</div>
<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-inset-text__ptk govuk-!-margin-bottom-6">The contents on this page is in draft.</div>
        <p class="govuk-body">This page and any pages it links to explain the {{ serviceName }} terms of use. You must agree to these to use the {{ serviceName }}.
        <h2 class="govuk-heading-l">Who we are</h2>
        <p class="govuk-body">{{ serviceName }} is managed by the Department for Education (DfE). DfE will be referred to as ‘we’ from now on.</p>
        <h2 class="govuk-heading-l">Using {{ serviceName }}</h2>
        <p class="govuk-body">By using {{ serviceName }}, you agree to:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Do something</li>
          <li>Do something else</li>
        </ul>
        <p class="govuk-body">You agree to use {{ serviceName }} only for lawful purposes. You must also use it in a way that does not infringe the rights of, or restrict or inhibit the use and enjoyment of, this site by anyone else.</p>
        <h2 class="govuk-heading-l">Personal and sensitive information</h2>
        <p class="govuk-body">Under the UK General Data Protection Regulation (GDPR), sensitive personal information includes information about someone’s:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>race or ethnic origin</li>
          <li>political, religious or philosophical beliefs</li>
          <li>trade union membership</li>
          <li>genetic or biometric data</li>
          <li>health</li>
          <li>sex life or sexual orientation</li>
        </ul>
        <h2 class="govuk-heading-l">Linking to {{ serviceName }} </h2>
        <p class="govuk-body">We welcome and encourage other websites to link to {{ serviceName }}</p>
        <p class="govuk-body">You must <a href="#">contact us</a> for permission if you want to say your website is associated with or endorsed by {{ serviceName }} or another government department or agency.</p>
        <h2 class="govuk-heading-l">Linking from {{ serviceName }}</h2>
        <p class="govuk-body">{{ serviceName }} links to websites that are managed by other government departments and agencies, service providers or other organisations. We do not have any control over the content on these websites.</p>
        <p class="govuk-body">We’re not responsible for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>the protection of any information you give to these websites</li>
          <li>any loss or damage that may come from your use of these websites, or any other websites they link to</li>
        </ul>
        <p class="govuk-body">You agree to release us from any claims or disputes that may come from using these websites.</p>
        <p class="govuk-body">You should read all terms and conditions, privacy policies and end user licences that relate to these websites before you use them.</p>
        <h2 class="govuk-heading-l">{{ serviceName }} content</h2>
        <p class="govuk-body">We update {{ serviceName }} all the time. We can change or remove content at any time without notice.</p>
        <p class="govuk-body">The content on {{ serviceName }} is the intellectual property of DfE. You must not copy or reproduce this content for any purpose.</p>
        <h2 class="govuk-heading-l">Disclaimer</h2>
        <p class="govuk-body">While we make every effort to keep {{ serviceName }} up to date, we do not provide any guarantees, conditions or warranties that the information will be:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>current</li>
          <li>secure</li>
          <li>accurate</li>
          <li>complete</li>
          <li>free from bugs or viruses</li>
        </ul>
        <p class="govuk-body">We’re not liable for any loss or damage that may come from using {{ serviceName }}. This includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>any direct, indirect or consequential losses</li>
          <li>any loss or damage caused by civil wrongs (‘tort’, including negligence), breach of contract or otherwise</li>
          <li>the use of {{ serviceName }} and any websites that are linked to or from it</li>
          <li>the inability to use {{ serviceName }} and any websites that are linked to or from it</li>
        </ul>
        <p class="govuk-body">This applies if the loss or damage was foreseeable, arose in the normal course of things or you advised us that it might happen.</p>
        <p class="govuk-body">This includes (but is not limited to) the loss of your:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>income or revenue</li>
          <li>salary, benefits or other payments</li>
          <li>business</li>
          <li>profits or contracts</li>
          <li>opportunity</li>
          <li>anticipated savings</li>
          <li>data</li>
          <li>goodwill or reputation</li>
          <li>tangible property</li>
          <li>intangible property, including loss, corruption or damage to data or any computer system</li>
          <li>wasted management or office time</li>
        </ul>
        <p class="govuk-body">We may still be liable for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>death or personal injury arising from our negligence</li>
          <li>fraudulent misrepresentation</li>
          <li>any other liability which cannot be excluded or limited under applicable law</li>
        </ul>
        <h2 class="govuk-heading-l">Requests to remove content</h2>
        <p class="govuk-body">You can ask for content to be removed from {{ serviceName }}. We’ll remove content:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in order to comply with data protection legislation covering the rights and freedoms of individuals</li>
          <li>if it breaches copyright laws, contains sensitive personal data or material that may be considered obscene or defamatory</li>
        </ul>
        <p class="govuk-body"><a href="#">Contact us</a> to ask for content to be removed. You’ll need to send us the web address (URL) of the content and explain why you think it should be removed. We’ll reply to let you know whether we’ll remove it.</p>
        <p class="govuk-body">We remove content at our discretion in discussion with the department or agency responsible for it. You can still request information under the <a href="https://www.gov.uk/make-a-freedom-of-information-request">Freedom of Information Act</a> and the <a href="https://www.gov.uk/data-protection">Data Protection Act.</a></p>
        <h2 class="govuk-heading-l">Information about you and your visits to {{ serviceName }}</h2>
        <p class="govuk-body">We collect information about you in accordance with our <a href="privacy">privacy policy</a> and our <a href="cookies">cookie policy</a>. By using {{ serviceName }}, you agree to us collecting this information and confirm that any data you provide is accurate.</p>
        <h2 class="govuk-heading-l">Virus protection</h2>
        <p class="govuk-body">We make every effort to check and test {{ serviceName }} for viruses at every stage of production. You must make sure that the way you use {{ serviceName }} does not expose you to the risk of viruses, malicious computer code or other forms of interference which can damage your computer system.</p>
        <p class="govuk-body">We’re not responsible for any loss, disruption or damage to your data or computer system that might happen when you use {{ serviceName }}.</p>
        <h2 class="govuk-heading-l">Viruses, hacking and other offences</h2>
        <p class="govuk-body">When using {{ serviceName }}, you must not introduce viruses, trojans, worms, logic bombs or any other material that’s malicious or technologically harmful.</p>
        <p class="govuk-body">You must not try to gain unauthorised access to {{ serviceName }}, the server on which it’s stored or any server, computer or database connected to it.</p>
        <p class="govuk-body">You must not attack {{ serviceName }} in any way. This includes denial-of-service attacks.</p>
        <p class="govuk-body">We’ll report any attacks or attempts to gain unauthorised access to {{ serviceName }} to the relevant law enforcement authorities and share information about you with them.</p>
        <h2 class="govuk-heading-l">Governing law</h2>
        <p class="govuk-body">These terms and conditions are governed by and construed in accordance with the laws of England and Wales.</p>
        <p class="govuk-body">Any dispute you have which relates to these terms and conditions, or your use of {{ serviceName }} (whether it be contractual or non-contractual), will be subject to the exclusive jurisdiction of the courts of England and Wales.</p>
        <h2 class="govuk-heading-l">General</h2>
        <p class="govuk-body">We might decide not to exercise or enforce any right available to us under these terms and conditions. We can always decide to exercise or enforce that right at a later date.</p>
        <p class="govuk-body">Doing this once will not mean we automatically waive the right on any other occasion.</p>
        <p class="govuk-body">If any of these terms and conditions are held to be invalid, unenforceable or illegal for any reason, the remaining terms and conditions will still apply.</p>
        <h2 class="govuk-heading-l">Changes to these terms and conditions</h2>
        <p class="govuk-body">Please check these terms and conditions regularly. We can update them at any time without notice.</p>
        <p class="govuk-body">You’ll agree to any changes if you continue to use {{ serviceName }} after the terms and conditions have been updated.</p>
        <p class="govuk-!-margin-top-9">Last updated 12 December 2022</p>
      </div>
</div>
{% endblock %}