{% extends "layout_futurestate.html" %}
{% set nav3Active = true %}
{% set pageName = "explore areas of practice" %}


{% block pageTitle %}
Explore roles – {{ serviceName }}
{% endblock %}



{% block content %}


  <div class="govuk-width-container dfe-width-container">
    <div class="govuk-grid-row">
     
      <div class="govuk-grid-column-one-quarter">
        


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item">
  <a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
  <a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
  <a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
      </div>
      

<div class="govuk-grid-column-three-quarters">

          <div class="govuk-!-margin-bottom-1">
            <h2 class="govuk-heading-l"><a href="child-protection-safeguarding.html" class="govuk-link">Child protection and safeguarding</a></h2>
          </div>
              <p class="govuk-body">Child protection and safeguarding teams work with children and families to promote the welfare of children and protect them from harm.</p>
              <div class="govuk-grid-row govuk-!-padding-bottom-3">
              </div>
          

            <div class="govuk-!-margin-bottom-1">
             <h2 class="govuk-heading-l"><a href="" class="govuk-link">Domestic abuse</a></h2>
            </div>
               <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

              

                <div class="govuk-!-margin-bottom-1">
                  <h2 class="govuk-heading-l"><a href="" class="govuk-link">Drug and alcohol</a></h2>
                 </div>
                    <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>
     
    
                     <div class="govuk-!-margin-bottom-1">
                      <h2 class="govuk-heading-l"><a href="court-team.html" class="govuk-link">Court team</a></h2>
                     </div>
                        <p class="govuk-body">Court teams support children involved in legal proceedings and represent their interests in court.</p>
         

          <div class="govuk-!-margin-bottom-1">
                          <h2 class="govuk-heading-l"><a href="assessment-intake.html" class="govuk-link">Assesment and intake</a></h2>
                         </div>
                            <p class="govuk-body">Assessment and intake teams carry out initial assessments with children and families to identify risk and determine appropriate support.</p>
             
                     
                
       <div class="govuk-!-margin-bottom-1">
                              <h2 class="govuk-heading-l"><a href="fostering-adoption.html" class="govuk-link">Fostering and adoption</a></h2>
                             </div>
                                <p class="govuk-body">Fostering and adoption teams facilitate the placement of children into safe and stable family environments and provide ongoing support.</p>
        
      <div class="govuk-!-margin-bottom-1">
                                  <h2 class="govuk-heading-l"><a href="youth-justice.html" class="govuk-link">Youth justice</a></h2>
                                 </div>
                                    <p class="govuk-body">Youth justice teams work with children to provide interventions that reduce the risk of offending.</p>
                     
      <div class="govuk-!-margin-bottom-1">
         <h2 class="govuk-heading-l"><a href="looked-after-children.html" class="govuk-link">Looked after children</a></h2>
                                     </div>
                                 <p class="govuk-body">Looked after children teams support the safety, well-being and placement stability of children being looked after by local authorities.</p>

        <div class="govuk-!-margin-bottom-1">
         <h2 class="govuk-heading-l"><a href="leaving-care.html" class="govuk-link">Leaving care</a></h2>
                                     </div>
                                 <p class="govuk-body">Leaving care teams help young people leaving care to ensure they have the support they need to lead independent and fulfilling lives.</p>
                                        
                                 
   <div class="govuk-!-margin-bottom-1">
                                          <h2 class="govuk-heading-l"><a href="children-with-disabilities.html" class="govuk-link">Children with disabilities</a></h2>
                                                                      </div>
                                                                         <p class="govuk-body">Children with disabilities teams support the well-being, independence and rights of children with disabilities and their families.</p>
                                                                               
   <div class="govuk-!-margin-bottom-1">
                                                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">Mental health</a></h2>
                                                                                                      </div>
                                                                                                         <p class="govuk-body">Mental health teams support the mental well-being of children and young people, promoting positive family relationships, and ensuring a safe and nurturing environment for their growth and development</p>
                                                                                              
                                         <div class="govuk-!-margin-bottom-1">
                                                                                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">Adolescents</a></h2>
                                                                                                                                      </div>
                                                                                                                                         <p class="govuk-body">Adolescents teams are generally responsible for providing social work support to young people and their families who are facing various challenges or issues during adolescence.</p>
                            
                                        <div class="govuk-!-margin-bottom-1">
                                                                                                                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">Asylum and refugees</a></h2>
                                                                                                                                                                      </div>
                                                                                                                                                                         <p class="govuk-body">Asylum and refugee teams provide specialised support and assistance to asylum-seeking and refugee families, particularly those with children.</p>

                                        <div class="govuk-!-margin-bottom-1">
                                                                                                                                                                          <h2 class="govuk-heading-l"><a href="" class="govuk-link">International social work</a></h2>
                                                                                                                                                                                                      </div>
                                                                                                                                                                                                         <p class="govuk-body">The international social work team's primary focus is on families with complex international connections, including families with members residing in different countries and those with a history of migration or cross-border issues.</p>
                                                                                                                                                                                          
                                
                               </div>
                                 </div>
                                </div>
                              </div>
                    
                    
        {% endblock %}
