{% extends "layout_futurestate.html" %}
{% set nav3Active = true %}

{% block pageTitle %}
Leaving care - Develop your career in child and family social work  {{ serviceName }}
{% endblock %}



{% block content %}


<div class="govuk-width-container dfe-width-container">
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-one-quarter">
      


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item">
<a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
<a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
    </div>
    
  <div class="govuk-grid-column-three-quarters"> 

    <span class="govuk-caption-l">Areas of practice</span>
    <h1 class="govuk-heading-xl">Leaving care</h1>



          <dl class="govuk-summary-list">
           
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Summary
            </dt>
            <dd class="govuk-summary-list__value">
              Ensure the safety of care leavers and provide the support they need to lead independent and fulfilling lives 
            </dd>
          
          </div>
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other names
          </dt>
          <dd class="govuk-summary-list__value">
            Lorem ipsum dolor sit amet
          </dd>
        </div>
        
      
          
        </dl>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  What you'll do
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">Your responsibilities will vary depending on your role and position in the team.</p>
              <p class="govuk-body-m">Social workers in leaving care teams are expected to:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>support young people leaving care and develop plans that address their needs and goals</li>
                <li>help the wider networks of care leavers provide them with stability and consistency</li>
                <li>help care leavers access financial support, accommodation, education and employment</li>
                <li>help care leavers develop essential life skills such as cooking and budgeting</li>
                <li>use approaches such as life story work to help care leavers develop their identity and identify aspirations</li>
                <li>help care leavers stay connected with supportive adults such as family members and former key workers</li>
                <li>support care leavers with looking after their health and well-being</li>
                <li>provide ongoing advice and support as care leavers settle into independent living</li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  Skills and knowledge
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">The skills and knowledge you need will vary depending on your role and position in the team.</p>
              <p class="govuk-body-m">Social workers in leaving care teams are expected to have:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>expertise in child safeguarding and assessing and managing risk</li>
                <li>skills in carrying out assessments and developing personalised support plans</li>
                <li>an understanding of relevant legislation and policies relating to leaving care</li>
                <li>the ability to teach life skills such as budgeting and cooking</li>
                <li>the ability to support care leavers to maintain positive relationships with their wider network</li>
                <li>an understanding of the process of transitioning from child to adult social care</li>
                <li>knowledge of financial support and education grants available to care leavers</li>
                <li>interpersonal skills to engage with young people clearly and compassionately</li>
                <li>the ability to work effectively with young people from diverse backgrounds and communities</li>
              </ul>     
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  Who you'll work with
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              <p class="govuk-body-m">You could work with external partners and services including:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>health services</li>
                <li>schools</li>
                <li>mental health services</li>
                <li>residential care providers</li>
                <li>employment specialists</li>
                <li>housing departments</li>
              </ul>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                  How you'll work
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
              <p class="govuk-body-m">Working conditions can vary, but you could:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>be office-based on work remotely, or a combination of both</li>
                <li>work full-time or part-time</li>
                <li>work flexible hours, compressed hours or have a job share</li>
                <li>travel?</li>
                <li>support systems in place for the team, such as supervision, training, and access to resources?</li>
              </ul>

            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                  Current opportunities
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
              <p class="govuk-body-m">The <a href="https://findajob.dwp.gov.uk/">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
            </div>
          </div>
        </div>
    


    <section class="govuk-section">
              
      <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
        <div class="dfe-o-banner__content-container dfe-light-blue-tint">
          <div class="dfe-o-banner__inner-content-container">
            <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
            <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
            <a href="testimonial1.html" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
          </div>
        </div>
        <div class="dfe-o-banner__image-container">
          <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image">
        </div>
      </div>
   
  </section>

  <section class="govuk-section">
              
    <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
      <div class="dfe-o-banner__content-container dfe-light-blue-tint">
        <div class="dfe-o-banner__inner-content-container">
          <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
          <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
          <a href="testimonial1.html" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
        </div>
      </div>
      <div class="dfe-o-banner__image-container">
        <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image of three children looking at a phone">
      </div>
    </div>
 
</section>

  <div class="govuk-!-margin-top-6"></div>



<!--Related links -->
<div class="govuk-!-margin-top-28">
  {% include "../../includes/dfe-pqs-aside.html" %}
</div>
</div>


{% endblock %}
