{% set programmePage = "p2" %}
{% extends "layout_primarynav.html" %}
{% set nav6Active = true %}

{% block pageTitle %}
Pathway 2: middle managers - development programmes – {{ serviceName }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Experienced practitioners and managers</span>
        <h1 class="govuk-heading-xl">Pathway 2: middle managers</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              Current and aspiring middle managers, team managers, independent reviewing officers (IROs)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              10 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              56 hours (the equivalent of 7 days)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free except for travel for in-person modules</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Delivered by
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-!-font-size-19" href="https://thefrontline.org.uk/pathways-programme/">Frontline</a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">Pathway 2 is for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in-role middle managers</li>
          <li>experienced practice supervisors who want to become middle managers</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">Pathway 2 will help you support the delivery of excellent social work practice within and beyond your team. This includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>setting an ambitious and inspiring vision for your team</li>
          <li>developing resilience and wellbeing in staff so they can do their best work</li>
          <li>managing complex scenarios with your team and multi-agency partners</li>
          <li>building an inclusive team culture</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">When you finish Pathway 2 you’ll get:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a certificate which can contribute towards your continuous professional development (CPD) hours</li>
          <li>access to <a href="https://thefrontline.org.uk/fellowship/">Frontline's network of leaders</a></li>
        </ul>
        <p class="govuk-body-m">It'll help prepare:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>current middle managers to access Pathway 3 for heads of service</li>
          <li>aspiring middle managers for promotion to middle manager roles</li>
        </ul>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">Pathway 2 is a 10-month programme that:
          <ul class="govuk-list govuk-list--bullet">
            <li>runs twice a year starting in January and October</li>
            <li>takes about 56 hours to complete</li>
            <li>combines online and in-person learning</li>
          </ul>
        <h3 class="govuk-heading-m">In-person learning</h3>
        <p class="govuk-body-m">There are 4 days on site at the University of Warwick run as separate 2-day modules.</p>
        <h3 class="govuk-heading-m">Online learning</h3>
        <p class="govuk-body-m">It'll take about 24 hours to complete the online modules, which include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>workshops</li>
          <li>one-to-one coaching</li>
          <li>self-directed study sessions</li>
        </ul>
        <p class="govuk-body-m">Online modules last 1.5 to 3 hours.</p>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">Pathway 2 is funded by the Department for Education.</p>
        <p class="govuk-body-m">Accommodation and meals for the on-site days are included, but your employer will need to cover travel costs.</p>
        <h2 class="govuk-heading-l">Next steps</h2>
        <p class="govuk-body-m">Speak to your line manager to get support for you doing Pathway 2.</p>
        <p class="govuk-body-m">If you’re an aspiring middle manager, you’ll also need to answer questions about your work experience as part of your application.</p>
        <p class="govuk-body-m"><a href="https://thefrontline.org.uk/pathways-programme/pathways-programme-apply/">Find out more about Pathway 2 including how to apply</a> on the Frontline website.</p>
    <br>

    <!--RIGHT HAND NAV -->
   
      {% include "../../includes/dfe-pqs-aside.html" %}
    </div>
  </div>
</div>


{% endblock %}
