{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}
{% set pageName = "resources" %}

{% block content %}



<div class="dfe-width-container govuk-grid-row">
<div class="govuk-grid-column-three-quarter">

  <iframe id="player" type="text/html" width="640" height="390" src="https://www.youtube.com/embed/MMfqMSPKGj4?si=zG6jaNhjalkN0rfD" frameborder="0"></iframe>
  <details class="govuk-details govuk-!-margin-top-3" data-module="govuk-details">
      <summary class="govuk-details__summary"> <span class="govuk-details__summary-text">View transcript  </span></summary>
      <div class="govuk-details__text">
          @{
              await Html.RenderPartialAsync("_RichText", Model.Transcript);
          }
      </div>
  </details>

</div>
</div>

{% endblock %}
