{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}

{% block content %}



<div class="dfe-width-container govuk-grid-row">
<div class="govuk-grid-column-three-quarter">
  <span class="govuk-caption-l">Resources</span>
  <h1 class="govuk-heading-xl">Strengthening Families Financial Benefits Tool</h1>
  <p class="govuk-body">Strengthening Families partner Mutual Ventures have developed an Excel tool to help adopter authorities forecast and track some of the financial benefits of implementing one of the Strengthening Families innovations.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <ul class="course-details govuk-list">
    <li>
    <span class="govuk-!-font-size-16">From: Social care institute for excellence</span>
    </li>
    <li>
    <span class="govuk-!-font-size-16">Published: 8 September 2023</span>
    </li>
    <li>
      <span class="govuk-!-font-size-16">Last updated: 8 September 2023</span>
      </li>
      <li>
        <span class="govuk-!-font-size-16">Resource type: CPD resource </span>
        </li>
        <li>
          <span class="govuk-!-font-size-16">Topic:  Workforce plannning </span>
          </li>
        <li>
          <span class="govuk-!-font-size-16">Career stage: Practitioner</span>
          </li>
          
  </ul>
  <h2 class="govuk-heading-l">A codesigned financial benefits tool</h2>

  <p class="govuk-body-m">The tool is intended to facilitate discussion with local authority members and senior officers on the potential for financial benefits in excess of (and often far greater than) any additional ongoing costs. The ability to communicate these benefits is an important factor in ensuring ongoing commitment and funding the innovation after any initial period of grant funding.</p>
  <p class="govuk-body-m">The tool is capable of projecting and tracking financial benefits accruing as a result of four benefit “drivers”: a reduction in the number of young people entering care, fewer Child Protection Plans (CPPs), fewer Child in Need plans, and a reduced reliance on agency social workers. Not all of these drivers are relevant to all of the innovations, so each adopter authority can choose which of these drivers to include.</p>
  <p class="govuk-body-m">The tool has three key features: benchmarking against statistical neighbours, future projections, and tracking of actual benefits.</p>
  <h2 class="govuk-heading-l">Benchmarking against statistical neighbours</h2>
  <p class="govuk-body-m">Using publicly available data for all English local authorities, the tool provides benchmark information for each driver. This includes numbers of entries to care, children in care, young people ceasing to be in care, placement mix, CPPs, and agency social worker percentage.</p>

<div class="dfe-o-banner__image-container">
  <img src="/public/images/cost-savings-figure-1.png" alt="Cost saving figure graph 1">
</div>
<p class="govuk-!-font-size-16">Fig. 1. A chart in the tool that shows an authority’s rate of children entering care over a period of 5 years compared to statistical neighbour and national benchmarks</p>

<div class="govuk-!-margin-top-8">
  <div class="dfe-o-banner__image-container">
    <img src="/public/images/cost-savings-figure-2.png" alt="Cost saving figure graph 2">
  </div>
  <p class="govuk-!-font-size-16">Fig. 2. Another chart in the tool that compares an authority’s number of children in care to its statistical neighbours.

  </p>

  <div class="govuk-!-margin-top-8">

  <h2 class="govuk-heading-l">Future projections</h2>
  <p class="govuk-body-m">The tool requires the adopter authority to project up to three future trajectories for each of the benefit drivers. In doing this, the authority will want to consider the impact observed at those authorities that have already implemented the innovation. It will also want to consider the scope for change from its own starting point (for example its rate of entries to care per 10,000 children compared to statistical neighbours).</p>

  <p class="govuk-body-m">The tool translates an authority’s projected trajectories into an estimated financial impact using a set of unit costs that the authority can tailor to reflect its own placement and other costs. The tool also uses the authority’s historic data to model the impact of reduced entries to care in one year on the number of children in care in future years. This reflects the potential for each individual entry to care to result in costs for several years into the future. This can be particularly significant in the case of children in younger age groups, many of whom remain in care until they are 18.</p
    
    <div class="govuk-!-margin-top-8">
      <div class="dfe-o-banner__image-container">
        <img src="/public/images/cost-savings-figure-3.png" alt="Cost saving figure graph 3">
      </div>
      <p class="govuk-!-font-size-16">Fig. 3. The tool charts an authority’s projected number of children entering care. The dashed lines show alternative potential scenarios for the rate of reduction.
    
      </p>
      </div>
      <div class="govuk-!-margin-top-8">
        <div class="dfe-o-banner__image-container">
          <img src="/public/images/cost-savings-figure-4.png" alt="Cost saving figure graph 4">
        </div>
        <p class="govuk-!-font-size-16">Fig. 4. The tool charts the potential cost avoided based on the projections in Fig. 3
      
        </p>
        </div>
    <h2 class="govuk-heading-l">Tracking actuals</h2>
    <p class="govuk-body-m">Once the innovation has been implemented, the tool allows the adopter authority to track actual numbers of entries to care, CPPs, etc against the previously projected trajectories. As with the future projections, the tool also estimates the financial impact that these have had in terms of avoided costs.</p>
    <div class="govuk-!-margin-top-8">
      <div class="dfe-o-banner__image-container">
        <img src="/public/images/cost-savings-figure-5.png" alt="Cost saving figure graph 5">
      </div>
      <p class="govuk-!-font-size-16">Fig 5. A chart in the tool that compares the actual reduction in entries to care to the authority’s original projections.

      </p>
      </div>
      <div class="govuk-!-margin-top-8">
        <div class="dfe-o-banner__image-container">
          <img src="/public/images/cost-savings-figure-6.png" alt="Cost saving figure graph 6">
        </div>
        <p class="govuk-!-font-size-16">Fig 6. A chart in the tool that shows the changes in placements versus the baseline
      
        </p>
        </div>
        <h2 class="govuk-heading-l">Find out more</h2>
    <p class="govuk-body-m">For more information about the Financial Benefits Tool and its use in the Strengthening Families Programme</p>
    
    <h2 class="govuk-heading-l">Acknowledgements</h2>
    <p class="govuk-body-m">The development of the tool has been a collaborative effort with significant input from Hertfordshire, Leeds and North Yorkshire and numerous adopter authorities. Mutual Ventures thank all those that have helped with the scoping, development and testing of the tool.</p>
    
</div>

{% endblock %}
