{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}

{% block content %}



<div class="govuk-width-container dfe-width-container">
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-one-quarter">
      


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
<a class="dfe-vertical-nav__link" href="">Leaders</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Organisations and employers</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="real-life-stories.html">Social workers</a>
</li>

<li class="dfe-vertical-nav__section-item ">
  <a class="dfe-vertical-nav__link" href="real-life-stories.html">Achieving this standard</a>
  </li>
</ul>

</nav>
    </div>
    
  <div class="govuk-grid-column-three-quarters"> 
<div class="dfe-width-container govuk-grid-row">
<div class="govuk-grid-column-three-quarter">
  <span class="govuk-caption-l">Resources</span>
  <h1 class="govuk-heading-xl">
    The Local Government Association Standards for Employers of Social Workers in England
  </h1>
  <p class="govuk-body">The standards set out the shared core expectations of employers which will enable social workers in all employment settings to work effectively and safely.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <ul class="course-details govuk-list">
    <li>
From: Virtual hubs
    </li>
    <li>
    Published: 20 December 2023</li>
    <li>
     Last updated: 20 December 2023
      </li>
      <li>
     Resource type: Employer standards
        </li>
        <li>
          Topic: Local goverment association employer standards
          </li>
        <li>
        Career stage: Leaders
          </li>
  </ul>
  <p class="govuk-body"><a href="#section1">Give feedback about this page</a></p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">



<h2 class="govuk-heading-l">Introduction</h2>
<p class="govuk-body-m">These Standards should be viewed as part of a “whole systems” approach to supporting practitioners in their practice. The Employer Standards should also be aligned with your own organisational policies and practices as mechanisms that support the wellbeing of practitioners and enable them to flourish and do good quality work. The Employer Standards (ES) are assessed through an annual ‘Health Check’ administered in Local Authorities and other social work-related employer organisations. The Health Check is a survey of social workers, approved mental health professionals, occupational therapists, and non-registered social care practitioners (henceforth referred to as practitioners). It is designed to provide important information on how the workforce perceives their practice conditions and aspects of their working environment. The findings provide insight into the challenges you face in the areas identified by the ES and identify areas for improvement.</p>

<h2 class="govuk-heading-l">Resources for leaders</h2>
<p class="govuk-body-m">These resources are designed to support you as leaders to respond to your organisation’s Health Check scores against each of the Standards. They aim to support you in implementing strategies that will enhance working conditions and optimise organisational culture. These actions will help to improve organisational functioning, workforce wellbeing, potentially enhance recruitment and retention and are likely to have a positive impact on direct practice. The resources also aim to inform organisational level improvements through subsequent waves of the Health Check and provide evidence of action planning for improvement.</p>



<h2 class="govuk-heading-l">Standards for Employers of Social Workers in England</h2>
<ul class="govuk-list">
  <li>
    <a href="resources-social-work-framework.html">1. Strong and clear social work framework</a>
  </li>
  <li>
    <a href="resources-workforce-planning-systems.html">2. Effective workforce planning systems</a>
  </li>
  <li>
    <a href="resources-workloads-and-case-allocation.html">3. Safe workloads and case allocation</a>
    </li>

    <li>
      <a href="resources-wellbeing.html">4. Wellbeing</a>
      </li>

      <li>
        <a href="resources-supervision.html">5. Supervision</a>
        </li>
        <li>
          <a href="resources-continuing-professional-development.html">6. Continuing professional development</a>
          </li>

          <li>
            <a href="resources-professional-registration.html">7. Professional registration</a>
            </li>
            <li>
              <a href="resources-strategic-partnerships.html">8. Strategic partnerships</a>
              </li>
</ul>

<BR>
  <div class="govuk-grid-column-three-quarter">
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text" id="section1">
     Give feedback about this page
    </span>
  </summary>
  
  <div id="feedbackContainer">
    <div id="introductoryText" class="govuk-details__text">Use this form to provide feedback about this page. 
      <br><br>
      If you have more general feedback about this website, please use the form <a href="#">here</a>. <br><br><span id="usefulQuestion">Did you find this page useful?</span></div>
    
    <div class="govuk-details__text">
      <div class="govuk-form-group" id="fieldsetContainer">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="DidYouFindThisPageUseful" name="DidYouFindThisPageUseful" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="DidYouFindThisPageUseful-2" name="DidYouFindThisPageUseful" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful-2">
                No
              </label>
            </div>
          </div>
          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="400">
            <div class="govuk-form-group">
              <div class="govuk-!-margin-top-4 feedback-container">
                <label class="govuk-label" for="additional-comments">
                  Tell us about your experience with this page.
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
              <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 400 characters
              </div>
            </div>
          </div>
    
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" id="submitButton">
              Submit Feedback
            </button>
            <a class="govuk-link" href="#" id="cancelLink">Cancel</a>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  
  <div id="thankYouMessage" style="display: none;">
    Thank you for your feedback on this resource! If you have more general feedback about this website, please use the form <a href="#">here</a>.
  </div>
  
  </details>
</div>

<script>
  document.getElementById("submitButton").addEventListener("click", function() {
    // Code to submit feedback
    // For now, just hide the form and show the thank you message
    document.getElementById("feedbackContainer").style.display = "none";
    document.getElementById("thankYouMessage").style.display = "block";
  });

  document.getElementById("cancelLink").addEventListener("click", function(event) {
    event.preventDefault();
    // Code to reset the form
    // For now, just show the form and hide the thank you message
    document.getElementById("feedbackContainer").style.display = "block";
    document.getElementById("thankYouMessage").style.display = "none";
  });
</script>
</div></div>
{% endblock %}
