{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}
{% set pageName = "resources" %}

{% block content %}
<div class="dfe-width-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-heading-m">Filters</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">

          </li>   
        </ul>
      </div>
      <div class="govuk-summary-card__content">

        <form method="post" action="resources-filter-applied">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Topic
                </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">


                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                          Diversity and inclusion (5)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Practice frameworks (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Strategic partnerships (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Supervision (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Wellbeing (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Workforce planning (4)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Workloads and case allocation (5)
                         </label>
                      </div>
                      
                    </fieldset>
                  </div>
                </div>
              </div>

              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                          Continuing professional development (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                          Diversity and inclusion (5)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Practice frameworks (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Strategic partnerships (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Supervision (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Staff wellbeing (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Workforce planning (4)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Workloads and case allocation (5)
                         </label>
                      </div>
                      
                    </fieldset>
                  </div>
                </div>
              
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Resource provider
                </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                          Families First Children Pathfinder (18)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                          Strengthening Families, Protecting Children (5)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Virtual Hubs (2)
                         </label>
                      </div>
                      
                      
                    </fieldset>
                  </div>
                </div>
              </div>
         

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Format
                </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                          Case study (18)
                         </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Direct tool (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Knowledge articles (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Research papers (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Training courses (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Legislation updates (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Podcasts (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Videos (2)
                         </label>
                      </div>
                      
                    </fieldset>
                  </div>
                </div>
              </div>
         
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Career stage
                    </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
    
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                              Newley qualified practitioner (2)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                              Practitioner (2)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                              Experienced practitoner (5)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                              Manager (3)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                              Senior manager (3)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                              Leader (3)
                             </label>
                          </div>
                          
                          
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
            <button class="govuk-button" data-module="govuk-button">
             Apply filter
             </button>
          </form>
        </div>
      </div>
    </div>



  



  <div class="govuk-grid-column-two-thirds">
    <div class="dfe-width-container">
      <h2 class="govuk-heading-m">All results</h2>

      <p class="govuk-body-m">No filters have been applied, Showing all results.</p>
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  
   
      <div class="grid-row pagination-container">
        <div class="column-half">
            <span class="summary">
                Showing 1 - 20 of <span id="ResultCount" class="result-count">325</span> results
            </span>
        </div>
        
    
        <div class="column-half">
            <div id="js-sort-options" data-ga4-change-category="update-sort select">
                <div class="govuk-form-group sort-options gem-c-select">
                    <label for="order" class="sort-options__label govuk-label">Sort by</label>
                    <select class="js-order-results govuk-select sort-options__select" name="order" id="order" aria-controls="js-search-results-info" data-default-sort-option="relevance" data-relevance-sort-option="relevance" data-module="track-select-change">
                        <option value="updated-newest" selected data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (newest)">Updated (newest)</option>
                        <option value="updated-oldest" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Updated (oldest)">Updated (oldest)</option>
                        <option value="most-viewed" data-track-category="dropDownClicked" data-track-action="clicked" data-track-label="Most viewed">Most viewed</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    

          <ul class="dfeuk-document-list">

            <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
              <h3 class="govuk-heading-m"><a href="resources-strengthening-families-financial-benefits-tool.html" class="govuk-link">Strengthening Families Financial Benefits Tool</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">CPD</strong></h3>
      
              <p class="govuk-body">Strengthening Families partner Mutual Ventures have developed an Excel tool to help adopter authorities forecast and track some of the financial benefits of implementing one of the Strengthening Families innovations.
              </p>
      
      <ul class="dfeuk-document-list__item-metadata">
        <li class="gdfeuk-document-list__attribute">
          From: Social care institute for excellence
        </li>
        <li class="gdfeuk-document-list__attribute">
          Published: 8 Sept 2023
      </li>
        <li class="gdfeuk-document-list__attribute">
         Updated: 18 Sept 2023
      </li>
        <li class="gdfeuk-document-list__attribute">
      Topic: Workforce planning
          </li>
          <li class="gdfeuk-document-list__attribute">
            Estimated read time:  10 mins
                </li>
          <li class="gdfeuk-document-list__attribute">
            Page views:  70
                </li>
              
        </ul>
      </li>

      <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
        <h3 class="govuk-heading-m"><a href="resources-record-your-cpd.html" class="govuk-link">How to record your CPD</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">VIDEO</strong></h3>

        <p class="govuk-body">This video provides step-by-step guidance on how to record your continuing professional development (CPD) on the Research in Practice website and upload it to Social Work England.</p>

<ul class="dfeuk-document-list__item-metadata">
  <li class="gdfeuk-document-list__attribute">
    From: Research in practice
  </li>
  <li class="gdfeuk-document-list__attribute">
    Published: 8 Sept 2023
</li>
  <li class="gdfeuk-document-list__attribute">
   Updated: 18 Sept 2023
</li>
  <li class="gdfeuk-document-list__attribute">
Topic: Workforce planning
    </li>
    <li class="gdfeuk-document-list__attribute">
      Video duration:  10 mins
          </li>
    <li class="gdfeuk-document-list__attribute">
      Page views:  70
          </li>
  </ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="resources-workforce-learning-report.html" class="govuk-link">Workforce Learning Report</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">PDF</strong></h3>

  <p class="govuk-body">A skilled, motivated workforce is at the heart of effective children’s social care. Paying attention to and investing in workforce stability is therefore vital to achieving the outcomes set for local communities and enabling children and families to thrive.
  </p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Social care institute for excellence
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic: Workforce planning
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="resources-five-attributes-of-effective-leadership.html" class="govuk-link">Five Attributes of Effective Leadership within the SFPC Programme</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">PDF</strong></h3>

  <p class="govuk-body">Leadership has a huge influence on the successful implementation of any innovation. This learning report describes five attributes of effective leadership, which were gathered through interviews with leaders in local authorities that are currently successfully implementing with fidelity one of the three innovations: No Wrong Door, Family Safeguarding or Family Valued.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Strengthening Families, Protecting Children
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic: Workforce planning
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="resources-exploring-the-role-of-leadership.html" class="govuk-link">Exploring the role of leadership: Event presentation (June 2022)</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">VIDEO</strong></h3>

  <p class="govuk-body">As a part of a two day Strengthening Families, Protecting Children National Online Learning Event that took place in June 2022, we explored what types of leadership we require to adopt and sustain the SFPC models successfully.
  </p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Strengthening Families, Protecting Children
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic: Workforce planning
</li>
<li class="gdfeuk-document-list__attribute">
  Video duration:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="resources-professional-and-families-working-together.html" class="govuk-link">Professional and families working together in new ways: Event presentation (June 2022)</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">VIDEO</strong></h3>

  <p class="govuk-body">As a part of a two day Strengthening Families, Protecting Children National Online Learning Event that took place in June 2022, we heard from experiences across all three SFPC models to consider some of the benefits, challenges and success factors of working in partnership across the wider system to support families.
  </p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Strengthening Families, Protecting Children 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic: Workforce planning
</li>
<li class="gdfeuk-document-list__attribute">
  Video duration:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="resources-workforce-and-retention.html" class="govuk-link">Workforce and retention: Event presentation (June 2022)</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">VIDEO</strong></h3>

  <p class="govuk-body">As a part of a two day Strengthening Families, Protecting Children National Online Learning Event that took place in June 2022, we explored the opportunities and challenges of the SFPC models on workforce recruitment and retention.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Strengthening Families, Protecting Children
</li>
<li class="gdfeuk-document-list__attribute">
Published: 15 Jun 2022
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 15 June 2022
</li>
<li class="gdfeuk-document-list__attribute">
Topic: Workforce planning
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>


            <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
              <h3 class="govuk-heading-m"><a href="resources-connecting-SFPC.html" class="govuk-link">Connecting SFPC and Supporting Families: Event presentation (June 2022)</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">VIDEO</strong></h3>
      
              <p class="govuk-body">As a part of a two day Strengthening Families, Protecting Children National Online Learning Event that took place in June 2022, Bekah Atherton - Assistant Director at DfE, explored how implementing one of the SFPC models could contribute to meeting the outcomes of the Supporting Families programme.</p>
      
      <ul class="dfeuk-document-list__item-metadata">
        <li class="gdfeuk-document-list__attribute">
          From:  Strengthening Families, Protecting Children 
        </li>
        <li class="gdfeuk-document-list__attribute">
          Published: 15 Jun 2022
      </li>
        <li class="gdfeuk-document-list__attribute">
         Updated: 15 Jun 2022
      </li>
        <li class="gdfeuk-document-list__attribute">
      Topic: Workforce planning
          </li>
          <li class="gdfeuk-document-list__attribute">
            Video duration:  10 mins
                </li>
          <li class="gdfeuk-document-list__attribute">
            Page views:  70
        </ul>
      </li>
                    
                      
            <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
              <h3 class="govuk-heading-m"><a href="vh-resources-example-content.html" class="govuk-link">Virtual hubs content example </a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>
  
              <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>
  
      <ul class="dfeuk-document-list__item-metadata">
        <li class="gdfeuk-document-list__attribute">
          From: Author 1 or service 
        </li>
        <li class="gdfeuk-document-list__attribute">
          Published: 8 Sept 2023
</li>
        <li class="gdfeuk-document-list__attribute">
         Updated: 18 Sept 2023
</li>
        <li class="gdfeuk-document-list__attribute">
  Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
          </li>
        </ul>
      </li>
      <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
        <h3 class="govuk-heading-m"><a href="" class="govuk-link">Legislation update example Lorem ipsum dolor sit amet, at cetero numquam feugait nam feuga</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">LEGISLATION UPDATE</strong></h3>

        <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
  <li class="gdfeuk-document-list__attribute">
    From: Author 1 or service 
  </li>
  <li class="gdfeuk-document-list__attribute">
    Published: 8 Sept 2023
</li>
  <li class="gdfeuk-document-list__attribute">
   Updated: 18 Sept 2023
</li>
  <li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
    </li>
    <li class="gdfeuk-document-list__attribute">
      Estimated read time:  10 mins
          </li>
    <li class="gdfeuk-document-list__attribute">
      Page views:  70
          </li>
  </ul>
</li>
<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="resources-example-podcast.html" class="govuk-link">Podcast example </a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Podcast</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Audio duration:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>
<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="resources-example-video.html" class="govuk-link">Video example </a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Video</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="resources-example-content-pdf.html" class="govuk-link">Case study example including PDF's</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="" class="govuk-link">Case study example </a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="" class="govuk-link">Case study example </a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="" class="govuk-link">Case study example at cetero numquam feugait nam feuga</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="" class="govuk-link">Case study example </a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="" class="govuk-link">Case study example Id choro eleifend pro</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="" class="govuk-link">Case study example </a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>

<li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
  <h3 class="govuk-heading-m"><a href="" class="govuk-link">Case study example </a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">Case study</strong></h3>

  <p class="govuk-body">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. Vim cu option regione cotidieque. Id choro eleifend pro.</p>

<ul class="dfeuk-document-list__item-metadata">
<li class="gdfeuk-document-list__attribute">
From: Author 1 or service 
</li>
<li class="gdfeuk-document-list__attribute">
Published: 8 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Updated: 18 Sept 2023
</li>
<li class="gdfeuk-document-list__attribute">
Topic:    Child and family social work
</li>
<li class="gdfeuk-document-list__attribute">
  Estimated read time:  10 mins
      </li>
<li class="gdfeuk-document-list__attribute">
  Page views:  70
      </li>
</ul>
</li>



  
           
        
                    </div>
  
                    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  
                    <div class="dfe-width-container">
                    
                <div class="grid-row pagination-container">
                  <div class="column-half">
                      <span class="summary">
                          Showing 1 - 20 of <span id="ResultCount" class="result-count">325</span> results
                      </span>
                  </div>
                  
              
                  <div class="column-half">
                    {% from "govuk/components/pagination/macro.njk" import govukPagination %}
                  
                    {{ govukPagination({

                        next: {
                            href: "#"
                        },
                        items: [
                            {
                                number: 1,
                                current: true,
                                href: "#"
                            },
                            {
                                number: 2,
                                href: "#"
                            },
                            {
                                number: 3,
                                href: "#"
                            }
                        ]
                    }) }}
              </div>
            </div>
  

{% endblock %}
