{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}


{% block content %}



<div class="govuk-width-container dfe-width-container">
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-one-quarter">
      


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

  <li class="dfe-vertical-nav__section-item">
    <a class="dfe-vertical-nav__link" href="resources-nwag-standards.html">Employer standards introduction</a>
    </li>

  <li class="dfe-vertical-nav__section-item">
<a class="dfe-vertical-nav__link" href="resources-nwag-framework-for-practice.html">1. Framework for practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="">2. Workforce planning</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="">3. Safe workloads</a>
</li>

<li class="dfe-vertical-nav__section-item ">
  <a class="dfe-vertical-nav__link" href="">4. Workforce wellbeing</a>
  </li>

  <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
    <a class="dfe-vertical-nav__link" href="resources-nwag-supervision-intro.html">5. Supervision</a>
    </li>

    <li class="dfe-vertical-nav__section-item ">
      <a class="dfe-vertical-nav__link" href="">6. Continuous professional development</a>
      </li>
      <li class="dfe-vertical-nav__section-item ">
        <a class="dfe-vertical-nav__link" href="">7. Professional registration</a>
        </li>
        <li class="dfe-vertical-nav__section-item ">
          <a class="dfe-vertical-nav__link" href="">8. Strategic partnership</a>
          </li>
          <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="">Employer standards learning resources</a>
            </li>

        </ul>

</nav>
    </div>
    
  <div class="govuk-grid-column-three-quarters"> 
<div class="dfe-width-container govuk-grid-row">
<div class="govuk-grid-column-three-quarter">
  <span class="govuk-caption-l">National Workload Action Group employer standards</span>
  <h1 class="govuk-heading-xl">5. Supervision</h1>

  <aside class="part-navigation-container" role="complementary">
    <nav data-module="gem-track-click ga4-link-tracker" aria-label="Travel advice pages" class="gem-c-contents-list" role="navigation">
<h2 class="gem-c-contents-list__title">
  Contents
</h2>
<ol class="gem-c-contents-list__list">
  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
   Introduction
  </li>
  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
    <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="resources-nwag-supervision-standard.html">Supervision standard</a>
  </li>

    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="resources-nwag-supervision-leaders.html">Leaders</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="resources-nwag-organisations-and-employers.html">Organisations and employers</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="resources-nwag-achieving-this-standard.html">Achieving this standard</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="">Resources for this standard</a>
    

</ol>
</nav>
 
  
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <ul class="course-details govuk-list">
    <li>
   From: Virtual hubs and Research in practice
    </li>
    <li>
   Published: 8 September 2023
    </li>
    <li>
  Last updated: 8 September 2023
      </li>
      <li>
     Resource type: Employer standards
        </li>
        <li>
        Career stage: Leaders
          </li>
  </ul>
  <p class="govuk-body"><a href="#section1">Give feedback about this page</a></p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-l">Key takeaways</h2>
<p class="govuk-body-m">High quality supervision can support wellbeing and contribute to improved retention.</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    practitioners' wellbeing can be enhanced, and the risk of stress and burnout reduced, through the provision of good-quality reflective supervision.
  </li>
  <li>
  outcomes for children and young people can be improved through direct practice which is supported through effective supervision.
  </li>
    </ul>
    <p class="govuk-body-m">Reflective learning and organisational cultures should be prioritised.</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
      organisational cultures prioritising learning are more likely to support and develop high-quality supervision.
      </li>
      <li>
      practitioners benefit from working in organisations that value and reinforce reflection and learning, improving recruitment, retention and reputation
      </li>
      <li>
      leaders who recognise that learning can be accelerated through developing a ‘no blame’ culture and actively encouraging curiosity about why things happen are more likely to create the conditions for high-quality reflective learning.
        </li>
        </ul>


        <p class="govuk-body-m">Support is crucial.</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
          at all levels, effective leaders offer support and encourage open, reflective communication, feedback, and discussion.
          </li>
          <li>
          being a role model for emotionally literate leadership and mindful listening can encourage people to seek out reflective space and guidance when making complex decisions.
          </li>
          <li>
          support needs to be delivered within a culture which is psychologically safe.
            </li>
            <li>
          having role models for culturally sensitive leadership is particularly important if people from the global majority are to feel held and supported.
                </li>
            </ul>


            <p class="govuk-body-m">Supervisor learning and development is important.</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>
              a well-developed, responsive supervisor, capable of managing the emotional complexity of social work practice, is more likely to deliver high-quality reflective supervision.
              </li>
              <li>
              evidence suggests that systemically informed supervision is likely to be more
              </li>
                </ul>
        

                <p class="govuk-body-m">Both quality and quantity of supervision must be measured.</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>
                  frequent poor-quality social work supervision or infrequent high-quality reflective opportunities is not enough to support effective practice consistently.
                  </li>
                  <li>
                  audits of social work practice should not only focus on measuring the frequency of supervision, the quality of supervisory recordings, or practitioners' self-reported.
                  </li>
                    </ul>


<div class="govuk-!-margin-top-8">
  <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination" data-module="ga4-link-tracker">

    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="resources-nwag-supervision-leaders.html" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/foreign-travel-advice/egypt/entry-requirements" data-track-dimension="next" data-track-dimension-index="29" data-ga4-link='{"event_name":"navigation","type":"previous and next","text":"Entry requirements","section":"Next"}'>
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
        <span class="govuk-pagination__link-title">Next</span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Leaders</span>
      </a>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<BR>

  <div class="govuk-grid-column-three-quarter">
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text" id="section1">
     Give feedback about this page
    </span>
  </summary>
  
  <div id="feedbackContainer">
    <div id="introductoryText" class="govuk-details__text">Use this form to provide feedback about this page. 
      <br><br>
      If you have more general feedback about this website, please use the form <a href="#">here</a>. <br><br><span id="usefulQuestion">Did you find this page useful?</span></div>
    
    <div class="govuk-details__text">
      <div class="govuk-form-group" id="fieldsetContainer">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="DidYouFindThisPageUseful" name="DidYouFindThisPageUseful" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="DidYouFindThisPageUseful-2" name="DidYouFindThisPageUseful" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful-2">
                No
              </label>
            </div>
          </div>
          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="400">
            <div class="govuk-form-group">
              <div class="govuk-!-margin-top-4 feedback-container">
                <label class="govuk-label" for="additional-comments">
                  Tell us about your experience with this page.
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
              <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 400 characters
              </div>
            </div>
          </div>
    
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" id="submitButton">
              Submit Feedback
            </button>
            <a class="govuk-link" href="#" id="cancelLink">Cancel</a>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  
  <div id="thankYouMessage" style="display: none;">
    Thank you for your feedback on this resource! If you have more general feedback about this website, please use the form <a href="#">here</a>.
  </div>
  
  </details>
</div>

<script>
  document.getElementById("submitButton").addEventListener("click", function() {
    // Code to submit feedback
    // For now, just hide the form and show the thank you message
    document.getElementById("feedbackContainer").style.display = "none";
    document.getElementById("thankYouMessage").style.display = "block";
  });

  document.getElementById("cancelLink").addEventListener("click", function(event) {
    event.preventDefault();
    // Code to reset the form
    // For now, just show the form and hide the thank you message
    document.getElementById("feedbackContainer").style.display = "block";
    document.getElementById("thankYouMessage").style.display = "none";
  });
</script>
</div></div>
{% endblock %}
