{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}


{% block content %}



<div class="govuk-width-container dfe-width-container">
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-one-quarter">
      


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

  <li class="dfe-vertical-nav__section-item">
    <a class="dfe-vertical-nav__link" href="resources-nwag-standards.html">Employer standards introduction</a>
    </li>

  <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
<a class="dfe-vertical-nav__link" href="">1. Framework for practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">2. Workforce planning</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="real-life-stories.html">3. Safe workloads</a>
</li>

<li class="dfe-vertical-nav__section-item ">
  <a class="dfe-vertical-nav__link" href="real-life-stories.html">4. Workforce wellbeing</a>
  </li>

  <li class="dfe-vertical-nav__section-item ">
    <a class="dfe-vertical-nav__link" href="real-life-stories.html">5. Supervision</a>
    </li>

    <li class="dfe-vertical-nav__section-item ">
      <a class="dfe-vertical-nav__link" href="real-life-stories.html">6. Continuous professional development</a>
      </li>
      <li class="dfe-vertical-nav__section-item ">
        <a class="dfe-vertical-nav__link" href="real-life-stories.html">7. Professional registration</a>
        </li>
        <li class="dfe-vertical-nav__section-item ">
          <a class="dfe-vertical-nav__link" href="real-life-stories.html">8. Strategic partnership</a>
          </li>
          <li class="dfe-vertical-nav__section-item ">
            <a class="dfe-vertical-nav__link" href="real-life-stories.html">Employer standards learning resources</a>
            </li>

        </ul>

</nav>
    </div>
    
  <div class="govuk-grid-column-three-quarters"> 
<div class="dfe-width-container govuk-grid-row">
<div class="govuk-grid-column-three-quarter">
  <span class="govuk-caption-l">National Workload Action Group employer standards</span>
  <h1 class="govuk-heading-xl">1. Framework for practice</h1>

  <aside class="part-navigation-container" role="complementary">
    <nav data-module="gem-track-click ga4-link-tracker" aria-label="Travel advice pages" class="gem-c-contents-list" role="navigation">
<h2 class="gem-c-contents-list__title">
  Contents
</h2>
<ol class="gem-c-contents-list__list">
  <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed gem-c-contents-list__list-item--active" aria-current="true">
   Introduction
  </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="">Leaders</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="">Organisations and employers</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="">Social workers</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="">Achieving this standard</a>
    </li>
    <li class="gem-c-contents-list__list-item gem-c-contents-list__list-item--dashed">
      <a class="gem-c-contents-list__link govuk-link" data-track-category="contentsClicked" data-track-action="content_item 3" data-track-label="/foreign-travel-advice/egypt/safety-and-security" data-track-options='{"dimension29":"Safety and security"}' data-ga4-link='{"event_name":"navigation","section":"Contents","index_total":6,"index":{"index_link":3},"type":"contents list"}' href="">Resources for this standard</a>
    

</ol>
</nav>
 
  
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <ul class="course-details govuk-list">
    <li>
   From: Virtual hubs and Research in practice
    </li>
    <li>
   Published: 8 September 2023
    </li>
    <li>
  Last updated: 8 September 2023
      </li>
      <li>
     Resource type: Employer standards
        </li>
        <li>
        Career stage: Leaders
          </li>
  </ul>
  <p class="govuk-body"><a href="#section1">Give feedback about this page</a></p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h2 class="govuk-heading-l">Infographic summary</h2>
<p class="govuk-body-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
<p class="govuk-body-m">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Etiam rhoncus.</p>

<h2 class="govuk-heading-l">Key takeaways from standard</h2>
<p class="govuk-body-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>
<p class="govuk-body-m">Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus. Etiam rhoncus.</p>

<p class="govuk-body-m">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.</p>

<div class="govuk-!-margin-top-8">
  <nav class="govuk-pagination govuk-pagination--block" role="navigation" aria-label="Pagination" data-module="ga4-link-tracker">

    <div class="govuk-pagination__next">
      <a class="govuk-link govuk-pagination__link" href="vh-resources-example-content-page2" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/foreign-travel-advice/egypt/entry-requirements" data-track-dimension="next" data-track-dimension-index="29" data-ga4-link='{"event_name":"navigation","type":"previous and next","text":"Entry requirements","section":"Next"}'>
        <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewbox="0 0 15 13">
          <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
        </svg>
        <span class="govuk-pagination__link-title">Next</span>
          <span class="govuk-visually-hidden">:</span>
          <span class="govuk-pagination__link-label">Leaders</span>
      </a>
    </div>
    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<BR>

  <div class="govuk-grid-column-three-quarter">
<details class="govuk-details" data-module="govuk-details">
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text" id="section1">
     Give feedback about this page
    </span>
  </summary>
  
  <div id="feedbackContainer">
    <div id="introductoryText" class="govuk-details__text">Use this form to provide feedback about this page. 
      <br><br>
      If you have more general feedback about this website, please use the form <a href="#">here</a>. <br><br><span id="usefulQuestion">Did you find this page useful?</span></div>
    
    <div class="govuk-details__text">
      <div class="govuk-form-group" id="fieldsetContainer">
        <fieldset class="govuk-fieldset">
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="DidYouFindThisPageUseful" name="DidYouFindThisPageUseful" type="radio" value="yes">
              <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="DidYouFindThisPageUseful-2" name="DidYouFindThisPageUseful" type="radio" value="no">
              <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful-2">
                No
              </label>
            </div>
          </div>
          <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="400">
            <div class="govuk-form-group">
              <div class="govuk-!-margin-top-4 feedback-container">
                <label class="govuk-label" for="additional-comments">
                  Tell us about your experience with this page.
                </label>
                <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
              </div>
              <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                You can enter up to 400 characters
              </div>
            </div>
          </div>
    
          <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button" id="submitButton">
              Submit Feedback
            </button>
            <a class="govuk-link" href="#" id="cancelLink">Cancel</a>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
  
  <div id="thankYouMessage" style="display: none;">
    Thank you for your feedback on this resource! If you have more general feedback about this website, please use the form <a href="#">here</a>.
  </div>
  
  </details>
</div>

<script>
  document.getElementById("submitButton").addEventListener("click", function() {
    // Code to submit feedback
    // For now, just hide the form and show the thank you message
    document.getElementById("feedbackContainer").style.display = "none";
    document.getElementById("thankYouMessage").style.display = "block";
  });

  document.getElementById("cancelLink").addEventListener("click", function(event) {
    event.preventDefault();
    // Code to reset the form
    // For now, just show the form and hide the thank you message
    document.getElementById("feedbackContainer").style.display = "block";
    document.getElementById("thankYouMessage").style.display = "none";
  });
</script>
</div></div>
{% endblock %}
