{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}

{% block content %}
<div class="govuk-grid-column-three-quarter">
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Give feedback about this page
      </span>
    </summary>
    
    <div id="feedbackContainer">
      <div id="introductoryText" class="govuk-details__text">Use this form to provide feedback about this page. If you have more general feedback about this website, please use the form <a href="#">here</a>. <br><br><span id="usefulQuestion">Did you find this page useful?</span></div>
      
      <div class="govuk-details__text">
        <div class="govuk-form-group" id="fieldsetContainer">
          <fieldset class="govuk-fieldset">
            <div class="govuk-radios" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DidYouFindThisPageUseful" name="DidYouFindThisPageUseful" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="DidYouFindThisPageUseful-2" name="DidYouFindThisPageUseful" type="radio" value="no">
                <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful-2">
                  No
                </label>
              </div>
            </div>
            <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="400">
              <div class="govuk-form-group">
                <div class="govuk-!-margin-top-4 feedback-container">
                  <label class="govuk-label" for="additional-comments">
                    Tell us about your experience with this page.
                  </label>
                  <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
                </div>
                <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                  You can enter up to 400 characters
                </div>
              </div>
            </div>
      
            <div class="govuk-button-group">
              <button class="govuk-button" data-module="govuk-button" id="submitButton">
                Submit Feedback
              </button>
              <a class="govuk-link" href="#" id="cancelLink">Cancel</a>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
    
    <div id="thankYouMessage" style="display: none;">
      Thank you for your feedback on this resource! If you have more general feedback about this website, please use the form <a href="#">here</a>.
    </div>
    
    </details>
  </div>
  
  <script>
    document.getElementById("submitButton").addEventListener("click", function() {
      // Code to submit feedback
      // For now, just hide the form and show the thank you message
      document.getElementById("feedbackContainer").style.display = "none";
      document.getElementById("thankYouMessage").style.display = "block";
    });
  
    document.getElementById("cancelLink").addEventListener("click", function(event) {
      event.preventDefault();
      // Code to reset the form
      // For now, just show the form and hide the thank you message
      document.getElementById("feedbackContainer").style.display = "block";
      document.getElementById("thankYouMessage").style.display = "none";
    });
  </script>
{% endblock %}
