{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}

{% block content %}

<details class="govuk-details" data-module="govuk-details">

  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      Give feedback about this page
    </span>
  </summary>
  
  <div class="govuk-details__text">Use this form to provide feedback about this page. If you have more general feedback about this website, please use the form here.</div>
  
  <div class="govuk-details__text">
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend">
          Did you find this page useful?
        </legend>
        <div class="govuk-radios" data-module="govuk-radios">
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="DidYouFindThisPageUseful" name="DidYouFindThisPageUseful" type="radio" value="yes">
            <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful">
              Yes
            </label>
          </div>
          <div class="govuk-radios__item">
            <input class="govuk-radios__input" id="DidYouFindThisPageUseful-2" name="DidYouFindThisPageUseful" type="radio" value="no">
            <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful-2">
              No
            </label>
          </div>
          
          </div>
          <div class="govuk-!-margin-top-4 feedback-container">
            <label class="govuk-label" for="feedback">
              Tell us about your experience with this page.
            </label>
            <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
        <div class="govuk-!-margin-top-4 feedback-container">
          <label class="govuk-label" for="feedback">
              Do you have any additional comments?
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
      </div>

            <div class="govuk-button-group">
            <button class="govuk-button" data-module="govuk-button">
              Send
            </button>
            <a class="govuk-link" href="#">Cancel</a>
          </div>
            
          
</details>
{% endblock %}
