{% extends "layout_futurestate.html" %}




{% block content %}
<div class="govuk-grid-row">
<div class="dfe-grid-column-three-quarters"> 
  <h1 class="govuk-heading-xl">Sitemap</h1>
  <h2 class="govuk-heading-l"><a class="govuk-link" href="about-cfsw.html">About</a></h2>
  <p><a href="starting-your-career.html">Starting your career</a></p>
  <p><a href="career-paths.html">Career paths</a></p>


  <h2 class="govuk-heading-l"><a class="govuk-link" href="career-stages.html">Career stages</a></h2>
  <p><a href="practitioners-sub-nav.html">Practitioner</a></p>
  <p><a href="experienced-practitioners-sub-nav.html">Experienced practitioner</a></p>
  <p><a href="managers-sub-nav.html">Manager</a></p>
  <p><a href="senior-managers-sub-nav.html">Senior manager</a></p>
  <p><a href="leaders-sub-nav.html">Senior leader</a></p>

 
  <h2 class="govuk-heading-l"><a class="govuk-link" href="development-programmes.html">Development programmes</a></h2>
  <p><a href="asye.html">Assessed and supported year in employment (ASYE)</a></p>
  <p><a href="pathway-1.html">Pathway 1: practice supervisor</a></p>
  <p><a href="pathway-2.html">Pathway 2: middle managers</a></p>
  <p><a href="pathway-3.html">Pathway 3: heads of service</a></p>
  <p><a href="pathway-4.html">Pathways 4:practice leaders</a></p>
  <p><a href="upon-aspiring-directors.html">Upon: aspirant directors programme</a></p>
  <p><a href="upon-new-directors.html">Upon: new directors programme</a></p>

 
  <h2 class="govuk-heading-l"><a class="govuk-link" href="explore-roles.html">Explore roles</a></h2>

  <p><a href="explore-areas-of-practice.html">Explore areas of practice</a></p>
  <p><a href="real-life-stories.html">Real life stories</a></p>


  <h2 class="govuk-heading-l"><a class="govuk-link" href="resources">Resources and learning</a></h2>


  <h2 class="govuk-heading-l"><a class="govuk-link" href="news">News</a></h2>


</div>
</div>
            

            
{% endblock %}

