{% extends "layout_futurestate.html" %}
{% set nav3Active = true %}

{% block pageTitle %}
Youth justice - Develop your career in child and family social work  {{ serviceName }}
{% endblock %}



{% block content %}


<div class="govuk-width-container dfe-width-container">
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-one-quarter">
      


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item">
<a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item  dfe-vertical-nav__section-item--current">
<a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
    </div>
    
  <div class="govuk-grid-column-three-quarters"> 

    <span class="govuk-caption-l">Areas of practice</span>
    <h1 class="govuk-heading-xl">Youth justice</h1>



          <dl class="govuk-summary-list">
           
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Summary
            </dt>
            <dd class="govuk-summary-list__value">
              Work with children to provide interventions that prevent offending and create safer communities
            </dd>
          
          </div>
          <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Other names
          </dt>
          <dd class="govuk-summary-list__value">
            Youth offending
          </dd>
        </div>
        
      
          
        </dl>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  What you'll do
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">Your responsibilities will vary depending on your role and position in the team.</p>
              <p class="govuk-body-m">Social workers in youth justice teams are expected to:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>provide direct support to children involved in or at risk of offending</li>
                <li>engage with children’s needs and strengths to enable them to make a positive contribution to society</li>
                <li>facilitate appropriate interventions and access to education and employment programmes</li>
                <li>assess and prioritise the safety and well-being of children and others</li>
                <li>advocate for children and empower them to participate in decision-making</li>
                <li>collaborate with external partners to coordinate effective interventions and support</li>
                <li>develop plans with families and other appropriate interventions to enable change</li>
                <li>monitor the progress of interventions and evaluate their effectiveness</li>
                <li>prepare reports and assess risk for courts, children’s panels and out-of-court disposals</li> 
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  Skills and knowledge
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">The skills and knowledge you need will vary depending on your role and position in the team.</p>
              <p class="govuk-body-m">Social workers in youth justice teams are expected to have:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>an understanding of child development theories and frameworks</li>
                <li>an understanding of the youth justice system and relevant legislation and policies</li>
                <li>knowledge of safety and well-being assessments specific to youth justice</li>
                <li>interpersonal skills to build effective relationships with children</li>
                <li>knowledge of interventions that promote resilience and reduce the risk of re-offending</li>
                <li>the ability to motivate children and promote active participation in interventions</li>
                <li>experience of working effectively with external partners such as the police and courts</li>
                <li>knowledge of writing clear and evidence-based reports for courts</li>
                <li>the ability to work effectively with young people from diverse backgrounds and communities</li>
              </ul>             
            <p class="govuk-body-m">It could also be useful to have a qualification from a specialised training programme in:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>restorative justice</li>
                <li>trauma-informed practice</li>
                <li>risk management</li>
                <li>effective intervention strategies</li>
              </ul>             
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  Who you'll work with
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              <p class="govuk-body-m">You could work with external partners and services including:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>police and emergency services</li>
                <li>probation services</li>
                <li>mental health services</li>
                <li>schools</li>
                <li>substance misuse workers</li>
                <li>employment specialists</li>
                <li>community organisations</li>
                <li>legal professionals</li>
              </ul>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                  How you'll work
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
              <p class="govuk-body-m">Working conditions can vary, but you could:</p>
                <ul class="govuk-list govuk-list--bullet">
                <li>be office-based on work remotely, or a combination of both</li>
                <li>work full-time or part-time</li>
                <li>work flexible hours, compressed hours or have a job share</li>
                <li>travel?</li>
                <li>support systems in place for the team, such as supervision, training, and access to resources?</li>
              </ul>

            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                  Current opportunities
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
              <p class="govuk-body-m">The <a href="https://findajob.dwp.gov.uk/">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
            </div>
          </div>
        </div>
    


    <section class="govuk-section">
              
      <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
        <div class="dfe-o-banner__content-container dfe-light-blue-tint">
          <div class="dfe-o-banner__inner-content-container">
            <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
            <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
            <a href="testimonial1.html" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
          </div>
        </div>
        <div class="dfe-o-banner__image-container">
          <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image">
        </div>
      </div>
   
  </section>

  <section class="govuk-section">
              
    <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
      <div class="dfe-o-banner__content-container dfe-light-blue-tint">
        <div class="dfe-o-banner__inner-content-container">
          <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
          <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
          <a href="testimonial1.html" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
        </div>
      </div>
      <div class="dfe-o-banner__image-container">
        <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image of three children looking at a phone">
      </div>
    </div>
 
</section>

  <div class="govuk-!-margin-top-6"></div>



<!--Related links -->
<div class="govuk-!-margin-top-28">
  {% include "../../includes/dfe-pqs-aside.html" %}
</div>
</div>


{% endblock %}
