// CSS for DfE specific components
// Various overrides of gov styling as required
// DO NOT use this code in a production environment

/* STANDARD COLOURS */

$colour-drop-shadow: #1d70b8;
$colour-image-placeholder: #b1b4b6;
$colour-secondary-text: #505a5f;
$colour-border-grey: #b1b4b6;
$colour-card-background: #F3F2F1;
$govuk-black: #0b0c0c;
$dfe-blue: #003a69;
$dfe-yellow-link: #ffdd00;
$dfe-accent: #347ca9;
$gov-blue: #1d70b8;
$color-dfe-white: #ffffff;

/* Set fonts */
body, p, h1, h2, h3, h4, h5, h6, a, span, div, table, th, td, blockquote, li, tr {
    font-family:
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif !important;
}

.logo {
  display: block;
  max-height: 32px;
  max-width: 100%;
}


/* HOMEPAGE HERO BANNER
----------------------- */

.app-section-beta {
  padding: 30px 0;

  &__blue {
    background-color: $dfe-accent;
  }
}

.body-header-font {
  color: white;
}

/* DFE HEADER - CODE FROM DFE DESIGN GUIDE AND WITH EDITS
--------------------------------------------------------- */

.govuk-header {
  background-color: $dfe-blue;

  &__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid $dfe-accent;
  }

  &__product-name, &__logotype-text {
    line-height: 2.5rem !important;
    font-size: 1.2rem;
  }
}

.app-header .govuk-header__logo {
    width: 85%;
}

.app-header .govuk-header__content {
    width: 0;
}

.govuk-header__logotype-crown-fallback-image{height: 45px; width: 45px;}

/*
.govuk-header__product-name::before {
    content: "Department for Education ";
    font-weight: 600;
    background-image: url(../images/crest.png) !important;
    padding: 8px 10px 10px 55px;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -5px;
}*/

.govuk-header__logotype-text::after {
  content: "|";
}

.govuk-header__logotype {
  margin-right: 0;
}

.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:visited {
    color: #f3f2f1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.1em;
}

@media (max-width: 40.0625em) {
    .govuk-header__product-name {
      max-width: 80%;
      line-height: 1.2rem !important;
      font-size: 1rem;
  }
  .govuk-header__logotype-text {
    min-width: 100%;
    line-height: 2.2rem !important;
    font-size: 1rem;
  }
}

/* DFE CARD COMPONENT - NEW
--------------------------- */

.dfe-section-card {
  padding: 16px;
  margin-bottom: 20px;
  flex: 1;
  background-color: $colour-card-background;

  &__container {
    display: flex;
    width: 100;
  }

  @media (max-width: 40.0525em) {

    &__container {
      display: grid;
      width: 100;
    }
  }
}

/* ASIDE COMPONENT - NEW
--------------------------- */

.app-related-items {
  border-top: 2px solid $dfe-accent;
  padding-top: 10px;
}

.app-related-items .govuk-list > li {
  margin-bottom: 10px;
}

/* OVERRIDE GOV INSET TEXT STYLING - NEW
--------------------------------------- */

.govuk-inset-text {
  border-left: 10px solid $dfe-accent;
}