// CSS for DfE specific components
// Various overrides of gov styling as required
// DO NOT use this code in a production environment

/* STANDARD COLOURS */

$colour-drop-shadow: #1d70b8;
$colour-image-placeholder: #b1b4b6;
$colour-secondary-text: #505a5f;
$colour-border-grey: #b1b4b6;
$colour-card-background: #F3F2F1;
$govuk-black: #0b0c0c;
$dfe-blue: #003a69;
$dfe-yellow-link: #ffdd00;
$dfe-accent: #347ca9;
$gov-blue: #1d70b8;
$color-dfe-white: #ffffff;
$content-background: #ebf2f6;


/* Set fonts */
body, p, h1, h2, h3, h4, h5, h6, a, span, div, table, th, td, blockquote, li, tr {
    font-family:
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen-Sans,
        Ubuntu,
        Cantarell,
        'Helvetica Neue',
        sans-serif !important;
}

.logo {
  display: block;
  max-height: 32px;
  max-width: 100%;
}


/* HOMEPAGE HERO BANNER
----------------------- */

.app-section-beta {
  padding: 30px 0;

  &__blue {
    background-color: $dfe-accent;
  }
}

.body-header-font {
  color: white;
}

.news-heading-font {
  color:  #1d70b8;
}

.news-date-font {
  color:  #505a5f;
}

/* DFE HEADER - CODE FROM DFE DESIGN GUIDE AND WITH EDITS
--------------------------------------------------------- */

.govuk-header {
  background-color: $dfe-blue;

  &__container {
    position: relative;
    margin-bottom: -10px;
    padding-top: 25px;
    padding-bottom: 15px;
    border-bottom: 10px solid $dfe-accent;
  }

  &__product-name, &__logotype-text {
    line-height: 2.5rem !important;
    font-size: 1.2rem;
  }
}

.app-header .govuk-header__logo {
    width: 85%;
}

.app-header .govuk-header__content {
    width: 0;
}

.govuk-header__logotype-crown-fallback-image{height: 45px; width: 45px;}

/*
.govuk-header__product-name::before {
    content: "Department for Education ";
    font-weight: 600;
    background-image: url(../images/crest.png) !important;
    padding: 8px 10px 10px 55px;
    background-size: 45px;
    background-repeat: no-repeat;
    background-position-x: 0px;
    background-position-y: -5px;
}*/

.govuk-header__logotype-text::after {
  content: "|";
}

.govuk-header__logotype {
  margin-right: 0;
}

.govuk-header__navigation-item--active a:link,
.govuk-header__navigation-item--active a:hover,
.govuk-header__navigation-item--active a:visited {
    color: #f3f2f1;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 0.1em;
}

@media (max-width: 40.0625em) {
    .govuk-header__product-name {
      max-width: 80%;
      line-height: 1.2rem !important;
      font-size: 1rem;
  }
  .govuk-header__logotype-text {
    min-width: 100%;
    line-height: 2.2rem !important;
    font-size: 1rem;
  }
}

/* DFE CARD COMPONENT - NEW
--------------------------- */

.dfe-section-card {
  padding: 16px;
  margin-bottom: 20px;
  flex: 1;
  background-color: $colour-card-background;
  border-bottom: 3px solid #003a69;

  &__container {
    display: flex;
    width: 100;
  }

  @media (max-width: 40.0525em) {

    &__container {
      display: grid;
      width: 100;
    }
  }
}

/* DFE CARD COMPONENT - NEW HP
--------------------------- */

.dfe-section-card-new-hp {
  padding: 16px;
  margin-bottom: 20px;
  flex: 1;
  background-color: $colour-card-background;

  &__container {
    display: block;
    width: 100;
  }

  @media (max-width: 40.0525em) {

    &__container {
      display: block;
      width: 100;
    }
  }
}

/* DFE CTA CARD COMPONENT - NEW
--------------------------- */
.dfe-cta-section-card {
padding: 16px;
margin-bottom: 20px;
flex: 1;
background-color: $color-dfe-white;
border: solid;
border-color: $colour-border-grey;
border-bottom: 0.2rem solid;
border-bottom-color: $dfe-accent;



&__container {
  display: flex;
  width: 100;
}

@media (max-width: 40.0525em) {

  &__container {
    display: grid;
    width: 100;
  }
}
}


 

/* ASIDE COMPONENT - NEW
--------------------------- */

.app-related-items {
  border-top: 2px solid $dfe-accent;
  padding-top: 10px;
}

.app-related-items .govuk-list > li {
  margin-bottom: 10px;
}

/* OVERRIDE GOV INSET TEXT STYLING - NEW
--------------------------------------- */

.govuk-inset-text {
  border-left: 10px solid $dfe-accent;
}

/* DFE NAVIGATION- NEW
--------------------------------------- */
a,blockquote,body,div,h1,h2,h3,h4,h5,h6,li,p,span,table,td,th,tr {
  font-family: BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif!important
}

.dfe-vertical-nav {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: .875rem;
  line-height: 1.14286
}

.dfe-vertical-nav .dfe-vertical-nav--section-header {
  color: #505a5f;
  font-size: 19px;
  line-height: 1.25;
  font-weight: 600;
  color: #505a5f;
  margin-bottom: 15px;
  padding-top: 0
}

@media (min-width: 40.0625em) {
  .dfe-vertical-nav {
      padding-left:15px
  }
}

@media print {
  .dfe-vertical-nav {
      font-size: 14pt;
      line-height: 1.2
  }
}

@media (min-width: 40.0625em) {
  .dfe-vertical-nav {
      margin-left:-15px
  }
}

.dfe-vertical-nav__section {
  margin: 0 0 20px;
  padding: 0;
  list-style-type: none
}

.dfe-vertical-nav__link {
  display: block;
  padding: 7px 30px 8px 10px;
  text-decoration: none;
  margin-bottom: 5px;
  color: #003a69
}

.dfe-vertical-nav__section-item {
  border-left: 4px solid #b1b4b6;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25
}

.dfe-vertical-nav__section-item:hover {
  border-left: 4px solid #347ca9
}

.dfe-vertical-nav__link:focus {
  background: inherit
}

.dfe-vertical-nav__section-item--current {
  border-left: 4px solid #003a69;
  font-weight: 700;
  background: #f3f2f1
}

.dfe-vertical-nav__link:active,.dfe-vertical-nav__link:hover {
  color: #1d70b8;
  border-left-color: #347ca9;
  text-decoration: none;
  box-shadow: none;
  outline: 0
}

.dfe-vertical-nav__link:focus {
  background: #fd0;
  color: #0b0c0c;
  text-decoration: none;
  box-shadow: none;
  outline: 0
}

.dfe-vertical-nav__section-item--current .dfe-vertical-nav__link {
  border-left-color: #003a69;
  font-weight: 700;
  color: #003a69
}

.dfe-vertical-nav__section-item--current .dfe-vertical-nav__link:hover {
  text-decoration: none
}

.dfe-vertical-nav__section--nested {
  margin-bottom: 5px
}

.dfe-vertical-nav__section--nested .dfe-vertical-nav__link {
  padding-left: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: -5px
}

.dfe-vertical-nav__section--nested .dfe-vertical-nav__section-item::before {
  content: "—";
  margin-left: -20px;
  color: #505a5f
}

.dfe-vertical-nav--count {
  float: right;
  background: #b1b4b6;
  padding: 9px 5px 9px 5px;
  border-radius: 0;
  color: #0b0c0c;
  font-weight: 700;
  min-width: 25px;
  text-align: center;
  font-size: 12px
}

@media print {
  .dfe-vertical-nav__theme {
      font-family: sans-serif
  }
}

@media (min-width: 40.0625em) {
  .dfe-vertical-nav__theme {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.31579
  }

  .dfe-vertical-nav--count {
      padding: 12px 8px 12px 8px
  }
}

.dfe-vertical-nav__section .dfe-vertical-nav__section-item--current--child-active .dfe-vertical-nav__link {
  font-weight: 400
}

.dfe-vertical-nav__section .dfe-vertical-nav__section {
  margin-bottom: 0
}

.dfe-vertical-nav__section .dfe-vertical-nav__section .dfe-vertical-nav__section-item {
  border-left: none
}

.dfe-vertical-nav__section .dfe-vertical-nav__section .dfe-vertical-nav__section-item :before {
  content: "—";
  margin-left: 0;
  margin-right: 5px
}

.dfe-vertical-nav__section .dfe-vertical-nav__section.dfe-vertical-nav__section-item--current {
  border-left: none;
  background: #347ca9
}

.dfe-vertical-nav__section .dfe-vertical-nav__section.dfe-vertical-nav__section-item--current .dfe-vertical-nav__link {
  font-weight: 700
}



/* ==========================================================================
CTAs
========================================================================== */
.campaign-cta--light-blue .campaign-cta__content h2,
.campaign-cta--light-blue .campaign-cta__content h3, .campaign-cta--underline .campaign-cta__content h2,
.campaign-cta--underline .campaign-cta__content h3,
.campaign-cta--underline .campaign-cta__content .field-type-text {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 0 1rem 0;
}

.CtaPri {
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  position: relative;
  display: inline-block;
  margin: 1em 0;
  padding: 6px 42px 6px 8px;
  color: #ffffff;
  background: #0f568b;
}

.CtaPri:after {
  content: "";
  position: absolute;
  top: 50%;
  right: 16px;
  display: block;
  margin: -6px 0 0;
  height: 12px;
  width: 8px;
  background: url("/sites/all/themes/healthcareers/_lib/img/sprite.png") no-repeat 0 -14px;
}

a[href].CtaPri {
  color: #ffffff;
}

.campaign-cta {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 20px 0;
  padding: 15px;
  border: 5px solid #f19929;
}

@media (min-width: 38.75em) {
  .campaign-cta {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (min-width: 54.375em) {
  .campaign-cta {
    padding: 25px 50px;
  }
}

@media (min-width: 38.75em) {
  .campaign-cta > * + * {
    margin-left: 40px;
  }
}

.campaign-cta a {
  background-color: #347ca9;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  display: block;
  font-size: 1.5em;
  font-weight: 700;
  line-height: 1.2;
  padding: 15px 20px;
  text-align: center;
}

@media (max-width: 38.74em) {
  .campaign-cta a {
    width: 100%;
  }
}

@media (min-width: 38.75em) {
  .campaign-cta a {
    min-width: 200px;
  }
}

@media (min-width: 54.375em) {
  .campaign-cta a {
    font-size: 1.5em;
  }
}

.campaign-cta span {
  color: #005eb8;
  font-weight: 600;
  text-transform: uppercase;
}

@media (max-width: 38.74em) {
  .campaign-cta p {
    margin: 60px 0;
  }
}

@media (min-width: 38.75em) {
  .campaign-cta p:last-of-type {
    margin-bottom: 0;
  }
}

.campaign-cta--bordered {
  background: none;
  border: 3px solid #707070;
  padding: 0.9375rem;
}

@media (min-width: 54.375em) {
  .campaign-cta--bordered {
    padding: 1.875rem;
  }
}

.campaign-cta--bordered h2 {
  margin-bottom: 1rem;
}

.campaign-cta--bordered p {
  margin: 1rem 0;
}

.campaign-cta--bordered a {
  font-size: 1.2em;
}

.campaign-cta--light-blue {
  border: none;
  background-color: $dfe-accent;
  padding: 1.875rem;
}

@media (min-width: 54.375em) {
  .campaign-cta--light-blue {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.campaign-cta--light-blue .campaign-cta__content p {
  margin: 1rem 0;
  color: #fff;
}

@media (max-width: 38.74em) {
  .campaign-cta--light-blue .campaign-cta__content p {
    margin: 1rem 0;
  }
}

.campaign-cta--light-blue .campaign-cta__content a {
  margin: 0;
}

@media (min-width: 54.375em) {
  .campaign-cta--light-blue .campaign-cta__content a {
    -ms-flex-preferred-size: 248px;
    flex-basis: 248px;
  }
}

.campaign-cta--turquoise {
  border-color: #33b6ad;
}

.campaign-cta--underline {
  padding: 1.875rem;
}

.campaign-cta--underline .campaign-cta__content p,
.campaign-cta--underline .campaign-cta__content .field-type-text-long {
  margin: 1rem 0;
}

@media (max-width: 38.74em) {
  .campaign-cta--underline .campaign-cta__content p,
  .campaign-cta--underline .campaign-cta__content .field-type-text-long {
    margin: 1rem 0;
  }
}

.campaign-cta--underline a {
  background-color: transparent;
  color: #005eb8;
  display: inline;
  font-size: 1rem;
  min-width: none;
  padding: 0;
  text-align: left;
  text-decoration: underline;
}

.node-roles-page .campaign-cta__content h2,
.node-roles-page .campaign-cta__content h3 {
  color: #333333;
}

.campaign-cta__content h2,
.campaign-cta__content h3 {
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
  margin-top: 0;
}

/* ==========================================================================
Section card home
========================================================================== */
.section-card-home {
  background-color: $colour-card-background;
  padding: 15px;
  height: 375px;
  margin-bottom: 20px;
  border-bottom: 3px solid #003a69;

  @media (max-width: 800px) {
    height: 500px; /* Reset height to auto for mobile viewports */
  }

  @media (max-width: 640px) {
    height: auto; /* Reset height to auto for mobile viewports */
  }


  &__wborder {
    background-color: $colour-card-background;
    padding: 15px;
    box-shadow: 0px 2px $colour-drop-shadow;
  }

    &__wfullborder {
    padding: 15px;
    /*box-shadow: inset 0 0 0 2px $colour-drop-shadow;*/
    border: 2px solid $colour-drop-shadow;
  }

  &__wbutton {
    background-color: $colour-card-background;
    padding: 30px;
  }

  &__wimage {

    img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__noborder {
    background-color: $colour-card-background;
    padding: 15px;
    margin-bottom: 20px;
  }

  &__clearwborder {
    padding: 15px;
    border: 1px solid $colour-border-grey;
  }

  &__clear {
    padding: 15px;
  }
}
h2 .dfe-card-link--header {
  text-decoration: none;
  color: #003a69;
}

/* ==========================================================================
Section card
========================================================================== */
.section-card {
  background-color: $colour-card-background;
  padding: 15px;
  border-bottom: 3px solid #003a69;
  

  &__wborder {
    background-color: $colour-card-background;
    padding: 15px;
    box-shadow: 0px 2px $colour-drop-shadow;
  }

    &__wfullborder {
    padding: 15px;
    /*box-shadow: inset 0 0 0 2px $colour-drop-shadow;*/
    border: 2px solid $colour-drop-shadow;
  }

  &__wbutton {
    background-color: $colour-card-background;
    padding: 30px;
  }

  &__wimage {

    img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__noborder {
    background-color: $colour-card-background;
    padding: 15px;
    margin-bottom: 20px;
  }

  &__clearwborder {
    padding: 15px;
    border: 1px solid $colour-border-grey;
  }

  &__clear {
    padding: 15px;
  }
}


/* ==========================================================================
Back link
========================================================================== */

.govuk-back-link {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: underline;
  text-decoration-thickness: max(1px, .0625rem);
  text-underline-offset: .1578em;
  display: inline-block;
  position: relative;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: .875em
}

@media(min-width: 40.0625em) {
  .govuk-back-link {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print {
  .govuk-back-link {
      font-size: 14pt;
      line-height: 1.2
  }
}

@media print {
  .govuk-back-link {
      font-family: sans-serif
  }
}

.govuk-back-link:hover {
  text-decoration-thickness: max(3px, .1875rem, .12em);
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration-skip: none
}

.govuk-back-link:focus {
  outline: 3px solid rgba(0,0,0,0);
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.govuk-back-link:link,.govuk-back-link:visited {
  color: #0b0c0c
}

@media print {
  .govuk-back-link:link,.govuk-back-link:visited {
      color: #000
  }
}

.govuk-back-link:hover {
  color: rgba(11,12,12,.99)
}

.govuk-back-link:active,.govuk-back-link:focus {
  color: #0b0c0c
}

@media print {
  .govuk-back-link:active,.govuk-back-link:focus {
      color: #000
  }
}

.govuk-back-link:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: .1875em;
  width: .4375em;
  height: .4375em;
  margin: auto 0;
  -webkit-transform: rotate(225deg);
  transform: rotate(225deg);
  border: solid;
  border-width: 1px 1px 0 0;
  border-color: #505a5f
}

@supports(border-width: max(0px)) {
  .govuk-back-link:before {
      border-width:max(1px, 0.0625em) max(1px, 0.0625em) 0 0;
      font-size: max(16px, 1em)
  }
}

.govuk-back-link:focus:before {
  border-color: #0b0c0c
}

.govuk-back-link:after {
  content: "";
  position: absolute;
  top: -14px;
  right: 0;
  bottom: -14px;
  left: 0
}

.govuk-back-link--inverse:link,.govuk-back-link--inverse:visited {
  color: #fff
}

.govuk-back-link--inverse:hover,.govuk-back-link--inverse:active {
  color: rgba(255,255,255,.99)
}

.govuk-back-link--inverse:focus {
  color: #0b0c0c
}

.govuk-back-link--inverse:before {
  border-color: currentcolor
}

/* ==========================================================================
DFE banner
========================================================================== */
/* Banner Container */
.dfe-o-banner {
  display: flex;
  width: 100%;
  min-height: 10rem;
  margin: 0 auto;
}

/* Banner Content Container */
.dfe-o-banner__content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #ebf2f6;
  
 
}



/* Banner Image Container */
.dfe-o-banner__image-container {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}



/* Image Styles */
.dfe-o-banner__image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Mirrored Banner */
.dfe-o-banner--mirrored {
  flex-direction: row-reverse;
}

/* Banner Text Clamping */
.dfe-o-banner [class^=dfe-t-body],
.dfe-o-banner [class^=dfe-t-heading] {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  -webkit-box-pack: end;
}

.dfe-o-banner [class^=dfe-t-body] {
  -webkit-line-clamp: 5;
}

/* Media Query for Mobile */
@media (max-width: 63.99em) {
  .dfe-o-banner {
      width:100%;
      flex-direction: column-reverse
  }

  .dfe-o-banner__content-container,.dfe-o-banner__image-container {
      width: 100%;
  }

  .dfe-o-banner .dfe-a-image {
      overflow: hidden
  }

  .dfe-o-banner .dfe-a-image img {
      position: relative
  }
}

.dfe-o-banner__inner-content-container {
  width: 80%;
  padding: 3rem;
}




/* ==========================================================================
DFE width container
========================================================================== */

.dfe-width-container {
  margin: 0 16px;
  max-width: 1200px
}

@media (min-width: 48.0625em) {
  .dfe-width-container {
      margin:0 32px
  }
}

@media (min-width: 1264px) {
  .dfe-width-container {
      margin:0 auto
  }
}

.dfe-width-container-fluid {
  margin: 0 16px;
  max-width: 100%
}

@media (min-width: 48.0625em) {
  .dfe-width-container-fluid {
      margin:0 32px
  }
}




/* ==========================================================================
DFE content banner 
========================================================================== */


.dfe-content-page--header {
  background: #ebf2f6
}
.dfe-banner-title {
  position: relative;
  margin-bottom: -10px;
  padding-top: 25px;
  padding-bottom: 15px;
  border-bottom: 10px solid $dfe-accent;
}


/* CONTENT TITLE BANNER
----------------------- */



.app-section-content--blue {
    background-color: $content-background;
}

.app-section-content {
    padding: 30px 0
}


/* Increase specificity */
.app-section-content.full-width-banner {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  width: 100% !important;
}

/* Document list */


.dfeuk-document-list {
  padding: 0
}

.dfeuk-document-list .dfeuk-document-list__item {
  margin-bottom: 25px;
  padding-top: 10px;
  border-top: 1px solid #b1b4b6;
  list-style: none
}


.dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list--no-underline {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25
}

@media (min-width: 40.0625em) {
  .dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list--no-underline {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list--no-underline {
      font-size: 14pt;
      line-height: 1.15
  }
}

.dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list__item-title {
  text-decoration: none!important;
  font-weight: 700
}

.dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list__item-description {
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  margin: 5px 0
}

@media (min-width: 40.0625em) {
  .dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list__item-description {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print {
  .dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list__item-description {
      font-size: 14pt;
      line-height: 1.2
  }
}

.dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list__item-metadata {
  padding: 0
}

.dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list__item-metadata .gdfeuk-document-list__attribute {
  
  font-size: 20;
  line-height: 1.25;
  color: #505a5f;
  display: inline-block;
  list-style: none;
  padding-right: 20px
}

@media (min-width: 40.0625em) {
  .dfeuk-document-list .dfeuk-document-list__item .dfeuk-document-list__item-metadata .gdfeuk-document-list__attribute {
      font-size:18px;
      line-height: 1.4285714286
  }
}




/* DFE card container
--------------------------------------- */
.dfe-card {
  position: relative;
  background-color: #f3f2f1;
  border-bottom: 3px solid #003a69;
  max-width: 100%

  
}

.dfe-card.dfe-card--blog-card {
  border-radius: 12px 12px 0 0
}

.dfe-card.dfe-card--blog-card img {
  border-radius: 12px 12px 0 0
}

@media (max-width: 40.0525em) {
  .dfe-card {
      max-width:100%
  }
}

.dfe-card>picture,.dfe-card>picture>img {
  max-width: 100%
}

.dfe-card-container {
  padding: 20px
}

.dfe-card:focus-within,.dfe-card:hover {
  background-color: #003a69
}

.dfe-card:focus-within .govuk-heading-m,.dfe-card:focus-within a,.dfe-card:focus-within p,.dfe-card:hover .govuk-heading-m,.dfe-card:hover a,.dfe-card:hover p {
  color: #fff
}

.dfe-card:focus-within {
  outline: 3px solid #fd0
}

.dfe-card-container .dfe-card-link--header:focus,.dfe-card-container .dfe-card-link--retake:focus {
  color: #0b0c0c
}

.dfe-card-link--retake {
  position: relative;
  z-index: 2
}

.dfe-card-link--header {
  text-decoration: none;
  color: #347ca9
}

.dfe-card-link--header:after {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0
}

/* Feedback form container
--------------------------------------- */

    .feedback-container {
        width: 75%;
        margin-top: 1.5em; /* Adjust the margin as needed */
    }

    @media (max-width: 600px) {
        .feedback-container {
            width: 100%;
        }
    }

    .feedback-container {
      width: 75%;
      margin-top: 1.5em; /* Adjust the margin as needed */
  }

  @media (max-width: 600px) {
      .feedback-container {
          width: 100%;
      }
  }

  .feedback-container {
    width: 75%;
    margin-top: 1.5em; /* Adjust the margin as needed */
}

@media (max-width: 600px) {
    .feedback-container {
        width: 100%;
    }
}

.feedback-container {
  width: 75%;
  margin-top: 1.5em; /* Adjust the margin as needed */
}

@media (max-width: 600px) {
  .feedback-container {
      width: 100%;
  }
}


.dfe-panel {
  background: #f3f2f1;
  padding: 40px
}

.dfe-panel+.dfe-panel {
  margin: 50px 0
}

.dfe-panel-section {
  background: #ebf2f6;
  padding: 40px
}

.dfe-panel-section .govuk-heading-l,.dfe-panel-section .govuk-heading-m,.dfe-panel-section p {
  color: #0b0c0c
}

.dfe-cta-panel {
  background: #f2aa66;
  padding: 40px 40px 40px 40px
}

.dfe-cta-panel .dfe-cta-panel--header {
  margin-bottom: 60px
}

.dfe-cta-panel .dfe-cta-panel--info {
  border-top: 2px solid #0b0c0c;
  margin-top: 10px;
  padding-top: 10px
}

.dfe-cta-panel a.dfe-cta-panel--button {
  padding: 15px 20px;
  border: 1px solid #0b0c0c;
  font-size: 19px;
  text-decoration: none;
  font-weight: 600;
  color: #0b0c0c;
  clear: both
}

@media (max-width: 40.0525em) {
  .dfe-cta-panel a.dfe-cta-panel--button {
      margin:40px 0;
      display: block;
      text-align: center
  }
}

.dfe-cta-panel a.dfe-cta-panel--button:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 0 #fd0,0 4px #0b0c0c;
  text-decoration: none;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone
}

.govuk-panel {
  text-align: left
}

.dfe-panel--white {
  background-color: #fff
}

.dfe-panel-presentation {
  border-top: 50px solid #22d0c5
}

.custom-dfe-panel {
  border: 2px solid #347ca9;
  margin-bottom: 40px
}

.custom-dfe-panel code {
  background: #fff;
  padding: .3rem .3rem .3rem;
  border-radius: .3rem
}


.custom-dfe-panel--title {
  padding: 10px 15px;
  background: #f3f2f1
}

.custom-dfe-panel--content {
  border: 2px solid #347ca9;
  padding: 15px;
  overflow: hidden
}

.custom-dfe-section {
  margin-bottom: 60px
}