/* Standard colours */

$colour-drop-shadow: #002d18;
$colour-image-placeholder: govuk-colour("mid-grey");
$colour-secondary-text: govuk-colour("dark-grey");
$colour-border-grey: #b1b4b6;

.logo {
  display: block;
  max-height: 32px;
  max-width: 100%;
}

/* Landing page top header */
.body-header-background {
  background-color: #1d70b8;
}

.body-header-font {
  color: white;
}

/* SECTION CARDS
---------------- */

/* shaded section card */

.section-card {
  background-color: #F3F2F1;
  padding: 15px;

  &__wborder {
    background-color: #F3F2F1;
    padding: 15px;
    box-shadow: 0px 2px $colour-drop-shadow;
  }

  &__wbutton {
    background-color: #F3F2F1;
    padding: 30px;
  }

  &__wimage {

    img {
      max-width: 100%;
      margin-bottom: 20px;
    }
  }

  &__noborder {
  background-color: #F3F2F1;
  padding: 15px;
  margin-bottom: 20px;
  }
}


/* clear section card */
/* Remove this if I don't add any formatting */
.section-card-clear {
  padding: 0px;
}


/* IMAGES
----------------------- */

/* CHECK ANSWERS FORMATS
----------------------- */

.answer-summary {
  position: relative;
}

.start-again {
  position: absolute;
  top: 2px;
  right: 0;
}

/* LANDING PAGE FORMATS
----------------------- */

.features-cards__desc {
  color: $colour-secondary-text;
}

/* FACETED BLOCK
---------------- */

.facet-block {

  &__search {
    padding: 0 0 0px;
    margin-bottom: 0px;
  }

  &__search-button {

    border-bottom: 1px solid $colour-border-grey;
    padding: 0 0 5px;
  }

  &__dfe-filter {

    border-bottom: 1px solid $colour-border-grey;
    padding: 0 0 10px;
    margin-top: 20px;
  }

  &__type-filter {

    border-bottom: 1px solid $colour-border-grey;
    padding: 0 0 10px;
    margin-top: 20px;
  }

  &__duration-filter {
    border-bottom: 1px solid $colour-border-grey;
    padding: 0 0 10px;
    margin-top: 20px;
  }
}



/* SEARCH RESULTS
---------------- */

.result-metadata__coursetype {
  padding-right: 10px;
}

.results-header {
  border-bottom: 1px solid $colour-border-grey;
}