// Directly lifted from the Design in DfE resource
// Not used for prototype BUT is used in the prototype environment
/*

/* some colours */
$govuk-success-colour: #00703c;
$highlight-colour-done: rgba(133, 153, 75, .25);
$highlight-colour-inprogress: rgba(244, 119, 56, .25);
$content-status-ready: #347ca9;
$content-status-draft: #d4351c;

/* ==========================================================================
   #TAG
   ========================================================================== */
.dfeuk-tag {
  font-weight: 600;
  font-size: 0.875rem;
  line-height: 1;
  background-color: #00345f;
  border: 1px solid #00345f;
  color: #ffffff;
  display: inline-block;
  outline: 2px solid transparent;
  outline-offset: -2px;
  padding: 4px 8px;
  text-decoration: none; }

@media (min-width: 40.0625em) {
  .dfeuk-tag {
    font-size: 1rem;
    line-height: 1; } }

@media print {
  .dfeuk-tag {
    font-size: 14pt;
    line-height: 1; } }

/* ==========================================================================
   #EXAMPLE-CALLOUT
   ========================================================================== */
.dfeuk-example-callout {
  margin: 30px 0px;
  padding: 40px 24px 24px;
  border: 1px solid #aeb7bd;
  position: relative; }

.dfeuk-example-callout > *:first-child {
  margin-top: 0; }

.dfeuk-example-callout > *:last-child {
  margin-bottom: 0; }

@media (min-width: 40.0625em) {
  .dfeuk-example-callout {
    margin-bottom: 40px; } }

@media (min-width: 40.0625em) {
  .dfeuk-example-callout {
    margin-top: 40px; } }

@media (min-width: 40.0625em) {
  .dfeuk-example-callout {
    padding-bottom: 32px; } }

@media (min-width: 40.0625em) {
  .dfeuk-example-callout {
    padding-left: 32px; } }

@media (min-width: 40.0625em) {
  .dfeuk-example-callout {
    padding-right: 32px; } }

@media (min-width: 40.0625em) {
  .dfeuk-example-callout {
    padding-top: 38px; } }

.dfeuk-example-callout__heading {
  background: #00345f;
  border: 0;
  left: -1px;
  position: absolute;
  top: -1px;
  padding: 8px 16px; }

.dfeuk-example-callout--white {
  background: #ffffff; }

.dfeuk-example-callout--image + h3 {
  padding-top: 16px; }

@media (min-width: 40.0625em) {
  .dfeuk-example-callout--image + h3 {
    padding-top: 24px; } }

.dfeuk-u-visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px; }



/* Aside page adjustments */

.swcd-tag {
  padding: 90px 15px 150px 15px;
  margin-top: 10px;
  border: 2px solid #aeb7bd;
}

/* Style code examples on component example pages */

.code-example {
  font-size: 19px;
  background-color: #eee;

  display: block;
  padding: 10px;
}

/* Prototype landing page styling */

.landing-page {

  &__done-highlighting {
    background-color: $highlight-colour-done;
  }

  &__inprogress-highlighting {
    background-color: $highlight-colour-inprogress;
  }

}

/* Content pages */
.govuk-inset-text {

    &__ptk {
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      font-weight: 400;
      font-size: 19px;
      line-height: 1.25;
      padding: 15px;
      clear: both;
      border-left: 10px solid $content-status-draft;
  }
}

.content-page-status {
  font-weight: 400;
  font-size: 19px;
  line-height: 1.25;

  &__draft {
    padding: 15px;
    margin-bottom: 60px;
    border: 5px solid $content-status-draft;
    background-color: #ffffff;
    color: #0b0c0c;
  }

  &__ready {
    padding: 15px;
    margin-bottom: 60px;
    border: 5px solid $content-status-ready;
    background-color: #ffffff;
    color: #0b0c0c;
  }
}

/* MOJ */

.moj-filter {
  background-color: #fff;
  box-shadow: inset 0 0 0 1px #b1b4b6
}

.moj-filter:focus {
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c
}

.moj-filter__header {
  background-color: #b1b4b6;
  font-size: 0;
  padding: 10px 20px;
  text-align: justify
}

.moj-filter__header:after {
  content: "";
  display: inline-block;
  width: 100%
}

.moj-filter__header [class^=govuk-heading-] {
  margin-bottom: 0
}

.moj-filter__legend {
  overflow: visible;
  width: 100%
}

.moj-filter__legend button {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 700;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.1111111111;
  background-color: rgba(0,0,0,0);
  box-sizing: border-box;
  border-radius: 0;
  border: 0 none;
  cursor: pointer;
  display: block;
  margin: 0;
  padding: 0;
  position: relative;
  text-align: left;
  width: 100%;
  -webkit-appearance: none
}

@media print {
  .moj-filter__legend button {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .moj-filter__legend button {
      font-size:24px;
      font-size: 1.5rem;
      line-height: 1.25
  }
}

@media print {
  .moj-filter__legend button {
      font-size: 18pt;
      line-height: 1.15
  }
}

.moj-filter__legend button::-moz-focus-inner {
  padding: 0;
  border: 0
}

.moj-filter__legend button::after {
  background-image: url(/assets/images/moj/icon-toggle-plus-minus.svg);
  background-position: 0 0;
  content: "";
  display: block;
  height: 16px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  right: 0;
  width: 16px
}

.moj-filter__legend button[aria-expanded=true]::after {
  background-position: 16px 16px
}

.moj-filter__header-title,.moj-filter__header-action {
  display: inline-block;
  text-align: left;
  vertical-align: middle
}

.moj-filter__close {
  color: #0b0c0c;
  cursor: pointer;
  background-color: rgba(0,0,0,0);
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  -webkit-appearance: none
}

.moj-filter__close:focus {
  background-color: #fd0;
  color: #0b0c0c;
  box-shadow: 0 -2px #fd0,0 4px #0b0c0c;
  outline: none
}

.moj-filter__close::-moz-focus-inner {
  padding: 0;
  border: 0
}

.moj-filter__close::before {
  background-image: url(/assets/images/moj/icon-close-cross-black.svg);
  content: "";
  display: inline-block;
  height: 14px;
  margin-right: 5px;
  position: relative;
  top: -1px;
  vertical-align: middle;
  width: 14px
}

.moj-filter__close {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25
}

@media print {
  .moj-filter__close {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .moj-filter__close {
      font-size:19px;
      font-size: 1.1875rem;
      line-height: 1.3157894737
  }
}

@media print {
  .moj-filter__close {
      font-size: 14pt;
      line-height: 1.15
  }
}

.moj-filter__selected {
  background-color: #f3f2f1;
  box-shadow: inset 0 0 0 1px #b1b4b6;
  padding: 20px
}

.moj-filter__selected ul:last-of-type {
  margin-bottom: 0
}

.moj-filter__selected-heading {
  font-size: 0;
  text-align: justify
}

.moj-filter__selected-heading:after {
  content: "";
  display: inline-block;
  width: 100%
}

.moj-filter__heading-title,.moj-filter__heading-action {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  display: inline-block;
  text-align: left;
  vertical-align: middle
}

@media print {
  .moj-filter__heading-title,.moj-filter__heading-action {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .moj-filter__heading-title,.moj-filter__heading-action {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print {
  .moj-filter__heading-title,.moj-filter__heading-action {
      font-size: 14pt;
      line-height: 1.2
  }
}

.moj-filter-tags {
  font-size: 0;
  margin-bottom: 20px;
  padding-left: 0
}

.moj-filter-tags li {
  display: inline-block;
  margin-right: 10px
}

.moj-filter__tag {
  font-family: "GDS Transport",arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
  font-size: 14px;
  font-size: .875rem;
  line-height: 1.1428571429;
  background-color: #fff;
  border: 1px solid #0b0c0c;
  color: #0b0c0c;
  display: inline-block;
  margin-top: 5px;
  padding: 5px;
  text-decoration: none
}

@media print {
  .moj-filter__tag {
      font-family: sans-serif
  }
}

@media(min-width: 40.0625em) {
  .moj-filter__tag {
      font-size:16px;
      font-size: 1rem;
      line-height: 1.25
  }
}

@media print {
  .moj-filter__tag {
      font-size: 14pt;
      line-height: 1.2
  }
}

.moj-filter__tag:link,.moj-filter__tag:visited {
  color: #0b0c0c
}

.moj-filter__tag:focus {
  color: #0b0c0c;
  background-color: #fd0
}

.moj-filter__tag:hover {
  background-color: #0b0c0c;
  color: #fff
}

.moj-filter__tag:after {
  background-image: url(/assets/images/moj/icon-tag-remove-cross.svg);
  content: "";
  display: inline-block;
  font-weight: bold;
  height: 10px;
  margin-left: 5px;
  vertical-align: middle;
  width: 10px
}

.moj-filter__tag:hover:after {
  background-image: url(/assets/images/moj/icon-tag-remove-cross-white.svg)
}

.moj-filter__options {
  box-shadow: inset 0 0 0 1px #b1b4b6;
  margin-top: -1px;
  padding: 20px
}

.moj-filter__options div:last-of-type {
  margin-bottom: 0
}

/* Sort options */

.sort-options .sort-options__label {
  padding-right: 5px;
  display: inline-block;
  margin-bottom: 15px
}

@media (min-width: 40.0625em) {
  .sort-options .sort-options__label {
      font-size:16px
  }
}

@media (min-width: 40.0625em) {
  .sort-options .sort-options__select {
      font-size:16px
  }
}

.result-info {
  margin: 0 0 20px 0;
  border-bottom: solid 1px #0b0c0c
}
