
{% extends "layout.html" %}

{% block pageTitle %}
DfE roadmap - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../core-website">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Career progression</span>
        <h1 class="govuk-heading-xl">Blogs and case studies </h1>
        <h2 class="govuk-heading-m">
            Here are some blogs and case studies
        </h2>
        <p class="govuk-body-m">Vestibulum dictum ex lorem, non dapibus felis consectetur at. Sed pharetra sem eu semper blandit. In vehicula aliquam dolor at molestie. Pellentesque laoreet pretium nibh sit amet scelerisque. Pellentesque luctus enim eu consequat fermentum. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Interesting point 1</li>
            <li>Interesting point 2</li>
            <li>Interesting point 3</li>
            </ul>
        <p class="govuk-body-m">Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Fusce a velit sit amet erat vulputate vulputate. Duis semper diam ultrices nisi semper porta. Donec vel sollicitudin augue. Aliquam viverra, elit non porttitor laoreet, nisi nisi blandit orci, et blandit sem erat vel neque. Mauris vel lacinia arcu. Maecenas sagittis purus at lobortis faucibus. Maecenas mattis ut sem sed faucibus.</p>
        <p class="govuk-body-m">Praesent facilisis nisi arcu, nec viverra libero suscipit et. Praesent ultricies urna nec nisi dictum semper. Aenean nec ante dictum, tristique tellus eget, aliquam felis. Phasellus leo ante, vestibulum eget leo sit amet, convallis tempor leo. Donec dictum mattis mauris, vel lobortis diam faucibus eu. Curabitur pretium aliquam faucibus. Fusce a velit sit amet erat vulputate vulputate. Duis semper diam ultrices nisi semper porta. Donec vel sollicitudin augue. Aliquam viverra, elit non porttitor laoreet, nisi nisi blandit orci, et blandit sem erat vel neque.</p>
        <p class="govuk-body-m">Mauris vel lacinia arcu. Maecenas sagittis purus at lobortis faucibus. Maecenas mattis ut sem sed faucibus. Duis dignissim risus convallis consequat vulputate. Nunc posuere leo a tincidunt scelerisque. Curabitur ipsum felis, mollis a justo vel, sagittis sodales erat.</p>
    </div>

</div>


{% endblock %}
