
{% extends "layout.html" %}

{% block pageTitle %}
DfE roadmap - {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/current/core-website">Home</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

        <span class="govuk-caption-l">About DfE</span>
        <h1 class="govuk-heading-xl">DfE roadmap</h1>

      <aside class="app-mainstream-guide-contents-list" role="complementary">
        <nav class="app-contents-list" aria-label="Pages in this guide" role="navigation">
          <h2 class="govuk-heading-m">
            Contents
          </h2>
          <ul class="govuk-list govuk-!-margin-bottom-8">
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed app-contents-list__list-item--active">
              <a class="govuk-link" href="#future-thing-1">Future thing 1</a>
            </li>
            <li aria-current="true" class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a class="govuk-link" href="#future-thing-2">Future thing 2</a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a class="govuk-link" href="#future-thing-3">Future thing 3</a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a class="govuk-link" href="#future-thing-4">Future thing 4</a>
            </li>
            <li class="app-contents-list__list-item app-contents-list__list-item--dashed">
              <a class="govuk-link" href="#future-thing-5"> Future thing 5</a>
            </li>
          </ul>
        </nav>
      </aside>

    </div>

  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds app-mainstream-guide-body">
      <section id="future-thing-1">
        <h2 class="govuk-heading-m">
          Future thing 1
        </h2>
        <p class="govuk-body-m">21 June 2022</p>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh.</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Interesting point 1</li>
            <li>Interesting point 2</li>
            <li>Interesting point 3</li>
            </ul>
        <p class="govuk-body-m">Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Fusce a velit sit amet erat vulputate vulputate. Duis semper diam ultrices nisi semper porta. Donec vel sollicitudin augue. Aliquam viverra, elit non porttitor laoreet, nisi nisi blandit orci, et blandit sem erat vel neque. Mauris vel lacinia arcu. Maecenas sagittis purus at lobortis faucibus. Maecenas mattis ut sem sed faucibus.</p>
      </section>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <section id="future-thing-2">
      <h2 class="govuk-heading-m">
        Future thing 2
      </h2>
     <p class="govuk-body-m">10 May 2022</p>
     <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh.</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>Interesting point 1</li>
          <li>Interesting point 2</li>
          <li>Interesting point 3</li>
          </ul>
      <p class="govuk-body-m">Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Fusce a velit sit amet erat vulputate vulputate. Duis semper diam ultrices nisi semper porta. Donec vel sollicitudin augue. Aliquam viverra, elit non porttitor laoreet, nisi nisi blandit orci, et blandit sem erat vel neque. Mauris vel lacinia arcu. Maecenas sagittis purus at lobortis faucibus. Maecenas mattis ut sem sed faucibus.</p>
      <p><a class="govuk-link" href="#">We could link out to a page specifically for this.</a></p>
      </section>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <section id="future-thing-3">
        <h2 class="govuk-heading-m">
          Future thing 3
        </h2>
        <p class="govuk-body-m">5 May 2022</p>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Fusce a velit sit amet erat vulputate vulputate. Duis semper diam ultrices nisi semper porta. Donec vel sollicitudin augue. Aliquam viverra, elit non porttitor laoreet, nisi nisi blandit orci, et blandit sem erat vel neque. Mauris vel lacinia arcu. Maecenas sagittis purus at lobortis faucibus. Maecenas mattis ut sem sed faucibus.</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Interesting point 1</li>
            <li>Interesting point 2</li>
            <li>Interesting point 3</li>
            </ul>
        <p class="govuk-body-m">Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Fusce a velit sit amet erat vulputate vulputate. Duis semper diam ultrices nisi semper porta. Donec vel sollicitudin augue. Aliquam viverra, elit non porttitor laoreet, nisi nisi blandit orci, et blandit sem erat vel neque. Mauris vel lacinia arcu. Maecenas sagittis purus at lobortis faucibus. Maecenas mattis ut sem sed faucibus.</p>
      </section>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      <section id="future-thing-4">
        <h2 class="govuk-heading-m">
          Future thing 4
        </h2>
        <p class="govuk-body-m">1 April 2022</p>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh.</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Interesting point 1</li>
            <li>Interesting point 2</li>
            <li>Interesting point 3</li>
            </ul>
        <p class="govuk-body-m">Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Fusce a velit sit amet erat vulputate vulputate. Duis semper diam ultrices nisi semper porta. Donec vel sollicitudin augue. Aliquam viverra, elit non porttitor laoreet, nisi nisi blandit orci, et blandit sem erat vel neque. Mauris vel lacinia arcu. Maecenas sagittis purus at lobortis faucibus. Maecenas mattis ut sem sed faucibus.</p>
      </section>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
       <section id="future-thing-5">
        <h2 class="govuk-heading-m">
          Future thing 5
        </h2>
        <p class="govuk-body-m">5 February 2022</p>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh.</p>
            <ul class="govuk-list govuk-list--bullet">
            <li>Interesting point 1</li>
            <li>Interesting point 2</li>
            <li>Interesting point 3</li>
            </ul>
        <p class="govuk-body-m">Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt.</p>
      </section>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">



        <a href="#">
          View a printable version of this page
        </a>
    </div>
</div>



{% endblock %}
