{% extends "layout_futurestate.html" %}
{% set nav3Active = true %}
{% set pageName = "real life stories" %}


{% block pageTitle %}
Explore roles – {{ serviceName }}
{% endblock %}



{% block content %}


  <div class="govuk-width-container dfe-width-container">
    <div class="govuk-grid-row">
     
      <div class="govuk-grid-column-one-quarter">
        


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item">
  <a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item">
  <a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
  <a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
      </div>
      

<div class="govuk-grid-column-three-quarters">

            <section class="govuk-section">
              
                <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
                  <div class="dfe-o-banner__content-container dfe-light-blue-tint">
                     <div class="dfe-o-banner__inner-content-container">
                    
                      <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
                      <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
                      <a href="testimonial1.html" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
                    </div>
                  </div>
                  <div class="dfe-o-banner__image-container">
                    <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image of three children looking at a phone">
                  </div>
                </div>
             
            </section>
            <div class="govuk-!-margin-top-6"></div>
 
            <section class="govuk-section">
              
              <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
                <div class="dfe-o-banner__content-container dfe-light-blue-tint">
                  <div class="dfe-o-banner__inner-content-container">
                    <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
                    <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
                    <a href="" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
                  </div>
                </div>
                <div class="dfe-o-banner__image-container">
                  <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image of three children looking at a phone">
                </div>
              </div>
           
          </section>

          <div class="govuk-!-margin-top-6"></div>

          <section class="govuk-section">
              
            <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
              <div class="dfe-o-banner__content-container dfe-light-blue-tint">
                <div class="dfe-o-banner__inner-content-container">
                  <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
                  <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
                  <a href="" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
                </div>
              </div>
              <div class="dfe-o-banner__image-container">
                <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image of three children looking at a phone">
              </div>
            </div>
         
        </section>
        
        <div class="govuk-!-margin-top-6">

        <section class="govuk-section">
              
          <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
            <div class="dfe-o-banner__content-container dfe-light-blue-tint">
              <div class="dfe-o-banner__inner-content-container">
                <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
                <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
                <a href="" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
              </div>
            </div>
            <div class="dfe-o-banner__image-container">
              <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image of three children looking at a phone">
            </div>
          </div>
       
      </section>

                                </div>
                    
                    
        {% endblock %}
