{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}

{% block content %}



<div class="dfe-width-container dfe-grid-row">
<div class="govuk-dfe-column-three-quarter">
  <span class="govuk-caption-l">Resources</span>
  <h1 class="govuk-heading-xl">Recruitment Requirements Scoping Tool
  </h1>
  <p class="govuk-body">Use the Recruitment Requirements Scoping Tool to understand recruitment requirements in your teams and in your organisation.  Make this calculator bespoke to your organisation and use it to assist with workforce planning.  This resource is for professionals working in HR and workforce planning in Children’s Social Care.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <ul class="course-details govuk-list">
    <li>
   From: Virtual Hubs, Research In Practice
    </li>
    <li>
  Published: 8 June 2022
    </li>
    <li>
Last updated: 8 June 2022
      </li>
      <li>
Resource type: CPD resource
        </li>
        <li>
         Career stage: Leaders
          </li>
          
  </ul>
  <p class="govuk-body"><a href="#section1">Give feedback about this page</a></p>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <h2 class="govuk-heading-l">How to Use the Recruitment Requirements Scoping Tool </h2>
  <p class="govuk-body">Recruitment is often viewed on a team-by-team basis, or at an organisational level.  This Recruitment Requirements Scoping Tool (RRST) can be used to collate the team level data into a service area workforce recruitment plan. By using this tool, you will be able to see blockages and lag in the recruitment process, helping you to understand how recruitment and retention is impacting the service area. This tool is designed to be used for social worker recruitment but could be adapted for use to review other job roles. </p>

  <h2 class="govuk-heading-l">How it Works</h2>
  <p class="govuk-body">Decide on the service area you want to review. Add the names of the Service Managers in the relevant service area to the first tab. Ask each Team Manager to add details of all existing social worker posts in their team to the spreadsheet.  Each Team Manager should complete their own information, thinking about how many social workers they could sustainably integrate into their team from each of the different sources listed.  You might find it helpful to have a discussion with them about the task before sending them the information to complete.  Using Microsoft Forms might encourage team managers to return the information quickly, as staff may not be familiar with how to fill in a spreadsheet.  Alternatively, a service-level workshop would allow the data to be collected in half a day.</p>
  <p class="govuk-body">As each Team Manager adds their team-level information, the data is automatically collated to provide a service area level projection of need, with enough granularity to provide you with the information you need to develop your recruitment strategy and consider a service-wide targeted recruitment campaign to attract workers into your organisation.</p>
  <p class="govuk-body">This data will let you see the teams who regularly recruit from other sources, and those who rely more on agency social workers. You will be able to identify teams which have long-term recruitment pressures and teams which have stability in personnel. The spreadsheet format allows you to compare and contrast teams and service areas, as well as giving you a high-level view of Directorate-level recruitment.  When vacancies occur, you can use this data to inform decisions about using an agency social worker. When making longer-term plans this data can help you to understand the service-level impact of engaging agency social workers or consider a broader Directorate-wide recruitment campaign for, eg, apprentice social workers.</p>
  <p class="govuk-body">The collated info pre-populates an initial project plan which can be used to prioritise activities, provide timescales for completion and identify leads for each strand of activity, adding a review and monitoring plan for easy reference.</p>
  <h2 class="govuk-heading-l">Notes</h2>
  <p class="govuk-body">The period of activity for the plan is assumed to be one year and the phrases ‘year’ and ‘project period’ are used interchangeably. You can select the period of time you wish to use.</p>
  <h2 class="govuk-heading-l">How to complete the RRST</h2>
  <h3 class="govuk-heading-m">Bespoking Sheet:</h3>
  <p class="govuk-body">The Bespoking Sheet turns this generic product into a bespoke tool for use within your organisation.</p>

  <h3 class="govuk-heading-m">Collation Sheet:</h3>
  <p class="govuk-body">The collation sheet will be populated with the information collated from later sheets.  

    You can use this sheet to discuss and evaluate your present needs and highlight areas of specific concern.</p>
    <h3 class="govuk-heading-m">Service sheets:</h3>
    <p class="govuk-body">Each service area has its own sheet which with a column to input the data for each team manager which will need to be completed. Much of the information in the Base Target Setting section is factual and details the existing situation and the targets you are trying to achieve.</p>
    <p class="govuk-body">Extra-regional attraction section details a range of sources from which social workers may be sourced in a sustainable fashion to work alongside existing staff. These sources may not be routinely used and should be considered in addition to existing methods of recruitment.</p>
    <h3 class="govuk-heading-m">The Action Plan:</h3>
    <p class="govuk-body">The action plan sheet will become prepopulated in many of the fields in column B after completion of the service sheets allowing you to create an action plan and capture information which may highlight blockages in your existing recruitment processes.</p>
    <p class="govuk-body">To form your action plan complete the open cells in Columns I to O. You can print this sheet for easy reference and distribution across the Directorate or service area.</p>
    <p class="govuk-body">The prepopulated cells will detail the number of workers from different sources that Team Managers believe can be sustainably supported by your organisation. Each row leads through to an action plan with supporting resources to help achieve your targets.</p>
    

    <table class="govuk-table govuk-!-width-two-thirds">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Column</th>
          <th scope="col" class="govuk-table__header">Use</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Column I</th>
          <td class="govuk-table__cell">Use this to identify the priority you are giving to each action, compared to the others. You might want to number them, with 1 being the most important, and 5 being the least important, or you might use High/Medium/Low</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Columns<br> J & K</th>
          <td class="govuk-table__cell">allows you to insert start and finish dates for the completion of scoping activity in preparation for recruitment activity.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Columns<br> L & M</th>
          <td class="govuk-table__cell">Allows you to insert start and finish dates for the completion of recruitment activity.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Column N</th>
          <td class="govuk-table__cell">Insert the name of the lead person for each work strand.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Column O</th>
          <td class="govuk-table__cell">allows for a note to be made of the status of the project. This could be text based or colour coded.</td>
        </tr>
      </tbody>
    </table>


    <h3 class="govuk-heading-m">Monitoring your in-year performance on the Action Plan </h3>

    <table class="govuk-table govuk-!-width-two-thirds">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Cell</th>
          <th scope="col" class="govuk-table__header">Use</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Column B from cells 44 – 53</th>
          <td class="govuk-table__cell">allow you to detail a range of measures during the past year which can highlight blockages within your recruitment processes and sustainable pathways.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">Cells <br>57 – 66:</th>
          <td class="govuk-table__cell">can be used to measure the direction of travel on these metrics. While non- completion of these cells does not impact on the functionality of the RSST, completion is advised to support your overall workforce strategy.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B44</th>
          <td class="govuk-table__cell">Insert the number of adverts placed for permanent children and families social work staff.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B45</th>
          <td class="govuk-table__cell">Insert the number of candidates shortlisted for permanent children and families social work staff.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B46</th>
          <td class="govuk-table__cell">Insert the number of interviews conducted for permanent children and families social work staff. </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B47</th>
          <td class="govuk-table__cell">Insert the number of conditional offers made to candidates for permanent children and families social work positions.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B48</th>
          <td class="govuk-table__cell">Insert the number of appointments (formal offers) made to candidates for permanent children and families social work positions.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B49</th>
          <td class="govuk-table__cell">Insert the number of those who start permanent children and families social work positions.
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B50</th>
          <td class="govuk-table__cell">Of those that left children and families social work positions how many completed an exit interview.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B51</th>
          <td class="govuk-table__cell">Of those that started children and families social work positions how many completed an entry interview (An entry interview details and gains intelligence on the new worker’s perception of the LA based upon the advertising, recruitment and onboarding processes)

          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B52</th>
          <td class="govuk-table__cell">Number of newly qualified social workers appointed during the course of the year.</td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">B53</th>
          <td class="govuk-table__cell">Number of newly qualified social workers completing their ASYE.</td>
        </tr>
      </tbody>
    </table>
   
    <h3 class="govuk-heading-m">Using the Review Sheet</h3>
    <p class="govuk-body">The review sheet will pre-populate with the figures from your Action Plan and your Collation Sheet so that you can see the activity completed within the year for each work strand and monitor success rate and the time taken.</p>

<div class="govuk-!-margin-top-8">

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <h3 class="govuk-heading-m">Downloads</h3>
        <div class="ons-document-list__item">
          <div class="ons-document-list__item-image ons-document-list__item-image--file" aria-hidden="true">
            <a class="ons-document-list__image-link ons-document-list__image-link--placeholder" href="https://www.scie.org.uk/files/strengthening-families/sfpc-five-attributes-of-effective-leadership.pdf" tabindex="-1">
             
              <img src="/public/images/excel-placeholder.png" alt="excel placeholder image" style="width: 100px; height: 140px;">
            </a>
          </div>
     
          <div class="ons-document-list__item-description" style="margin-left: 2rem;"> 
            <!-- Description content -->
            <h3><a href="https://educationgovuk.sharepoint.com/:x:/r/sites/VirtualHubsResources/Shared%20Documents/General/02%20IN%20REVIEW/Agency%20resources%20v1/3R1_Draft1%20Recruitment%20Requirements%20Scoping%20Tool%20.xlsx?d=wf275dbeab8964c168afcbbb6bbec4279&csf=1&web=1&e=7d8UfM">Recruitment Requirements Scoping Tool</a></h3>
            <ul class="course-details govuk-list">
              <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Excel document .xlsx, 499KB, 4 pages</span>
              </li>
              <li>
                Collate and/or produce tools and resources for each identified resource need, as agreed under milestone 3.2, to the satisfaction of the Buyer.
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <BR>
      <div class="govuk-grid-column-three-quarter">
    <details class="govuk-details" data-module="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text" id="section1">
         Give feedback about this page
        </span>
      </summary>
      
      <div id="feedbackContainer">
        <div id="introductoryText" class="govuk-details__text">Use this form to provide feedback about this page. 
          <br><br>
          If you have more general feedback about this website, please use the form <a href="#">here</a>. <br><br><span id="usefulQuestion">Did you find this page useful?</span></div>
        
        <div class="govuk-details__text">
          <div class="govuk-form-group" id="fieldsetContainer">
            <fieldset class="govuk-fieldset">
              <div class="govuk-radios" data-module="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="DidYouFindThisPageUseful" name="DidYouFindThisPageUseful" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="DidYouFindThisPageUseful-2" name="DidYouFindThisPageUseful" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful-2">
                    No
                  </label>
                </div>
              </div>
              <div class="govuk-character-count" data-module="govuk-character-count" data-maxlength="400">
                <div class="govuk-form-group">
                  <div class="govuk-!-margin-top-4 feedback-container">
                    <label class="govuk-label" for="additional-comments">
                      Tell us about your experience with this page.
                    </label>
                    <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
                  </div>
                  <div id="with-hint-info" class="govuk-hint govuk-character-count__message">
                    You can enter up to 400 characters
                  </div>
                </div>
              </div>
        
              <div class="govuk-button-group">
                <button class="govuk-button" data-module="govuk-button" id="submitButton">
                  Submit Feedback
                </button>
                <a class="govuk-link" href="#" id="cancelLink">Cancel</a>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
      
      <div id="thankYouMessage" style="display: none;">
        Thank you for your feedback on this resource! If you have more general feedback about this website, please use the form <a href="#">here</a>.
      </div>
      
      </details>
    </div>
    
    <script>
      document.getElementById("submitButton").addEventListener("click", function() {
        // Code to submit feedback
        // For now, just hide the form and show the thank you message
        document.getElementById("feedbackContainer").style.display = "none";
        document.getElementById("thankYouMessage").style.display = "block";
      });
    
      document.getElementById("cancelLink").addEventListener("click", function(event) {
        event.preventDefault();
        // Code to reset the form
        // For now, just show the form and hide the thank you message
        document.getElementById("feedbackContainer").style.display = "block";
        document.getElementById("thankYouMessage").style.display = "none";
      });
    </script>
    </div></div>
  </div>
 
{% endblock %}
