<div class="section-card">
  <!-- Add something to support <H2> or <H3> dependant on page -->
  <h3 class="govuk-heading-m"><a href="{{ params.programmeUrl | safe }}" class="govuk-link">{{ params.title | safe  }}</a></h3>
  {% if params.marginBottom != null %}
  <p class="govuk-body govuk-!-margin-bottom-{{ params.marginBottom }}">
  {% else %}
  <p class="govuk-body govuk-!-margin-bottom-6">
  {% endif %}
  {{ params.description | safe  }}</p>
</div>