{% extends "layout.html" %}

{% block pageTitle %}
Experienced practitioners – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Programmes for experienced practitioners</h1>
        <p class="govuk-body">We fund the Social Work Leadership Pathways programme for child and family social workers.</p>
        <p class="govuk-body">It's delivered by the Frontline charity and includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
        <p class="govuk-body">Experienced practitioners can do Pathways 1 and 2.</p>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-1?sending-page=alt_expp" class="govuk-link">Pathway 1: practice supervisors</a></h3>
            <p class="govuk-!-margin-bottom-6">For practice supervisors or  equivalent to develop excellent social work practice and leadership in others.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-2?sending-page=alt_expp" class="govuk-link">Pathway 2: middle managers</a></h3>
            <p class="govuk-!-margin-bottom-6">For experienced practitioners who want to become middle or team managers.</p>
        </div>
    </div>
</div>
<p><a href="development-programmes">View all programmes</a></p>
{% endblock %}
