{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout_whero.html" %}

{% block pageTitle %}
Develop your career in child and family social work - Department for Education
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Find a programme by career stage</h1>
        <p class="govuk-body">The programmes we fund develop the skills and knowledge of social workers to help improve outcomes for children and families.</p>
    </div>
</div>
<!-- CARD ROW 1 -->
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="practitioners-sub-nav" class="govuk-link">Practitioners</a></h3>
            <p class="govuk-!-margin-bottom-6">Includes social workers in their first 2 years of employment.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="experienced-practitioners-sub-nav" class="govuk-link">Experienced practitioners</a></h3>
            <p class="govuk-!-margin-bottom-6">Includes social workers with more than 2 years' experience and no managerial responsibilities.</p>
        </div>
    </div>
</div>
<!-- CARD ROW 2 -->
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
      <div class="section-card">
          <h3 class="govuk-heading-m"><a href="managers-sub-nav" class="govuk-link">Managers</a></h3>
          <p class="govuk-!-margin-bottom-6">Includes team managers, independent reviewing officers.</p>
      </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
      <div class="section-card">
          <h3 class="govuk-heading-m"><a href="senior-managers-sub-nav" class="govuk-link">Senior managers</a></h3>
          <p class="govuk-!-margin-bottom-6">Includes heads of service and service managers.</p>
      </div>
    </div>
</div>
<!-- CARD ROW 3 -->
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
      <div class="section-card">
          <h3 class="govuk-heading-m"><a href="leaders-sub-nav" class="govuk-link">Leaders</a></h3>
          <p class="govuk-!-margin-bottom-6">Includes assistant directors, directors and principal social workers.</p>
      </div>
    </div>
</div>
    <p><a href="development-programmes">View all programmes</a></p>
{% endblock %}

