{% extends "layout.html" %}

{% block pageTitle %}
Practitioners – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Programmes for practitioners</h1>
        <p class="govuk-body">We fund the Social Work Leadership Pathways programme for child and family social workers.</p>
        <p class="govuk-body">It's delivered by the Frontline charity and includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
        <p class="govuk-body">Practice supervisors can do Pathways 1 and 2.</p>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="asye?sending-page=alt_prac" class="govuk-link">Assessed and supported year in employment (ASYE)</a></h3>
            <p class="govuk-!-margin-bottom-6">Includes social workers in their first 2 years of employment.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="practitioners?sending-page=alt_prac" class="govuk-link">Practitioners</a></h3>
            <p class="govuk-!-margin-bottom-6">Includes social workers with more than 2 years' experience and no managerial responsibilities.</p>
        </div>
    </div>
</div>
</div>
<p><a href="development-programmes">View all programmes</a></p>

{% endblock %}
