{% extends "layout.html" %}

{% block pageTitle %}
Senior managers – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Programmes for senior managers</h1>
        <p class="govuk-body">We fund the Social Work Leadership Pathways programme for child and family social workers.</p>
        <p class="govuk-body">It's delivered by the Frontline charity and includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
        <p class="govuk-body">Senior managers can do Pathways 3 and 4.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-3?sending-page=alt_smgr" class="govuk-link">Pathway 3: heads of service</a></h3>
            <p class="govuk-!-margin-bottom-6">For heads of service to lead outstanding provision of social care through multiple teams and partnerships.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-4?sending-page=alt_smgr" class="govuk-link">Pathway 4: practice leaders</a></h3>
            <p class="govuk-!-margin-bottom-6 ">For experienced senior managers who want to become practice leaders.</p>
        </div>
    </div>
</div>
<p><a href="development-programmes">View all programmes</a></p>
{% endblock %}
