{% extends "layout_primarynav_v2.html" %}
{% set nav3Active = true %}

{% block pageTitle %}
Social worker - Develop your career in child and family social work {{ serviceName }}
{% endblock %}


{% block content %}


<div class="govuk-width-container dfe-width-container">
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-one-quarter">
      


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
<a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
    </div>
    
  <div class="govuk-grid-column-three-quarters"> 
<div class="govuk-notification-banner" role="region"
aria-labelledby="govuk-notification-banner-title"
data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
  Important
</h2>
</div>
<div class="govuk-notification-banner__content">
<p class="govuk-notification-banner__heading">
  Salaries and pay ranges shown in this prototype are unconfirmed and may not be accurate
</p>
</div>
</div>




        <h1 class="govuk-heading-xl">Social worker</h1>


          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Salary range
              </dt>
              <dd class="govuk-summary-list__value">
                £28,000 to £45,000 depending on location, responsibilities and experience
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Summary
            </dt>
            <dd class="govuk-summary-list__value">
              Provide assessments, interventions and support to ensure the well-being and safety of children and families
            </dd>
          </div>
        <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical hours
            </dt>
            <dd class="govuk-summary-list__value">
              37 to 40 hours a week
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other names
            </dt>
            <dd class="govuk-summary-list__value">
              Social work practitioner, frontline social worker
            </dd>
          </div>
        <!--  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Working patterns
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">All the live long day</p>
            </dd>
          </div> -->
        </dl>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  What you'll do
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">As a social worker you’ll:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>work with children and families to identify their needs and positively impact their lives</li>
                <li>develop plans that address the needs of children and families and promote their well-being</li>
                <li>organise and chair key meetings such as case reviews and core group meetings</li>
                <li>provide emotional and practical support to children and families</li>
                <li>keep up-to-date records of care plans and assessments</li>
                <li>reflect on your work and take on feedback to improve your practice</li>
                <li>work with multi-agency partners such as health professionals, schools and community organisations</li>
                <li>take part in training and development to enhance your skills and knowledge</li>
              </ul>
            <h3>Support you'll receive</h3>
              <p class="govuk-body-m">As a social worker you'll receive support including:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>regular supervision</li>
                  <li>peer support</li>
                  <li>access to emotional support resources</li>
                </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  Skills and knowledge
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">You'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>knowledge of the complex social, emotional and environmental issues affecting children and families</li>
                <li>interpersonal skills to build positive relationships with colleagues, service users and multi-agency partners</li>
                <li>analytical skills and a questioning mindset to assess information and identify actions</li>
                <li>communication skills to articulate and deliver your views to varied audiences</li>
                <li>time management and prioritisation skills to handle multiple cases at the same time</li>
                <li>self-care strategies to maintain your well-being when dealing with difficult cases and situations</li>
                <li>self-awareness and to be open to feedback to ensure your continued development</li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  How to become one
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              <p class="govuk-body-m">To become a child and family social worker you should have completed the <a href="https://vcf-sw-career-dev-prototype.herokuapp.com/current/roles/asye">assessed and supported year in social work (ASYE)</a> programme. The ASYE is not compulsory, but almost all employers require you to enrol on it when you join as a newly qualified social worker.</p>
            </div>
          </div>
            <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                  Career paths and progression
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
              <p class="govuk-body-m">With experience you could:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>use your knowledge and expertise to supervise students during their placements</li>
                <li>become a senior practitioner, taking on more complex cases and mentoring newly qualified social workers</li>
                <li>specialise in specific areas of child and family social work such as child protection or adoption and fostering</li>
                <li>move into a research or policy development role within a government agency, charity or other organisation</li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                  Current opportunities
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
              <p class="govuk-body-m">The <a href="https://findajob.dwp.gov.uk/">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
            </div>
          </div>
        </div>

<div class="govuk-!-margin-top-28">
  {% include "../../includes/dfe-pqs-aside.html" %}
</div>
    </div>
</div>


{% endblock %}
