{% extends "layout_primarynav.html" %}


{% block pageTitle %}
Explore roles – {{ serviceName }}
{% endblock %}




{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Explore roles in child and family social work</h1>
      <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
     
      <hr class="govuk-section-break govuk-section-break--visible">  <div class="govuk-!-margin-top-6"></div>
        <h2 class="govuk-heading-m">Practitioner</h2>
        <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
        
        <div class="govuk-!-margin-top-6">
    
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
                  <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Newly qualified social worker (opens a new website)</a>
          </div>
          </p>
          
              <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
              <div class="govuk-grid-row govuk-!-padding-bottom-3">
                  <div class="govuk-grid-column-one-half">
                      <ul class="govuk-list">
                          <li>
                              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
          
                          </li>
      
                      </ul>
                  </div>
                  <div class="govuk-grid-column-one-half">
                      <ul class="course-details govuk-list">
                          <li>
                              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                          </li>
                                         </ul>
                  </div>
              </div>
          </div>
          
      
            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Social worker (opens a new website)</a>
            </div>
            </p>
            
                <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
            
                            </li>
        
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="course-details govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                            </li>
                                           </ul>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible"> 
                <div class="govuk-!-margin-top-6"></div>
                <h2 class="govuk-heading-m">Experienced Practitioner</h2>
                <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
                  
          <div class="govuk-!-margin-top-6">
    
            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Senior Practitioner (opens a new website)</a>
            </div>
            </p>
            
                <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
            
                            </li>
        
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="course-details govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                            </li>
                                           </ul>
                    </div>
                </div>
            </div>

            <div class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Supervisor (opens a new website)</a>
      </div>
      </p>
      
          <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
          <div class="govuk-grid-row govuk-!-padding-bottom-3">
              <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list">
                      <li>
                          <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
      
                      </li>
  
                  </ul>
              </div>
              <div class="govuk-grid-column-one-half">
                  <ul class="course-details govuk-list">
                      <li>
                          <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                      </li>
                                     </ul>
              </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible"> 
          <div class="govuk-!-margin-top-6"></div>
          <h2 class="govuk-heading-m">Manager</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Child Protection Advisor (opens a new website)</a>
    </div>
    </p>
    
        <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
        <div class="govuk-grid-row govuk-!-padding-bottom-3">
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                    <li>
                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
    
                    </li>

                </ul>
            </div>
            <div class="govuk-grid-column-one-half">
                <ul class="course-details govuk-list">
                    <li>
                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                    </li>
                                   </ul>
            </div>
        </div>
        <div class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Service Manager (opens a new website)</a>
  </div>
  </p>
  
      <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
      <div class="govuk-grid-row govuk-!-padding-bottom-3">
          <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                  <li>
                      <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
  
                  </li>

              </ul>
          </div>
          <div class="govuk-grid-column-one-half">
              <ul class="course-details govuk-list">
                  <li>
                      <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                  </li>
                                 </ul>
          </div>
      </div>
      <div class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Team Manager (opens a new website)</a>
</div>
</p>

    <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
    <div class="govuk-grid-row govuk-!-padding-bottom-3">
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list">
                <li>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

                </li>

            </ul>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="course-details govuk-list">
                <li>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                </li>
                               </ul>
        </div>
    </div>
    <div class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Quality Improvement Manager (opens a new website)</a>
</div>
</p>

  <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
  <div class="govuk-grid-row govuk-!-padding-bottom-3">
      <div class="govuk-grid-column-one-half">
          <ul class="govuk-list">
              <li>
                  <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

              </li>

          </ul>
      </div>
      <div class="govuk-grid-column-one-half">
          <ul class="course-details govuk-list">
              <li>
                  <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
              </li>
                             </ul>
      </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible"> 
  <div class="govuk-!-margin-top-6"></div>
  <h2 class="govuk-heading-m">Senior Manager</h2>
  <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
  <div class="govuk-heading-s govuk-!-margin-bottom-1">
    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Assistant Director (opens a new website)</a>
</div>
</p>

<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

            </li>

        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <ul class="course-details govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
            </li>
                           </ul>
    </div>
</div>
<div class="govuk-heading-s govuk-!-margin-bottom-1">
  <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Head of Service (opens a new website)</a>
</div>
</p>

<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
  <div class="govuk-grid-column-one-half">
      <ul class="govuk-list">
          <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

          </li>

      </ul>
  </div>
  <div class="govuk-grid-column-one-half">
      <ul class="course-details govuk-list">
          <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
          </li>
                         </ul>
  </div>
</div>
<div class="govuk-heading-s govuk-!-margin-bottom-1">
<a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Principal Social Worker (opens a new website)</a>
</div>
</p>

<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
<div class="govuk-grid-column-one-half">
    <ul class="govuk-list">
        <li>
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

        </li>

    </ul>
  </div>
  <div class="govuk-grid-column-one-half">
      <ul class="course-details govuk-list">
          <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
          </li>
                         </ul>
  
                        </div>
  


  </div>
            
  <hr class="govuk-section-break govuk-section-break--visible"> 
  <div class="govuk-!-margin-top-6"></div>
  <h2 class="govuk-heading-m">Director/ Leaders</h2>
  <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
  <div class="govuk-heading-s govuk-!-margin-bottom-1">
    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Director of Children's Services (opens a new website)</a>
</div>
</p>

<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

            </li>

        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <ul class="course-details govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
            </li>
                           </ul>
    </div>
</div>          
            
            
        {% endblock %}

