{% extends "layout.html" %}
{% set programmePage = "alt_er" %}

{% block pageTitle %}
Explore roles – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Explore roles in child and family social work</h1>
      <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
     
      <hr class="govuk-section-break govuk-section-break--visible">  <div class="govuk-!-margin-top-6"></div>
        <h2 class="govuk-heading-m">Practioner</h2>
        <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
        
        <div class="govuk-!-margin-top-6">
    
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
                  <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Newly qualified social worker</a>
          </div>
          </p>
          
              <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
              <div class="govuk-grid-row govuk-!-padding-bottom-3">
                  <div class="govuk-grid-column-one-half">
                      <ul class="govuk-list">
                          <li>
                              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
          
                          </li>
      
                      </ul>
                  </div>
                  <div class="govuk-grid-column-one-half">
                      <ul class="course-details govuk-list">
                          <li>
                              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                          </li>
                                         </ul>
                  </div>
              </div>
          </div>
          
      
            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Social worker</a>
            </div>
            </p>
            
                <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
            
                            </li>
        
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="course-details govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                            </li>
                                           </ul>
                    </div>
                </div>
                <hr class="govuk-section-break govuk-section-break--visible"> 
                <div class="govuk-!-margin-top-6"></div>
                <h2 class="govuk-heading-m">Experienced Practitioner</h2>
                <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
                  
          <div class="govuk-!-margin-top-6">
    
            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/job-profiles/social-worker">Senior Practitioner</a>
            </div>
            </p>
            
                <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                    <div class="govuk-grid-column-one-half">
                        <ul class="govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
            
                            </li>
        
                        </ul>
                    </div>
                    <div class="govuk-grid-column-one-half">
                        <ul class="course-details govuk-list">
                            <li>
                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                            </li>
                                           </ul>
                    </div>
                </div>
            </div>

            <div class="govuk-heading-s govuk-!-margin-bottom-1">
              <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Supervisor</a>
      </div>
      </p>
      
          <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
          <div class="govuk-grid-row govuk-!-padding-bottom-3">
              <div class="govuk-grid-column-one-half">
                  <ul class="govuk-list">
                      <li>
                          <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
      
                      </li>
  
                  </ul>
              </div>
              <div class="govuk-grid-column-one-half">
                  <ul class="course-details govuk-list">
                      <li>
                          <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                      </li>
                                     </ul>
              </div>
          </div>
          <hr class="govuk-section-break govuk-section-break--visible"> 
          <div class="govuk-!-margin-top-6"></div>
          <h2 class="govuk-heading-m">Manager</h2>
          <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Child Protection Advisor</a>
    </div>
    </p>
    
        <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
        <div class="govuk-grid-row govuk-!-padding-bottom-3">
            <div class="govuk-grid-column-one-half">
                <ul class="govuk-list">
                    <li>
                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
    
                    </li>

                </ul>
            </div>
            <div class="govuk-grid-column-one-half">
                <ul class="course-details govuk-list">
                    <li>
                        <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                    </li>
                                   </ul>
            </div>
        </div>
        <div class="govuk-heading-s govuk-!-margin-bottom-1">
          <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Service Manager</a>
  </div>
  </p>
  
      <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
      <div class="govuk-grid-row govuk-!-padding-bottom-3">
          <div class="govuk-grid-column-one-half">
              <ul class="govuk-list">
                  <li>
                      <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>
  
                  </li>

              </ul>
          </div>
          <div class="govuk-grid-column-one-half">
              <ul class="course-details govuk-list">
                  <li>
                      <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                  </li>
                                 </ul>
          </div>
      </div>
      <div class="govuk-heading-s govuk-!-margin-bottom-1">
        <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Team Manager</a>
</div>
</p>

    <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
    <div class="govuk-grid-row govuk-!-padding-bottom-3">
        <div class="govuk-grid-column-one-half">
            <ul class="govuk-list">
                <li>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

                </li>

            </ul>
        </div>
        <div class="govuk-grid-column-one-half">
            <ul class="course-details govuk-list">
                <li>
                    <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
                </li>
                               </ul>
        </div>
    </div>
    <div class="govuk-heading-s govuk-!-margin-bottom-1">
      <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Quality Improvement Manager</a>
</div>
</p>

  <p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
  <div class="govuk-grid-row govuk-!-padding-bottom-3">
      <div class="govuk-grid-column-one-half">
          <ul class="govuk-list">
              <li>
                  <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

              </li>

          </ul>
      </div>
      <div class="govuk-grid-column-one-half">
          <ul class="course-details govuk-list">
              <li>
                  <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
              </li>
                             </ul>
      </div>
  </div>
  <hr class="govuk-section-break govuk-section-break--visible"> 
  <div class="govuk-!-margin-top-6"></div>
  <h2 class="govuk-heading-m">Senior Manager</h2>
  <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
  <div class="govuk-heading-s govuk-!-margin-bottom-1">
    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Assistant Director</a>
</div>
</p>

<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

            </li>

        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <ul class="course-details govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
            </li>
                           </ul>
    </div>
</div>
<div class="govuk-heading-s govuk-!-margin-bottom-1">
  <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Head of Service</a>
</div>
</p>

<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
  <div class="govuk-grid-column-one-half">
      <ul class="govuk-list">
          <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

          </li>

      </ul>
  </div>
  <div class="govuk-grid-column-one-half">
      <ul class="course-details govuk-list">
          <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
          </li>
                         </ul>
  </div>
</div>
<div class="govuk-heading-s govuk-!-margin-bottom-1">
<a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Principal Social Worker</a>
</div>
</p>

<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
<div class="govuk-grid-column-one-half">
    <ul class="govuk-list">
        <li>
            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

        </li>

    </ul>
  </div>
  <div class="govuk-grid-column-one-half">
      <ul class="course-details govuk-list">
          <li>
              <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
          </li>
                         </ul>
  
                        </div>
  


  </div>
            
  <hr class="govuk-section-break govuk-section-break--visible"> 
  <div class="govuk-!-margin-top-6"></div>
  <h2 class="govuk-heading-m">Director/ Leaders</h2>
  <p class="govuk-body">Lorem ipsum dolor sit amet. Rem illo soluta aut quam molestiae a tempore incidunt quo similique cupiditate sed mollitia cupiditate qui nihil voluptatibus.</p>
  <div class="govuk-heading-s govuk-!-margin-bottom-1">
    <a class="govuk-link" href="https://nationalcareers.service.gov.uk/find-a-course/details?courseId=f9fdd605-6d70-4305-9081-1ba185e64182&amp;runId=69a3c332-6e9b-46a0-8b9c-2f4cf4a7d972&amp;searchTerm=&amp;town=Croydon%20(Greater%20London)&amp;courseType=&amp;courseHours=&amp;courseStudyTime=&amp;startDate=Anytime&amp;distance=10%20miles&amp;filtera=True&amp;page=1&amp;orderByValue=Distance&amp;coordinates=-0.080795|51.358305&amp;campaignCode=&amp;qualificationLevels=&amp;D=1">Director of Children's Services</a>
</div>
</p>

<p class="govuk-body-s">Health and Social Care covers a range of subjects including public health, effective communication in health, equality and diversity rights and also working in the health sector.  It also covers anato...</p>
<div class="govuk-grid-row govuk-!-padding-bottom-3">
    <div class="govuk-grid-column-one-half">
        <ul class="govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold"> Average salary a year: £27k - £42k</span>

            </li>

        </ul>
    </div>
    <div class="govuk-grid-column-one-half">
        <ul class="course-details govuk-list">
            <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Typical hours (a week): 35 - 40</span> 
            </li>
                           </ul>
    </div>
</div>          
            
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{{ govukPagination({
  previous: {
    href: "#"
  },
  next: {
    href: "#"
  },
  items: [
    {
      number: 1,
      href: "#"
    },
    {
      number: 2,
      current: true,
      href: "#"
    },
    {
      number: 3,
      href: "#"
    }
  ]
}) }}
            
        {% endblock %}

