
{{ govukFooter({
  meta: {
    items: [
      {
        href: "../supporting-pages/privacy",
        text: "Privacy policy"
      },
      {
        href: "../supporting-pages/cookies",
        text: "Cookies"
      },
      {
        href: "../supporting-pages/accessibility-statement",
        text: "Accessibility statement"
      },
      {
        href: "#",
        text: "Contact"
      },
      {
        href: "../supporting-pages/terms-and-conditions",
        text: "Terms and conditions"
      },
      {
        href: "#",
        text: "Feedback"
      }
    ]
  }
}) }}