
{{ govukFooter({
  meta: {
    items: [
      {
        href: "../privacy",
        text: "Privacy"
      },
      {
        href: "../supporting-pages/cookies",
        text: "Cookies"
      },
      {
        href: "../accessibility",
        text: "Accessibility"
      }
    ]
  }
}) }}