
{% if pageName == "explore roles" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Roles in child and family social work</h1>
                <p class="govuk-body-l">Find out about different roles at each career stage, what they involve and the skills and qualifications you’ll need.</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

{% elseif pageName == "explore areas of practice" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Explore areas of practice</h1>
                <p class="govuk-body-l">Find out about different areas of practice in child and family social work and the skills and knowledge you'll need to work in them.</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

      {% elseif pageName == "real life stories" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Real life stories</h1>
                <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire.
</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

            {% elseif pageName == "development programmes" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Child and family social work development programmes</h1>
                <p class="govuk-body-l">The following programmes are funded by the Department for Education.
</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

                  {% elseif pageName == "career stages" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Career information by career stage</h1>
                <p class="govuk-body-l">The programmes we fund develop the skills and knowledge of social workers to help improve outcomes for children and families.
</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

                  {% elseif pageName == "resources" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Resources and learning</h1>
                <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. 
</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

                        {% elseif pageName == "news" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Latest news in child and family social work</h1>
                   
        </div>
        </div>
        </div>
      </div>
      </section>

                              {% elseif pageName == "about" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">About child and family social work</h1>
                       <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. 
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>


                                    {% elseif pageName == "starting your career" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Starting your career</h1>
                       <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. 
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                          {% elseif pageName == "career paths" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Career paths</h1>
                       <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. 
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                                {% elseif pageName == "practitioners" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Practitioners</h1>
                       <p class="govuk-body-l">Includes newly qualified social workers and social workers. 
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                                      {% elseif pageName == "experienced practitioners" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Experienced practitioners</h1>
                       <p class="govuk-body-l">Includes senior or consultant social workers, practice educators and practice supervisors.
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>


                                                      {% elseif pageName == "managers" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Managers</h1>
                       <p class="govuk-body-l">Includes team managers, middle managers and independent reviewing officers (IROs).
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                                            {% elseif pageName == "senior managers" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Senior managers</h1>
                       <p class="govuk-body-l">Includes principal social workers, heads of service and service managers.
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>



                                                            {% elseif pageName == "leaders" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Leaders</h1>
                       <p class="govuk-body-l">Includes assistant directors and directors of children's services.
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

      {% endif %}
