
{% if pageName == "explore roles" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Roles in child and family social work</h1>
                <p class="govuk-body-l">Find out about different roles at each career stage, what they involve and the skills and qualifications you’ll need.</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

{% elseif pageName == "explore areas of practice" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Explore areas of practice</h1>
                <p class="govuk-body-l">Find out about different areas of practice in child and family social work and the skills and knowledge you'll need to work in them.</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

      {% elseif pageName == "real life stories" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Real life stories</h1>
                <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire.
</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

            {% elseif pageName == "development programmes" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Child and family social work development programmes</h1>
                <p class="govuk-body-l">The following programmes are funded by the Department for Education.
</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

                  {% elseif pageName == "career stages" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Career information by career stage</h1>
                <p class="govuk-body-l">The programmes we fund develop the skills and knowledge of social workers to help improve outcomes for children and families.
</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

                  {% elseif pageName == "resources" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Resources and learning</h1>
                <p class="govuk-body-l">Explore resources to help you in your everyday practice, from working with families to workforce planning. 
</p>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

                        {% elseif pageName == "resources-collapsed" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Resources and learning</h1>



      <div class="govuk-form-group">
        <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
          <h2 class="govuk-heading-m"> Search resources </h2>
        </label>
        <p class="govuk-body-m">Enter a keyword or search term</p>
        <div class="govuk-grid-row">      
          <div class="govuk-form-group govuk-grid-column-full">
            <div class="govuk-input__wrapper govuk-search-group">
              <input type="text" class="govuk-input" id="searchAgainTermInput" data-cy="cySearchAgainInput" value="">
              <a href="resources-empty-state.html" class="govuk-button govuk-!-margin-left-2" data-module="govuk-button" data-cy="cySearchAgainButton">
                  Search
              </a> </div>
            </div>
          </div>
          
           
        </div>
        </div>
        </div>
      </div>
      </section>

                        {% elseif pageName == "news" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Latest news in child and family social work</h1>
                   
        </div>
        </div>
        </div>
      </div>
      </section>

                              {% elseif pageName == "about" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">About child and family social work</h1>
                       <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. 
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>


                                    {% elseif pageName == "starting your career" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Starting your career</h1>
                       <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. 
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                          {% elseif pageName == "career paths" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Career paths</h1>
                       <p class="govuk-body-l">Lorem ipsum dolor sit amet, at cetero numquam feugait nam, mei mundi inimicus in. An stet ridens vim, meliore offendit reprimique his in, an vim wisi audire. 
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                                {% elseif pageName == "practitioners" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Practitioner</h1>
                       <p class="govuk-body-l">Includes newly qualified social workers and social workers. 
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                                      {% elseif pageName == "experienced practitioners" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Experienced practitioner</h1>
                       <p class="govuk-body-l">Includes senior or consultant social workers, practice educators and practice supervisors.
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>


                                                      {% elseif pageName == "managers" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Manager</h1>
                       <p class="govuk-body-l">Includes team managers, middle managers and independent reviewing officers (IROs).
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                                            {% elseif pageName == "senior managers" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Senior manager</h1>
                       <p class="govuk-body-l">Includes principal social workers, heads of service and service managers.
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>



                                                            {% elseif pageName == "leaders" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">Senior leader</h1>
                       <p class="govuk-body-l">Includes assistant directors and directors of children's services.
</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

                                                                  {% elseif pageName == "nwag" %}
<main class="govuk-main-wrapper--auto-spacing" id="main-content" role="main">
<section class="app-section-content app-section-content--blue govuk-!-margin-top-6">
        <div class="dfe-width-container">
        <div class="govuk-grid-row govuk-!-padding-top-3 govuk-!-padding-bottom-0">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-3">
                <h1 class="govuk-heading-xl">National Workload Action Group employer standards</h1>
                       <p class="govuk-body-l">‘Good social work can transform people’s lives and protect them from harm’</p>    
        </div>
        </div>
        </div>
      </div>
      </section>

      {% endif %}
