<header class="govuk-header " role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="https://www.gov.uk/government/organisations/department-for-education/" title="Go to the Department for Education homepage" class="govuk-header__link govuk-header__link--homepage">
                <img class="logo" src="/public/images/dfe-logo.png" alt="Department for Education logo">
            </a>
        </div>

        <div class="govuk-header__content">
            <a href="/" class="govuk-header__link govuk-header__link--service-name">
                Social workers career development alpha
            </a>
            <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide Top Level Navigation">Menu</button>
            <nav>
                Nav goes here
            </nav>
        </div>
    </div>
</header>


