{# <header class="govuk-header app-header" role="banner" data-module="govuk-header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/" class="govuk-header__link govuk-header__link--homepage">
        <span class="govuk-header__product-name">
{{ serviceName }}
        </span>
      </a>
    </div>
    <div class="govuk-header__content">
      <nav class="govuk-header__navigation govuk-header__navigation--end" aria-label="Menu">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" aria-expanded="false">Menu</button>
        <ul id="navigation" class="govuk-header__navigation-list">
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="/contribute.html">Contribute</a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="https://forms.gle/WfLUr8K6SDVERwzbA">Feedback</a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>#}

<header class="govuk-header app-header" role="banner" data-module="govuk-header">
    <div class="govuk-header__container govuk-width-container">
        <div class="govuk-header__logo">
            <a href="/" class="govuk-header__link govuk-header__link--homepage" title="Go to the Develop your career in child and family social work homepage">
            <span class="govuk-header__logotype">
             <img src="/public/images/crest.png" alt="Department for Education homepage" class="govuk-header__logotype-crown-fallback-image">
              <span class="govuk-header__logotype-text">
                Department for Education
              </span>
            </span>
            <span class="govuk-header__product-name">{{serviceName}}</span>
          </a>
        </div>
    </div>
</header>
   <!-- Display menu if needed (nb: styling will need some work)
    <div class="govuk-header__content">
      <nav class="govuk-header__navigation govuk-header__navigation--end" aria-label="Menu">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" aria-expanded="false">Menu</button>
        <ul id="navigation" class="govuk-header__navigation-list">
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="#">Development programmes</a>
            </li>
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="#">Career guidance</a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>-->


