{% if pageName == "nq" %}
    <section class="app-section app-section--blue govuk-!-margin-top-6">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-2">
                <div class="hero-breadcrumbs">
                  <ol class="hero-breadcrumbs__list">
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="../core-website">Home</a>
                    </li>
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="career-pathway">Career pathway</a>
                    </li>
                    <!--
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="newly-qualified-social-worker">Newly Qualified Social Worker</a>
                    </li>-->
                  </ol>
                </div>
                <h1 class="govuk-heading-xl body-header-font">Newly Qualified Social Worker</h1>
                <p class="govuk-body govuk-!-font-size-24 body-header-font">A description of what the newly qualified social worker level is all about goes here. Nulla placerat lorem risus, sed lobortis enim aliquam vel. Vivamus consectetur, turpis eu porta euismod, ligula lectus scelerisque velit, eu fringilla ipsum ex vel magna. Cras neque turpis, facilisis vel posuere id, iaculis vel mauris.</p>
                <div class="key-facts">
                    <ul class="key-facts__list">
                        <!--<li class="key-facts__item"><span class="key-facts__salary">Salary band: 30-45k</span></li>-->
                        <li class="key-facts__item"><span class="key-facts__standards">Related professional standards:</span><span class="key-facts__basw"><a class="key-facts__link" href="https://www.basw.co.uk/professional-development/professional-capabilities-framework-pcf/the-pcf">BASW</a></span></li>
                        <li class="key-facts__item"><span class="key-facts__steps">Career pathway:</span><span class="key-facts__after"><a class="key-facts__link" href="practitioner">After this</a></span></li>
                    </ul>
                </div>
            </div>

         </div>
      </div>
    </section>
{% elseif pageName == "pr" %}
    <section class="app-section app-section--blue govuk-!-margin-top-6">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-2">
                <div class="hero-breadcrumbs">
                  <ol class="hero-breadcrumbs__list">
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="../core-website">Home</a>
                    </li>
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="career-pathway">Career pathway</a>
                    </li>
                    <!--
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="practitioner">Practitioner</a>
                    </li>
                    -->
                  </ol>
                </div>
                <h1 class="govuk-heading-xl body-header-font">Practitioner</h1>
                <p class="govuk-body govuk-!-font-size-24 body-header-font">A description of what the practitioner level is all about goes here. Nulla placerat lorem risus, sed lobortis enim aliquam vel. Vivamus consectetur, turpis eu porta euismod, ligula lectus scelerisque velit, eu fringilla ipsum ex vel magna. Cras neque turpis, facilisis vel posuere id, iaculis vel mauris.</p>
                <div class="key-facts">
                    <ul class="key-facts__list">
                        <li class="key-facts__item"><span class="key-facts__salary">Salary band: 24-38k</span></li>
                        <li class="key-facts__item"><span class="key-facts__standards">Related professional standards:</span><span class="key-facts__dfe"><a class="key-facts__link" href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work">DfE</a></span><span class="key-facts__basw"><a class="key-facts__link" href="https://www.basw.co.uk/professional-development/professional-capabilities-framework-pcf/the-pcf">BASW</a></span></li>
                        <li class="key-facts__item"><span class="key-facts__steps">Career pathway:</span><span class="key-facts__before"><a class="key-facts__link" href="newly-qualified-social-worker">Before this</a></span><span class="key-facts__after"><a class="key-facts__link" href="practice-supervisor">After this</a></span></li>
                </div>
            </div>

         </div>
      </div>
    </section>
{% elseif pageName == "ps" %}
    <section class="app-section app-section--blue govuk-!-margin-top-6">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-2">
                <div class="hero-breadcrumbs">
                  <ol class="hero-breadcrumbs__list">
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="../core-website">Home</a>
                    </li>
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="career-pathway">Career pathway</a>
                    </li>
                    <!--
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="practice-supervisor">Practice Supervisor</a>
                    </li>
                    -->
                  </ol>
                </div>
                <h1 class="govuk-heading-xl body-header-font">Practice Supervisor</h1>
                <p class="govuk-body govuk-!-font-size-24 body-header-font">A description of what a practice supervisor level is all about goes here. Nulla placerat lorem risus, sed lobortis enim aliquam vel. Vivamus consectetur, turpis eu porta euismod, ligula lectus scelerisque velit, eu fringilla ipsum ex vel magna. Cras neque turpis, facilisis vel posuere id, iaculis vel mauris.</p>
                <div class="key-facts">
                    <ul class="key-facts__list">
                        <li class="key-facts__item"><span class="key-facts__salary">Salary band: 31-45k</span></li>
                        <li class="key-facts__item"><span class="key-facts__standards">Related professional standards:</span><span class="key-facts__dfe"><a class="key-facts__link" href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work">DfE</a></span><span class="key-facts__basw"><a class="key-facts__link" href="https://www.basw.co.uk/professional-development/professional-capabilities-framework-pcf/the-pcf">BASW</a></span></li>
                        <li class="key-facts__item"><span class="key-facts__steps">Career pathway:</span><span class="key-facts__before"><a class="key-facts__link" href="practitioner">Before this</a></span><span class="key-facts__after"><a class="key-facts__link" href="practice-leader">After this</a></span></li>
                    </ul>
                </div>
            </div>
         </div>
      </div>
    </section>
{% elseif pageName == "pl" %}
    <section class="app-section app-section--blue govuk-!-margin-top-6">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-2">
                <div class="hero-breadcrumbs">
                  <ol class="hero-breadcrumbs__list">
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="../core-website">Home</a>
                    </li>
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="career-pathway">Career pathway</a>
                    </li>
                    <!--
                    <li class="hero-breadcrumbs__list-item">
                      <a class="hero-breadcrumbs__link" href="practice-leader">Practice Leader</a>
                    </li>
                    -->
                  </ol>
                </div>
                <h1 class="govuk-heading-xl body-header-font">Practice Leader</h1>
                <p class="govuk-body govuk-!-font-size-24 body-header-font">A description of what a practice leader level is all about goes here. Nulla placerat lorem risus, sed lobortis enim aliquam vel. Vivamus consectetur, turpis eu porta euismod, ligula lectus scelerisque velit, eu fringilla ipsum ex vel magna. Cras neque turpis, facilisis vel posuere id, iaculis vel mauris.</p>
                <div class="key-facts">
                    <ul class="key-facts__list">
                        <li class="key-facts__item"><span class="key-facts__salary">Salary band: 43-86k</span></li>
                        <li class="key-facts__item"><span class="key-facts__standards">Related professional standards:</span><span class="key-facts__dfe"><a class="key-facts__link" href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work">DfE</a></span><span class="key-facts__basw"><a class="key-facts__link" href="https://www.basw.co.uk/professional-development/professional-capabilities-framework-pcf/the-pcf">BASW</a></span></li>
                        <li class="key-facts__item"><span class="key-facts__steps">Career pathway:</span><span class="key-facts__before"><a class="key-facts__link" href="practice-supervisor">Before this</a></span></li>
                    </ul>
                </div>
            </div>
         </div>
      </div>
    </section>
{% elseif pageName == "hp" %}
    <section class="app-section app-section--blue govuk-!-margin-top-6">
      <div class="govuk-width-container">
         <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-6">
                <h1 class="govuk-heading-xl body-header-font">Develop your career in child and family social work</h1>
                <p class="govuk-body govuk-!-font-size-24 body-header-font">The Department for Education funds development programmes for child and family practitioners at different stages of their careers.</p>
            </div>
         </div>
      </div>
    </section>
{% elseif pageName == "hp_beta" %}
<section class="app-section app-section-beta--blue govuk-!-margin-top-6">
  <div class="govuk-width-container">
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-6">
            <h1 class="govuk-heading-xl body-header-font">Develop your career in child and family social work</h1>
            <p class="govuk-body govuk-!-font-size-24 body-header-font">The Department for Education funds development programmes for child and family social workers at different stages of their careers.</p>
        </div>
     </div>
  </div>
</section>
{% elseif pageName =="hp_new" %}
      <div class="govuk-width-container">
        <div class="govuk-grid-row body-header-background govuk-!-margin-top-6 govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-two-thirds-from-desktop govuk-!-padding-top-6">
                <h1 class="govuk-heading-xl body-header-font">Develop your career in child and family social work</h1>
                <p class="govuk-body govuk-!-font-size-24 body-header-font">A brief explanation of what this service is all about could go here. Why should they care? How will this help them yada....</p>
            </div>
        </div>
      </div>

{% endif %}
