<section class="app-section app-section--blue govuk-!-margin-top-6">
  <div class="govuk-width-container">
     <div class="govuk-grid-row">
        <div class="govuk-grid-column-full govuk-!-padding-top-6">
            <h1 class="govuk-heading-xl body-header-font">Social worker career development</h1>
            <p class="govuk-body govuk-!-font-size-24 body-header-font">A brief explanation of what this service is all about could go here. What it might provide the user and more...</p>
        </div>
     </div>
  </div>
</section>