 <div class="govuk-width-container">
          <main class="govuk-main-wrapper " id="main-content" role="main">

            <div class="govuk-grid-row">

              <div class="govuk-grid-column-one-quarter">
                


<nav class="dfe-vertical-nav">
    <ul class="dfe-vertical-nav__section">
      
        <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
          <a class="dfe-vertical-nav__link" href="/design-system/">Our service</a>
        </li>
      
        <li class="dfe-vertical-nav__section-item ">
          <a class="dfe-vertical-nav__link" href="/design-system/dfe-frontend">Starting your career</a>
        </li>
      
        <li class="dfe-vertical-nav__section-item ">
          <a class="dfe-vertical-nav__link" href="/design-system/styles/">Career paths</a>
        </li>
      
        <li class="dfe-vertical-nav__section-item ">
          <a class="dfe-vertical-nav__link" href="/design-system/components/">Teams in C&FSW</a>
        </li>
      
    </ul>

</nav>
              </div>
              
              