{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}

{% block content %}



<div class="dfe-width-container govuk-grid-row">
<div class="govuk-grid-column-three-quarter">
  <span class="govuk-caption-l">Resources</span>
  <h1 class="govuk-heading-xl">Workforce Learning Report</h1>
  <p class="govuk-body">A skilled, motivated workforce is at the heart of effective children’s social care. Paying attention to and investing in workforce stability is therefore vital to achieving the outcomes set for local communities and enabling children and families to thrive.</p>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
  <ul class="course-details govuk-list">
    <li>
    <span class="govuk-!-font-size-16">From: Social care institute for excellence</span>
    </li>
    <li>
    <span class="govuk-!-font-size-16">Published: 8 July 2023</span>
    </li>
    <li>
      <span class="govuk-!-font-size-16">Last updated: 8 July 2023</span>
      </li>
      <li>
        <span class="govuk-!-font-size-16">Resource type: CPD resource </span>
        </li>
        <li>
          <span class="govuk-!-font-size-16">Topic: Workforce planning</span>
          </li>
        <li>
          <span class="govuk-!-font-size-16">Career stage: Practitioner</span>
          </li>
          
  </ul>

  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">
        Give feedback about this page
      </span>
    </summary>
    
    <div id="introductoryText" class="govuk-details__text">Use this form to provide feedback about this page. If you have more general feedback about this website, please use the form <a href="#">here</a>. <br><br><span id="usefulQuestion">Did you find this page useful?</span></div>
    
    <div class="govuk-details__text">
      <div class="govuk-form-group" id="fieldsetContainer">
        <fieldset class="govuk-fieldset">
  
          <div class="govuk-radios" data-module="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="DidYouFindThisPageUseful" name="DidYouFindThisPageUseful" type="radio" value="yes" onclick="showAdditionalFeedback()">
              <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="DidYouFindThisPageUseful-2" name="DidYouFindThisPageUseful" type="radio" value="no" onclick="showAdditionalFeedback()">
              <label class="govuk-label govuk-radios__label" for="DidYouFindThisPageUseful-2">
                No
              </label>
            </div>
          </div>
        </fieldset>
      </div>
    
      <div class="govuk-!-margin-top-4 feedback-container" id="additionalFeedbackContainer" style="display: none;">
        <p id="feedbackMessage">Thank you for your feedback. Any further details you can provide will help us to improve this page:</p>
    
        <div class="govuk-!-margin-top-4 feedback-container">
          <label class="govuk-label" for="more-detail">
            Tell us about your experience with this page.
          </label>
          <textarea class="govuk-textarea" id="more-detail" name="moreDetail" rows="5" aria-describedby="more-detail-hint"></textarea>
        </div>
    
        <div class="govuk-!-margin-top-4 feedback-container">
          <label class="govuk-label" for="additional-comments">
            Do you have any additional comments?
          </label>
          <textarea class="govuk-textarea" id="additional-comments" name="additionalComments" rows="5" aria-describedby="additional-comments-hint"></textarea>
        </div>
    
        <div class="govuk-button-group">
          <button class="govuk-button" data-module="govuk-button" onclick="submitFeedback()">
            Submit Feedback
          </button>
          <a class="govuk-link" href="#" onclick="resetForm()">Cancel</a>
        </div>
      </div>
    
      <div id="thankYouMessage" style="display: none;">
        Thank you for your feedback on this resource! If you have more general feedback about this website, please use the form <a href="#">here</a>.
      </div>
    </div>
    
    <script>
      function showAdditionalFeedback() {
        // Hide the introductory text
        document.getElementById('introductoryText').style.display = 'none';
    
        // Hide the useful question
        document.getElementById('usefulQuestion').style.display = 'none';
    
        // Hide the fieldset
        document.getElementById('fieldsetContainer').style.display = 'none';
    
        // Show the additional feedback container
        document.getElementById('additionalFeedbackContainer').style.display = 'block';
    
        // Update the feedback message
        document.getElementById('feedbackMessage').innerHTML = "Thank you for your feedback. Any further details you can provide will help us to improve this page:";
      }
    
      function resetForm() {
        // Show the introductory text
        document.getElementById('introductoryText').style.display = 'block';
    
        // Show the useful question
        document.getElementById('usefulQuestion').style.display = 'block';
    
        // Show the fieldset
        document.getElementById('fieldsetContainer').style.display = 'block';
    
        // Hide the additional feedback container
        document.getElementById('additionalFeedbackContainer').style.display = 'none';
    
        // Clear the textareas
        document.getElementById('more-detail').value = '';
        document.getElementById('additional-comments').value = '';
      }
    
      function submitFeedback() {
        // Replace the form with a thank you message
        document.getElementById('additionalFeedbackContainer').style.display = 'none';
        document.getElementById('thankYouMessage').style.display = 'block';
      }
    </script>
    
    
    </details>
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <p class="govuk-body-m">In the light of recruitment pressures and rising vacancy rates, this report seeks to highlight innovative practice from across local authorities forming part of the SFPC programme. The report is based on in-depth conversations and interviews with staff from eleven SFPC local authorities who are applying a range of strategies to address workforce-related challenges, attract values-driven and motivated people and create a supportive culture for staff to practise safely, develop and thrive.</p>


<div class="dfe-o-banner__image-container">
  <img src="/public/images/workforce-learning-report.png" alt="placeholder image for resources">
</div>
<div class="govuk-!-margin-top-8">

<p class="govuk-body-m">The report highlights leaders’ and practitioners’ responses and examples of good practice across the themes of:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    Values-led leadership and decision-making
  </li>
  <li>
    Recruiting talented and values-driven people
  </li>
  <li>
    Learning and development for social work to flourish
    </li>
    <li>
      Retaining skilled and dedicated staff
      </li>

</ul>
<p class="govuk-body-m">It includes a series of Top Tips for effective staff recruitment, development and retention, and highlights four overarching recommendations for successful workforce strategies.
</p>
<p class="govuk-body-m">These include:</p>
<ul class="course-details govuk-list">
  <li>
   1. To centre values-led decision-making
  </li>
  <li>
    2. To take a whole-system approach to recruitment
  </li>
  <li>
    3. To build the learning conditions for social work to flourish
    </li>
    <li>
      4. To enable staff to create effective change in children and families’ lives
      </li>
</ul>


<div class="govuk-!-margin-top-8">

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

    
        <div class="ons-document-list__item">
          <div class="ons-document-list__item-image ons-document-list__item-image--file" aria-hidden="true">
            <a class="ons-document-list__image-link ons-document-list__image-link--placeholder" href="https://www.scie.org.uk/files/strengthening-families/workforce-learning-report.pdf" tabindex="-1">
              <!-- Your image goes here with inline styles -->
              <img src="/public/images/workforce-learning-report-pdf-cover.png" alt="workforce learning report cover image" style="width: 100px; height: 140px;">
            </a>
          </div>
     
          <div class="ons-document-list__item-description" style="margin-left: 2rem;"> <!-- Add margin to create a gap -->
            <!-- Description content -->
            <h3><a href="https://www.scie.org.uk/files/strengthening-families/workforce-learning-report.pdf">Workforce Learning Report</a></h3>
            <ul class="course-details govuk-list">
              <li>
                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">PDF document download, 499KB, 1 page</span>
              </li>
              <li>
                Download the learning report below and find out more about local authorities’ inspiring workforce and to find helpful tips and recommendations to inform future organizational strategies.
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
 

  </div>

{% endblock %}
