{% extends "layout_futurestate.html" %}
{% set nav2Active = true %}
{% set pageName = "resources" %}

{% block content %}
<div class="dfe-width-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-m">Results</h2>

        <p class="govuk-body-m">We found <strong>0</strong> results</p>
        <button class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Clear all filters
        </button>

    <div class="govuk-summary-card">
      <div class="govuk-summary-card__title-wrapper">
        <h2 class="govuk-heading-m">Filters</h2>
        <ul class="govuk-summary-card__actions">
          <li class="govuk-summary-card__action">

          </li>   
        </ul>
      </div>
      <div class="govuk-summary-card__content">

        <form method="post" action="resources-filter-applied">
          <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Topic
                </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">


                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                          Diversity and inclusion (5)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Practice frameworks (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Strategic partnerships (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Supervision (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Wellbeing (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Workforce planning (4)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Workloads and case allocation (5)
                         </label>
                      </div>
                      
                    </fieldset>
                  </div>
                </div>
              </div>

              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                          Continuing professional development (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                          Diversity and inclusion (5)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Practice frameworks (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Strategic partnerships (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Supervision (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Staff wellbeing (3)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Workforce planning (4)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Workloads and case allocation (5)
                         </label>
                      </div>
                      
                    </fieldset>
                  </div>
                </div>
              
            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Resource provider
                </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                          Families First Children Pathfinder (18)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                          Strengthening Families, Protecting Children (5)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Virtual Hubs (2)
                         </label>
                      </div>
                      
                      
                    </fieldset>
                  </div>
                </div>
              </div>
         

            <div class="govuk-accordion__section">
              <div class="govuk-accordion__section-header">
                <h2 class="govuk-accordion__section-heading">
                  <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                    Format
                </span>
                </h2>
              </div>
              <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset">

                    <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                          Case study (18)
                         </label>
                      </div>

                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Direct tool (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Knowledge articles (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Research papers (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Training courses (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Legislation updates (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Podcasts (2)
                         </label>
                      </div>
                      <div class="govuk-checkboxes__item">
                        <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                        <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                          Videos (2)
                         </label>
                      </div>
                      
                    </fieldset>
                  </div>
                </div>
              </div>
         
                <div class="govuk-accordion__section">
                  <div class="govuk-accordion__section-header">
                    <h2 class="govuk-accordion__section-heading">
                      <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
                        Career stage
                    </span>
                    </h2>
                  </div>
                  <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
                    <div class="govuk-form-group">
                      <fieldset class="govuk-fieldset">
    
                        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                              Newley qualified practitioner (2)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome" name="filter_outcome" type="checkbox" value="Red" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome">
                              Practitioner (2)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome-2" name="filter_outcome" type="checkbox" value="Amber" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-2">
                              Experienced practitoner (5)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                              Manager (3)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                              Senior manager (3)
                             </label>
                          </div>
                          <div class="govuk-checkboxes__item">
                            <input class="govuk-checkboxes__input" id="filter_outcome-3" name="filter_outcome" type="checkbox" value="Green" >
                            <label class="govuk-label govuk-checkboxes__label" for="filter_outcome-3">
                              Leader (3)
                             </label>
                          </div>
                          
                          
                        </fieldset>
                      </div>
                    </div>
                  </div>
                </div>
            <button class="govuk-button" data-module="govuk-button">
             Apply filter
             </button>
          </form>
        </div>
      </div>
    </div>



  



  <div class="govuk-grid-column-two-thirds">
    <div class="dfe-width-container">
      <div class="govuk-form-group">
        <label class="govuk-label moj-search__label govuk-!-font-weight-bold" for="search">
          <h2 class="govuk-heading-m"> Search resources </h2>
        </label>
        <p class="govuk-body-m">Enter a keyword or search term</p>
        <div class="govuk-grid-row">      
          <div class="govuk-form-group govuk-grid-column-full">
            <div class="govuk-input__wrapper govuk-search-group"><input type="text" class="govuk-input" id="searchAgainTermInput" name="searchTerm" placeholder="Mental health" data-cy="cySearchAgainInput" value="">
              <button class="govuk-button govuk-!-margin-left-2" data-module="govuk-button" data-cy="cySearchAgainButton" for="searchAgainTermInput">Search</button></div></div>
      </div>
      <h2 class="govuk-heading-m">No resources found</h2>
      <p class="govuk-body-m">Try adjusting your search or filter to find what you're looking for.</p>
          </div>

    {% endblock %}
