{% extends "layout.html" %}
{% block pageTitle %}
Career guidance – Develop your career in child and family social work
{% endblock %}

<div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="/">Home</a>
        </li>
        <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Career guidance</a>
        </li>
    </ol>
</div>

{% block content %}

<div class='govuk-grid-row govuk-!-margin-bottom-2'>
    <div class='govuk-grid-column-two-thirds'>
        <div>
            <h2 class="govuk-heading-l">Career guidance</h2>
        </div>
    </div>
</div>
<div class='govuk-grid-row govuk-!-margin-bottom-6'>
    <div class='govuk-grid-column-one-third'>
        <div class="section-card__wbutton">
            <h3 class="govuk-heading-m">Career pathways</h3>
            <p class="govuk-!-margin-bottom-6">Information about what the user will find in this section.</p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-button tl-home--forum govuk-!-margin-bottom-0" href="#">
                    Explore pathways
                </a>
            </p>
        </div>
    </div>
    <div class='govuk-grid-column-one-third'>
        <div class="section-card__wbutton">
            <h3 class="govuk-heading-m">Guidance for roles</h3>
            <p class="govuk-!-margin-bottom-6">Information about what the user will find in this section</p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-button tl-home--forum govuk-!-margin-bottom-0" href="#">
                    Explore roles
                </a>
            </p>
        </div>
    </div>
    <div class='govuk-grid-column-one-third'>
        <div class="section-card__wbutton">
            <h3 class="govuk-heading-m">Guidance tool</h3>
            <p class="govuk-!-margin-bottom-6">Information about what the user will find in this section</p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-button tl-home--forum govuk-!-margin-bottom-0" href="#">
                    Try our tool
                </a>
            </p>
        </div>
    </div>
</div>

{% endblock %}