{% set pageName = "hp" %}
{% extends "layout_whero.html" %}

{% block content %}


<!------------- FEATURE SECTION ------------->
<!--
<div class='govuk-grid-row govuk-!-margin-bottom-2'>
    <div class='govuk-grid-column-two-thirds'>
        <div>
            <h2 class="govuk-heading-l">Latest things</h2>
        </div>
    </div>
</div>
<div class='govuk-grid-row govuk-!-margin-bottom-6'>
    <div class='govuk-grid-column-one-half'>
        <div class="section-card__wbutton">
            <h3 class="govuk-heading-m">Try our career tool</h3>
            <p class="govuk-!-margin-bottom-6">Tell us about you and we can give you some things to do.</p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-button tl-home--forum govuk-!-margin-bottom-0" href="career-tool/start">
                    Take the quiz
                </a>
            </p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half'>
        <div class="section-card__wbutton">
            <h3 class="govuk-heading-m">New to social working?</h3>
            <p class="govuk-!-margin-bottom-6">Just completed ASYE? Need some help on what to do next?</p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-button tl-home--forum govuk-!-margin-bottom-0" href="#">
                    Help for newbies
                </a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
</div>
-->
<!-- FEATURE SECTION ENDS -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">DfE development programmes</h1>
        <p class="govuk-body">The Department for Education fund a number of programmes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="core-website/asye">ASYE</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the ASYE programme goes under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="core-website/pathways-programme">Pathways programme</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the Pathways programme goes under here.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row govuk-!-margin-bottom-7'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="core-website/upon">Upon: inspiring leaders programme</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the Upon: inspiring leaders programme goes under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="#">Assessment (opens in new tab)<span class="govuk-caption-m"></span></a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the Assessment programme goes here.</p>
        </div>
    </div>
</div>
<!--OTHER CONTENT -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Career progression</h1>
    </div>
</div>
<div class='govuk-grid-row govuk-!-margin-bottom-7'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="career-pathway/career-pathway">Social worker career pathway</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the DfE social worker career pathway goes under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="core-website/dfe-blogs-case-studies">Role information</a></h3>
            <p class="govuk-!-margin-bottom-6">Blogs, case studies and day in the life etc. go under here.</p>
        </div>
    </div>
</div>
<!--DFE SPECIFIC SECTION -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">DfE's role in social work</h1>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card govuk-!-padding-bottom-7">
            <h3 class="govuk-heading-m"><a href="core-website/dfe-roadmap">Announcements</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about future things in DfE go under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="core-website/dfe-about">What we do</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about DfE's role in social work goes under here.</p>
        </div>
    </div>
</div>

{% endblock %}



