{% extends "layout.html" %}

{% block pageTitle %}
upon leadership programme - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:window.history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <!--<span class="govuk-caption-l">DfE development programmes</span>-->
        <h1 class="govuk-heading-xl">upon leadership programme</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who is it aimed at?
            </dt>
            <dd class="govuk-summary-list__value">
              Aspiring leaders, etc.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Key fact
            </dt>
            <dd class="govuk-summary-list__value">
              Vestibulum nec magna ut sapien
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Key fact
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Duis volutpat purus quis dictum lanesra</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
             Programme website
            </dt>
            <dd class="govuk-summary-list__value">
             <a class="govuk-!-font-size-19" href="https://uponleaders.co.uk/" target="_blank">upon (opens in new tab)</a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">H2 heading 1</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <h2 class="govuk-heading-l">H2 heading 2</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <h2 class="govuk-heading-l">H2 heading 3</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <h2 class="govuk-heading-l">H2 heading 4</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <h2 class="govuk-heading-l">H2 heading 5</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <p class="govuk-body-m">Find out more at the <a class="govuk-!-font-size-19" href="https://uponleaders.co.uk/" target="_blank">upon website (opens in new tab)</a>
    </div>

    <!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third govuk-!-padding-left-7">
        <div class="aside-list__related">
            <h2 class="govuk-heading-m" id="subsection-title">
              Other programmes
            </h2>
            <nav role="navigation" aria-labelledby="subsection-title">
                <div class="aside_list__block">
                    <ul class="govuk-list govuk-!-font-size-19">

                    <li class="aside-list__indent">
                      <a href="asye">
                        ASYE
                      </a>
                    </li>
                    <li class="aside-list__indent">
                     <a href="pathways-programme">
                       Pathways programme
                     </a>
                    </li>
                    </ul>
                  </div>
                <div class="aside_list__block">
                    <div class="aside-list__related">
                        <p>Here is a brief paragraph about assessment and accreditation so they know what this is all about</p>
                        <a class="govuk-!-font-size-19" href="#" target="_blank">Link to assessment</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>


{% endblock %}