{% extends "layout.html" %}
{% set programmePage = "ay" %}
{% block pageTitle %}
Assessed and Supported Year in Employment (ASYE) - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <span class="govuk-caption-l">Newly qualified social workers</span>
        <h1 class="govuk-heading-xl">Assessed and supported year in employment (ASYE)</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <!-- no content for this
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Who is it aimed at?
            </dt>
            <dd class="govuk-summary-list__value">
              Newly qualified, etc.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              Lorem ipsum dolor sit amet.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Key fact
            </dt>
            <dd class="govuk-summary-list__value">
              Vestibulum nec magna ut sapien
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Key fact
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Duis volutpat purus quis dictum lanesra</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Programme website
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-!-font-size-19" href="https://www.skillsforcare.org.uk/Regulated-professions/Social-work/ASYE/ASYE.aspx">Skills for care</a>
            </dd>
          </div>
          </dl>
          -->
        <p class="govuk-body-m">The Assessed and Supported Year in Employment for child and family services (ASYE) is a year-long programme that helps newly qualified social workers (NQSWs) develop their skills, knowledge and professional confidence.</p>
        <p class="govuk-body-m">The ASYE is open to all NQSWs in local authorities, and in the private and voluntary sectors. It is not mandatory, but many employers require it.</p>


        <h2 class="govuk-heading-l">Registration and requirements</h2>
        <p class="govuk-body-m">The following people can take the ASYE:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>NQSWs employed through an agency</li>
          <li>Social workers, registered with Social Work England and in their first two years of work </li>
          <li>Social workers who have been qualified for up to four years who can satisfy their employer that their knowledge and experience is up to date</li>
        </ul>
        <p class="govuk-body-m">To qualify, you will be assessed against the <a class="govuk-!-font-size-19" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/708704/Post-qualifying_standard-KSS_for_child_and_family_practitioners.pdf">Knowledge and Skills for Social Workers for Child and Family social work (KSS) [PDF]</a>. This will identify your learning needs and inform your personal development plan (PDP).</p>
        <h2 class="govuk-heading-l">The ASYE programme</h2>
        <p class="govuk-body-m">Regular supervision by your assessor will happen</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>weekly during weeks 1 to 6</li>
          <li>every two weeks from 6 weeks to 6 months</li>
          <li>every month for the last 6 months</li>
        </ul>
        <p class="govuk-body-m">You will have half a day per week of protected development time, and your workload will be 10% less than an experienced social worker’s. You will also be able to shadow experienced social workers and go on placements.</p>
        <h2 class="govuk-heading-l">Evaluation and assessment</h2>
        <p class="govuk-body-m">A qualified social worker will be assigned to assess your progress through your ASYE. They will use the <a class="govuk-!-font-size-19" href="https://www.basw.co.uk/professional-development/professional-capabilities-framework-pcf/the-pcf">Professional Capability Framework</a> and the KSS to guide them.</p>
        <p class="govuk-body-m">Evidence of your professional development will be collected through</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>3 direct observations</li>
          <li>3 pieces of feedback from children and young people who need care and support</li>
          <li>3 pieces of feedback from other professionals</li>
          <li>assessment of 3 written reports</li>
        </ul>
        <p>You will also be asked to complete critical reflections logs after 3, 6 and 12 months. Your employer can also request an optional 9-month review of your progress.</p>
        <p>At the end of the year your assessor will write a final assessment which your employer will use to decide whether you have passed or failed.</p>
        <p class="govuk-body-m">Find out more at the <a class="govuk-!-font-size-19" href="https://www.skillsforcare.org.uk/Regulated-professions/Social-work/ASYE/ASYE.aspx">Skills for care website</a>
    </div>

<!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third">
      {% include "../includes/dfe-pqs-aside.html" %}
    </div>
</div>



{% endblock %}
