{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% set programmePage = "p1" %}
{% extends "layout.html" %}

{% block pageTitle %}
Pathway 1: programme supervisors - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Practice supervisors</span>
        <h1 class="govuk-heading-xl">Pathway 1: practice supervisors</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              Practice supervisors, senior or consultant social workers, assistant team managers, advanced practitioners, practice educators
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              3 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              30 hours (the equivalent of 4 days)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">>Free except for travel for in-person modules</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Delivered by
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-!-font-size-19" href="https://thefrontline.org.uk/pathways-programme/" class="govuk-link">Frontline</a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">Pathway 1 is for senior social workers who supervise the day-to-day work of child and family practitioners.</p>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">Pathway 1 will help you develop excellent social work practice and leadership in others, with a focus on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>prioritising the mental health and wellbeing of practitioners</li>
          <li>promoting a team culture of open and honest feedback</li>
          <li>putting in place high-quality reflective supervision</li>
          <li>managing competing demands</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">When you finish Pathway 1 you’ll get:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a certificate which can contribute towards your continuous professional development (CPD) hours</li>
          <li>ongoing access to the practice supervisor network to support your development</li>
        </ul>
        <p class="govuk-body-m">It also prepares you for accessing Pathway 2 for middle managers.</p>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">Pathway 1 is a 3-month programme that:
          <ul class="govuk-list govuk-list--bullet">
            <li>runs 3 times a year starting in November, February and May</li>
            <li>takes about 30 hours to complete</li>
            <li>combines online and in-person learning</li>
          </ul>
        <h2 class="govuk-heading-m">In-person learning</h2>
        <p class="govuk-body-m">There are 2 days on-site at the University of Warwick.</p>
        <h2 class="govuk-heading-m">Online learning</h2>
        <p class="govuk-body-m">It'll take about 14 hours to complete the online modules, which include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>workshops</li>
          <li>one-to-one coaching</li>
          <li>self-directed study sessions</li>
        </ul>
        <p class="govuk-body-m">Online modules last 1.5 to 3 hours.</p>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">Pathway 1 is fully funded by the Department for Education.</p>
        <p class="govuk-body-m">However, travel costs for the residential component are the responsibility of your employer.</p>
        <h2 class="govuk-heading-l">Next steps</h2>
        <p class="govuk-body-m">Speak to your line manager to get support for you doing Pathway 1.</p>
        <p class="govuk-body-m"><a href="https://thefrontline.org.uk/pathways-programme/pathways-programme-apply/">Find out more about Pathway 1 including how to apply</a> on the Frontline website.</p>
    </div>


    <!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third">
      {% include "../includes/dfe-pqs-aside.html" %}
    </div>

</div>


{% endblock %}
