{% extends "layout_primarynav_aug.html" %}


{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">Career information by career stage</h1>
    <p class="govuk-body">The programmes we fund develop the skills and knowledge of social workers to help improve outcomes for children and families.</p>
  </div>
</div>
<br>
<hr class="govuk-section-break govuk-section-break--visible">  <div class="govuk-!-margin-top-6"></div>
<!-- CARD ROW 1 -->
<div class="govuk-grid-row dfe-section-card__container">
  <div class="govuk-grid-column-one-half dfe-section-card__container">
      <div class="dfe-section-card">
          <h2 class="govuk-heading-m"><a href="practitioners-sub-nav" class="govuk-link">Practitioners</a></h2>
          <p class="govuk-body">Includes newly qualified social workers and social workers.</p>
      </div>
  </div>
  <div class="govuk-grid-column-one-half dfe-section-card__container">
      <div class="dfe-section-card">
          <h2 class="govuk-heading-m"><a href="experienced-practitioners-sub-nav" class="govuk-link">Experienced practitioners</a></h2>
          <p class="govuk-body">Includes senior or consultant social workers, practice educators and practice supervisors.</p>
      </div>
  </div>
</div>
<!-- CARD ROW 2 -->
<div class="govuk-grid-row dfe-section-card__container">
  <div class="govuk-grid-column-one-half dfe-section-card__container">
      <div class="dfe-section-card">
        <h2 class="govuk-heading-m"><a href="managers-sub-nav" class="govuk-link">Managers</a></h2>
        <p class="govuk-body">Includes team managers, middle managers and independent reviewing officers (IROs).</p>
    </div>
  </div>
  <div class="govuk-grid-column-one-half dfe-section-card__container">
      <div class="dfe-section-card">
        <h2 class="govuk-heading-m"><a href="senior-managers-sub-nav" class="govuk-link">Senior managers</a></h2>
        <p class="govuk-body">Includes principal social workers, heads of service and service managers.</p>
    </div>
  </div>
</div>
<!-- CARD ROW 3 -->
<div class="govuk-grid-row dfe-section-card__container">
  <div class="govuk-grid-column-one-half dfe-section-card__container">
      <div class="dfe-section-card">
        <h2 class="govuk-heading-m"><a href="leaders-sub-nav.html" class="govuk-link">Leaders</a></h2>
        <p class="govuk-body">Includes assistant directors and directors of children's services.</p>
    </div>
  </div>
</div>



{% endblock %}
