{% extends "layout_primarynav_aug.html" %}
{% set nav3Active = true %}


{% block pageTitle %}
Explore roles – {{ serviceName }}
{% endblock %}



{% block content %}


  <div class="govuk-width-container dfe-width-container">
    <div class="govuk-grid-row">
     
      <div class="govuk-grid-column-one-quarter">
        


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item">
  <a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
  <a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
  <a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
      </div>
      

      
      <div class="govuk-grid-column-three-quarters">
         <span class="govuk-caption-l">Areas of practice</span>
          <h1 class="govuk-heading-xl">Child protection and safegaurding </h1>
  


          <h2 class="govuk-heading-l">Overview</h2>
          <p class="govuk-body-m">Family Safeguarding is a strengths-based approach to working with families, aiming to help them stay together and ensure the safety of children. It involves multi-disciplinary joint teams, including children's social work, community mental health staff, domestic abuse specialists, and substance misuse workers.</p>
          
          <h2 class="govuk-heading-l">Working with</h2>
          <p class="govuk-body-m">Family Safeguarding Social Workers often work within multidisciplinary teams and collaborate closely with other professionals, such as substance misuse workers, mental health practitioners, and domestic abuse specialists.</p>
         
          <h2 class="govuk-heading-l">Qualifications you may need</h2>
          <p class="govuk-body-m">An advanced qualification in social work, such as a higher specialist award in working with children and families or an equivalent qualification, may be recommended or preferred.</p>
            
          <h2 class="govuk-heading-l">Knowledge and skills may need</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Understanding of the Children’s Act, Adoption and Children act, Care Planning, Placement and Case Review Regulations 2010</li>
            <br>
            <li>Understanding of the “Framework for Assessment” and “Working Together”</li>
            <br>
            <li>Understanding of Child in Need, Child Protection and Children Looked After policies.</li>
         <br>
            <li>Experience of Care Proceedings and Private Law.</li>
         <br>
            <li>Understanding of, and commitment to the requirements of safeguarding children and young people</li>
         <br>
            <li>Understanding of, and commitment to the principles of participatory practice with children and young people</li>
         <br>
            <li>Training in Relationship-Based Practice: Training and expertise in relationship-based social work and interventions, including purposeful assessments and excellent social work practice, are highly valuable for family safeguarding positions.</li>
         <br>
            <li>Group Supervision Skills: Familiarity with facilitating group supervision, which is a key approach within family safeguarding, can be advantageous.</li>
         <br>
            <li>Good understanding of other areas such as mental health, substance abuse, child sexual exploitation or domestic violence.</li>
          </ul>
          
          <h2 class="govuk-heading-l">Specific responsibilities</h2>
          <ul class="govuk-list govuk-list--bullet">
            <li>Conducting child protection assessments: Social workers in family safeguarding teams are responsible for conducting thorough assessments of children and families where there are concerns about child abuse, neglect or mental health issues. They gather information from multiple sources, including interviews, observations, and records, to determine the level of risk and develop appropriate interventions. Section 47 CHild protection assessments.</li>
            <br>
            <li>Developing safety plans: When risks are identified, social workers collaborate with families to develop safety plans that outline specific actions to protect children from harm. These plans may involve setting boundaries, implementing supervision strategies, and accessing support services to address the underlying issues.</li>
            <br>
            <li>Providing crisis intervention: Family safeguarding social workers are often called upon to respond to crisis situations where immediate action is required to ensure the safety of children. They work closely with other professionals, such as the police or emergency services, to address urgent risks and provide the necessary support.</li>
         <br>
            <li>Collaborating with partner agencies: Social workers in family safeguarding teams work closely with partner agencies, such as the police, health services, schools, and housing departments, to coordinate efforts and provide a holistic approach to safeguarding. They share information, attend joint meetings, and contribute to multi-agency assessments and decision-making processes.</li>
         <br>
            <li>Coordinating and chairing child protection conferences: In cases where concerns about a child's safety are significant, social workers may be responsible for convening and chairing child protection conferences. These conferences bring together professionals and family members to review the situation, make decisions, and plan appropriate interventions to protect the child.</li>
         <br>
            <li>Undertaking home visits and observations: Family safeguarding social workers conduct regular home visits to observe the family dynamics, assess the environment, and monitor the well-being of children. These visits provide opportunities to engage with family members, build relationships, and assess progress.</li>
         <br>
            <li>Engaging with parents and caregivers: Social workers in family safeguarding teams engage with parents and caregivers to help them understand their concerns, develop insights into their parenting practices, and support them in making positive changes. This may involve providing guidance, counselling, and connecting families with relevant support services.</li>
         <br>
            <li>Court involvement: In some cases, family safeguarding social workers may be required to attend court proceedings related to child protection matters. They may be responsible for preparing reports, providing evidence, and advocating for the best interests of the child within the legal framework.</li>
  
          </ul>
<br>



          <section class="govuk-section">
              
            <div class="dfe-o-banner dfe-o-banner--mirrored govuk-!-margin-top-2">
              <div class="dfe-o-banner__content-container dfe-light-blue-tint">
                <div class="dfe-o-banner__inner-content-container">
                  <h2 class="govuk-heading-m">“Lorem ipsum dolor sit amet. Et quae itaque in iste sequi et recusandae facere id enim nostrum sit quas tempora est!”</h2>
                  <p>Joe Bloggs - Senior practitioner working in child protection and safeguarding</p>
                  <a href="" class="govuk-link govuk-body-l govuk-!-font-weight-bold">Read more about Joe’s story</a>
                </div>
              </div>
              <div class="dfe-o-banner__image-container">
                <img src="/public/images/pexels-vanessa-loring-7869445.png" alt="placeholder image">
              </div>
            </div>
         
        </section>

        <div class="govuk-!-margin-top-6"></div>

     

  <!--Related links -->
  <div class="govuk-!-margin-top-28">
        {% include "../../includes/dfe-pqs-aside.html" %}
      </div>
      </div>
      </div>
  </div>
  
  
  
  {% endblock %}
  