{% extends "layout_primarynav_aug.html" %}
{% set nav3Active = true %}

{% block pageTitle %}
Director of children's services - Develop your career in child and family social work  {{ serviceName }}
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({
href: "javascript:window.history.back()",
text: "Back"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <h1 class="govuk-heading-xl">Director of children's services</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Salary range
              </dt>
              <dd class="govuk-summary-list__value">
              £88,000 to £98,000 depending on location, responsibilities and experience
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Summary
            </dt>
            <dd class="govuk-summary-list__value">
              Oversee the strategic development, management and delivery of services that support and protect children and families
            </dd>
          </div>
        <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical hours
            </dt>
            <dd class="govuk-summary-list__value">
              37 to 40 hours a week
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other names
            </dt>
            <dd class="govuk-summary-list__value">
              Deputy director
            </dd>
          </div>
        <!--  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Working patterns
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">All the live long day</p>
            </dd>
          </div> -->
        </dl>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  What you'll do
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">As an assistant director you’ll:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>provide strategic leadership of children's services to align with national policies and local authority objectives</li>
                <li>oversee the planning, development and delivery of services</li>
                <li>define and implement the strategic vision for children's services across a local authority</li>
                <li>lead on developing co-operation with external partners including schools, health and police</li>
                <li>have oversight of the budget and resources allocated to children's services</li>
                <li>ensure services provided by external partners deliver for children and represent value for money</li>
                <li>sit on national boards and report to organisations such as the Department for Education</li>
                <li>develop and implement policies and initiatives that promote the welfare of children</li>
                <li>manage a team of professionals and ensure high standards of practice</li> 
              </ul>
              <p class="govuk-body-m">The role of director of children's services is subject to <a href="https://www.gov.uk/government/publications/directors-of-childrens-services-roles-and-responsibilities">statutory guidance</a>. This sets out:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>the process for appointing a director of children's services</li>
                <li>the role and responsibilities of post holders</li>
                <li>what local authorities must do to comply with the law</li>
              </ul>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  Skills and knowledge
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">You'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>leadership skills to provide strategic direction, motivate teams and manage resources</li>
                <li>strategic thinking to analyse complex issues and make informed decisions</li>
                <li>in-depth knowledge of legislation, regulations and policies related to children's services and social care</li>
                <li>expert knowledge of running a public sector organisation</li>
                <li>financial management skills to ensure effective use of resources</li>
                <li>communication skills to build relationships and negotiate with external partners</li>
                <li>knowledge of safeguarding principles to ensure the well-being of children</li>
                <li>the ability to evaluate service performance and implement continuous improvement measures</li>
              </ul>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  How to become one
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              <p class="govuk-body-m">To become an assistant director you must:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>have completed a degree, apprenticeship or graduate training scheme in social work</li>
                <li>be registered with Social Work England</li>
                <li>ideally have a professional qualification such as the Level 7 Diploma in Management and Leadership</li>
                <li>have experience leading multidisciplinary teams, implementing strategic plans and driving organisational change</li>
                <li>have experience managing budgets and allocating resources</li>
                </ul>
                <p class="govuk-body-m">If you’re an experienced head of service or equivalent, the <a href="https://vcf-sw-career-dev-prototype.herokuapp.com/current/roles/pathway-4">Pathway 4: practice leaders programme</a> can help prepare you to progress to an assistant director role.</p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                  Career paths and progression
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
              <p class="govuk-body-m">With experience you could:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>move into a senior leadership position in a social work organisation such as chief executive officer or chief operating officer</li>
                <li>move into research and teaching</li>
              </ul>
              <p class="govuk-body-m">The <a href="https://vcf-sw-career-dev-prototype.herokuapp.com/current/roles/upon-aspiring-directors">upon: aspirant directors programme</a> can help prepare you to progress to a director of children’s services role.</p>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                  Current opportunities
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
              <p class="govuk-body-m">The <a href="https://findajob.dwp.gov.uk/">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
