{% set pageName = "hp_futurev2" %}
{% set brandType = "edu" %}
{% set sendingPage = "hp_futurev2" %}
{% extends "layout_primarynav_aug_teams.html" %}



{% block pageTitle %}
Develop your career in child and family social work - Department for Education
{% endblock %}



{% block content %}
 <!-- ROW CTA

<div class="govuk-grid-row">
<div class="campaign-cta campaign-cta--light-blue campaign-cta__content">
	<div class="campaign-cta__content">
		<span></span>
		<h2>Find development programmes by career stage</h2>
		<p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea.</p>
	</div>
	<a href="/current/roles/career-stages" target="">Let's go</a></div>
</div>

<br>
<br>  -->
    


 <!-- Jounry CARD links -->
 <div class="dfe-width-container">
<div class='govuk-grid-row govuk-!-margin-bottom-6'>
    <div class='govuk-grid-column-one-half'>
        <div class="section-card-home">
            <h2 class="govuk-heading-m">Explore career stages</a></h2>
            <p class="govuk-!-margin-bottom-6">                  <ul class="govuk-list">
                <li><h3 class="govuk-heading-s"><a href="practitioners-sub-nav">Practitioner</a></h3></li>
                <li><h3 class="govuk-heading-s"><a href="experienced-practitioners-sub-nav">Experienced practitioner</a></h3></li>
                <li><h3 class="govuk-heading-s"><a href="managers-sub-nav">Managers</a></h3></li>
                <li><h3 class="govuk-heading-s"><a href="senior-managers-sub-nav">Senior managers</a></h3></li>
                <li><h3 class="govuk-heading-s"><a href="leaders-sub-nav">Leaders</a></h3></li>
              </ul> </p>
              
        </div>
    </div>
    <div class='govuk-grid-column-one-half'>
        <div class="section-card-home">
            <h2 class="govuk-heading-m">Useful information</a></h2>
            <p class="govuk-!-margin-bottom-6">              <ul class="govuk-list">
                <li><h3 class="govuk-heading-s"><a href="development-programmes?show_back_link=true">DFE funded programmes</a></h3></li>
                <li><h3 class="govuk-heading-s"><a href="explore-roles?show_back_link=true">Explore roles</a></h3></li>
      
                
              
              </ul>  </p>
        </div>
    </div>
</div>


    <!-- NEWS 

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading govuk-heading-m govuk-heading--padding govuk-!-margin-bottom-3">Latest news in child and family social work</h2>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <ul class="govuk-list">
        <li><h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="news">Post example 1 title</a></h3>

            <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
        <div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </li>
    <li><h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="news">Post example 2 title</a></h3>

        <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
    <div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

</li>
<li><h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="news">Post example 3 title</a></h3>

    <p>Lorem ipsum dolor sit amet, no vidit intellegam ullamcorper sea. Vim an aeque oporteat, agam dictas quo eu.</p>
<div class="news-date-font govuk-!-font-size-16">29th June 2023 - Blog post</div>
<hr class="govuk-section-break govuk-section-break--l">

<h3 class="govuk-heading-s govuk-!-margin-bottom-1"><a href="news">See all news</a></h3>
</li>

    </ul> -->  
    </div>
    </div>
</div>


  


 




                


            





{% endblock %}
