{% extends "layout_primarynav_aug.html" %}
{% set nav3Active = true %}

{% block pageTitle %}
Newly qualified social worker - Develop your career in child and family social work {{ serviceName }}
{% endblock %}



{% block content %}
 

<div class="govuk-width-container dfe-width-container">
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-one-quarter">
      


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
<a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
    </div>
    
  <div class="govuk-grid-column-three-quarters"> 
<div class="govuk-notification-banner" role="region"
aria-labelledby="govuk-notification-banner-title"
data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
  Important
</h2>
</div>
<div class="govuk-notification-banner__content">
<p class="govuk-notification-banner__heading">
  Salaries and pay ranges shown in this prototype are unconfirmed and may not be accurate
</p>
</div>
</div>




        <h1 class="govuk-heading-xl">Newly qualified social worker</h1>


          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Salary range
              </dt>
              <dd class="govuk-summary-list__value">
                £26,000 to £37,000 depending on location, responsibilities and experience
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Summary
            </dt>
            <dd class="govuk-summary-list__value">
              Assist children and families in need by providing assessments, interventions and ongoing support to improve their well-being and safety
            </dd>
          </div>
      <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical hours
            </dt>
            <dd class="govuk-summary-list__value">
              37 to 40 hours a week
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other names
            </dt>
            <dd class="govuk-summary-list__value">
              Advanced practitioner, practice consultant, practice development lead, practice educator, senior social worker
            </dd>
          </div> -->
        </dl>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  What you'll do
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
            <h3>Day-to-day tasks</h3>
              <p class="govuk-body-m">As a newly qualified social worker you’ll:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>build and maintain effective relationships with children and families</li>
                <li>provide evidence-based support to children and families</li>
                <li>carry out assessments to identify needs and risks</li>
                <li>develop care plans that promote the well-being and safety of children and families</li>
                <li>work with other social workers and multi-agency teams</li>
                <li>seek support and advice from colleagues and other sources, such as clinical practitioners</li>
              </ul>
              <p class="govuk-body-m">You'll need to:</p>
              <ul class="govuk-list govuk-list--bullet">
              <li>write clear, evidence-based assessments, care plans and progress reports</li>
              <li>practice in accordance with legal, regulatory and policy requirements</li>
              <li>attend regular meetings with your supervisor</li>
              <li>take part in development activities such as training, research and critical reflection</li>
              <li>stay up to date with legislation and statutory guidance to inform your practice</li>
              </ul>
            <h3>Support you'll receive</h3>
              <p class="govuk-body-m">In your first year of practice you’ll typically do the <a href="https://vcf-sw-career-dev-prototype.herokuapp.com/current/roles/asye">assessed and supported year in employment (ASYE) programme</a>.</p>
              <p class="govuk-body-m">It’s designed to help you develop your skills, knowledge and professional confidence through:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>regular supervision</li>
                  <li>a protected caseload</li>
                  <li>protected time for critical reflection</li>
                </ul>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  Skills and knowledge
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">You'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>communication skills to build and maintain relationships with children and families, colleagues and multi-agency partners</li>
                <li>knowledge of evidence-based practice</li>
                <li>the ability to manage relationships between parents, carers and family members</li>
                <li>an understanding of the impact of social and cultural factors on child development</li>
                <li>professional judgement skills to identify potential risks to children</li>
                <li>knowledge of the law and regulatory and statutory guidance to inform practice decisions</li>
              </ul>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  How to become one
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              <p class="govuk-body-m">There are several ways to become a child and family social worker:</p>
              <h3>University</h3>
              <p class="govuk-body-m">You can do a degree in social work approved by <a href="https://www.socialworkengland.org.uk/education-training/search-approved-courses/">Social Work England</a>.</p>
              <p class="govuk-body-m">You could also do a postgraduate degree in social work, if you have a degree in another subject. This postgraduate degree takes 2 years.</p>
              <p class="govuk-body-m">You might be able to get a <a href="https://www.gov.uk/social-work-bursaries">social work bursary</a>.</p>  
              <h3>Apprenticeship</h3>
              <p class="govuk-body-m">You can do a <a href="https://findapprenticeshiptraining.apprenticeships.education.gov.uk/courses/381">Social Worker Level 6 Degree Apprenticeship</a> where you work and earn while you qualify as a social worker.</p>
              <h3>Fast-track programme</h3>
              <p class="govuk-body-m">If you have a degree in a subject other than social work, you can apply to do a fast-track programme. These are intensive work-based training programmes where you get your qualification while on the job. <a href="https://thefrontline.org.uk/frontline-programme/">Frontline</a> and <a href="https://www.gov.uk/guidance/step-up-to-social-work-information-for-applicants">Step Up to Social Work</a> both offer training programmes for child and family social work.</p>
            </div>
            </div>

            <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-3">
                  Career paths and progression
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-3">
              <p class="govuk-body-m">With experience you could:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>use your knowledge and expertise to supervise students during their placements</li>
                <li>become a senior practitioner, taking on more complex cases and mentoring newly qualified social workers</li>
                <li>specialise in specific areas of child and family social work such as child protection or adoption and fostering</li>
                <li>move into a research or policy development role within a government agency, charity or other organisation</li>
              </ul>
            </div>
          </div>

          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                  Current opportunities
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
              <p class="govuk-body-m">The <a href="https://findajob.dwp.gov.uk/">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
