{% extends "layout_primarynav_aug.html" %}
{% set nav3Active = true %}

{% block pageTitle %}
Social worker - Develop your career in child and family social work {{ serviceName }}
{% endblock %}



{% block content %}


<div class="govuk-width-container dfe-width-container">
  <div class="govuk-grid-row">
   
    <div class="govuk-grid-column-one-quarter">
      


<nav class="dfe-vertical-nav">
<ul class="dfe-vertical-nav__section">

<li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
<a class="dfe-vertical-nav__link" href="explore-roles.html">Explore all roles</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="explore-areas-of-practice.html">Explore areas of practice</a>
</li>

<li class="dfe-vertical-nav__section-item ">
<a class="dfe-vertical-nav__link" href="real-life-stories.html">Real life stories</a>
</li>


</ul>

</nav>
    </div>
    
  <div class="govuk-grid-column-three-quarters"> 
<div class="govuk-notification-banner" role="region"
aria-labelledby="govuk-notification-banner-title"
data-module="govuk-notification-banner">
<div class="govuk-notification-banner__header">
<h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
  Important
</h2>
</div>
<div class="govuk-notification-banner__content">
<p class="govuk-notification-banner__heading">
  Salaries and pay ranges shown in this prototype are unconfirmed and may not be accurate
</p>
</div>
</div>





        <h1 class="govuk-heading-xl">Quality improvement manager</h1>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
          <dl class="govuk-summary-list">
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                Salary range
              </dt>
              <dd class="govuk-summary-list__value">
                £38,000 to £65,000 depending on location, responsibilities and experience
              </dd>
            </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Summary
            </dt>
            <dd class="govuk-summary-list__value">
              Lead quality improvement initiatives to ensure regulatory compliance and best practice in social work teams
            </dd>
          </div>
        <!-- <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical hours
            </dt>
            <dd class="govuk-summary-list__value">
              37 to 40 hours a week
            </dd>
          </div> -->
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other names
            </dt>
            <dd class="govuk-summary-list__value">
              Performance improvement manager
            </dd>
          </div>
        <!--  <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Working patterns
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">All the live long day</p>
            </dd>
          </div> -->
        </dl>

        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  What you'll do
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">As a quality improvement manager you’ll:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>lead quality assurance initiatives and implement new policies and procedures to improve processes</li>
                <li>track the impact of initiatives to ensure continuous improvement</li>
                <li>carry out audits and reviews of policies and procedures to identify gaps</li>
                <li>analyse data and create reports for staff and senior leadership identifying trends and areas for improvement</li>
                <li>stay up to date with evolving regulations to inform regular reviews of policies and procedures</li>
                <li>provide training and support to ensure staff understand and follow new policies and processes</li>
                <li>collaborate with other departments and external organisations to develop and implement improvement initiatives</li>

              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-2">
                  Skills and knowledge
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-2">
              <p class="govuk-body-m">You'll need:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>leadership and management skills to lead and motivate a team of social workers</li>
                <li>the ability to analyse complex information and make decisions that improve service delivery</li>
                <li>communication and interpersonal skills to communicate with a range of stakeholders</li>
                <li>knowledge of social work regulations to ensure services are compliant and delivered to a high standard</li>
                <li>knowledge of continuous quality improvement methods</li>
                <li>change management skills to ensure successful implementation of new initiatives</li>
                <li>the ability to stay up to date with best practice and new developments in the field of quality improvement</li>
                <li>knowledge of child protection and welfare policies and procedures</li>
              </ul>
            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  How to become one
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              <p class="govuk-body-m">To become a quality improvement manager you must:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>have a degree in social work</li>
                <li>be registered with Social Work England</li>
                <li>have experience leading a team and conducting performance management and supervision</li>
                <li>have experience designing and implementing quality assurance and improvement plans</li>
              </ul>
              <p class="govuk-body-m">If you’re an experienced practitioner, the <a href="pathway-2.html">Pathway 2: middle managers programme</a> can help prepare you to progress to a quality improvement manager role. </p>

            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-1">
                  Career paths and progression
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
              <p class="govuk-body-m">With experience you could:</p>
              <ul class="govuk-list govuk-list--bullet">
                <li>progress into an advanced leadership role such as <a href="service-manager.html">service manager</a> or <a href="head-of-service.html">head of service</a></li>
                <li>move into a training and consultancy role and deliver training programmes to social workers </li>
              </ul>
              <p class="govuk-body-m">The <a href="pathway-3.html">Pathway 3: heads of service programme</a> can help prepare you to progress to a service manager or head of service role. </p>

            </div>
          </div>
          <div class="govuk-accordion__section">
            <div class="govuk-accordion__section-header">
              <h2 class="govuk-accordion__section-heading">
                <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-4">
                  Current opportunities
                </span>
              </h2>
            </div>
            <div id="accordion-with-summary-sections-content-4" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-4">
              <p class="govuk-body-m">The <a href="https://findajob.dwp.gov.uk/">Find a job service</a> can help you with your search for jobs and send alerts when new jobs become available.</p>
            </div>
          </div>
        </div>
    </div>
</div>


{% endblock %}
