{% extends "layout_primarynav_aug.html" %}
{% set programmePage = "un" %}
{% set nav6Active = true %}

{% block pageTitle %}
Upon: new directors programme - development programmes – {{ serviceName }}
{% endblock %}


{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
        <span class="govuk-caption-l">Leaders</span>
        <h1 class="govuk-heading-xl">Upon: new directors programme</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              Directors of children's services
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              TBC
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free except for travel for in-person modules and optional accreditation</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Delivered by
            </dt>
            <dd class="govuk-summary-list__value">
            The Staff College, The Institute of Public Care, Skills for Care and GatenbySanderson
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">The Upon: new directors programme is for directors of children's services who are new to their role.</p>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">This programme will help you develop your leadership and management skills, technical knowledge and confidence. It covers themes including:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>building alliances and partnerships</li>
        <li>working in political and corporate contexts</li>
        <li>engaging communities</li>
        <li>driving innovation and change</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">You’ll get career advice and support and become part of a national peer network during the programme and beyond.</p>
        <p class="govuk-body-m">You’ll also have ongoing access to our learning resources including guides, videos and blogs from successful leaders.</p>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">The programme runs for 12 months and combines in-person and online learning.</p>
        <p class="govuk-body-m">Content will be tailored around the needs of the cohort, using the skills and experience of participants and the expertise of facilitators and contributors.</p>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">The Upon: new directors programme is funded by the Department for Education.</p>
        <p class="govuk-body-m">Accommodation and meals for the on-site days are included, but your employer will need to cover the travel costs.</p>
        <h2 class="govuk-heading-l">Next steps</h2>
        <p class="govuk-body-m">There is no application process for the Upon: new directors programme.</p>
        <p class="govuk-body-m">We'll be in touch to enrol you in the programme as soon as you start in your new post.</p>
        <p class="govuk-body-m"><a href="https://uponleaders.co.uk/new-directors-programme/">Find out more about the Upon: new directors programme</a> on the Upon website.</p>
   <br>
    <!--RELATED LINKS -->
      {% include "../../includes/dfe-pqs-aside.html" %}
    </div>

    </div>
</div>


{% endblock %}
