{% extends "layout.html" %}
<!--
If relevant:
ADD HEADER INCLUDE
ADD PAGE TITLE
ADD BACK LINK
-->

{% block content %}

        <div class="govuk-grid-row body-header-background govuk-!-margin-bottom-6">
            <div class="govuk-grid-column-full govuk-!-padding-6">
                <h1 class="govuk-heading-xl body-header-font">Social worker career development</h1>
                <p class="govuk-body govuk-!-font-size-24 body-header-font">Your one stop shop for all the answers to all the questions about social worker career development.</p>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Explore your career progression options</h1>
                <p class="govuk-body">Find out more about the options available to you.</p>
            </div>
        </div>
        <div class='govuk-grid-row'>
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-6'>
                <div class="section-card">
                    <h3 class="govuk-heading-m"><a href="#">Try our tool</a></h3>
                    <p class="govuk-!-margin-bottom-6">A tool to show the options available to you. Answer a few simple questions.</p>
                </div>
            </div>
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-6'>
                <div class="section-card">
                    <h3 class="govuk-heading-m"><a href="#">Careers and pathways</a></h3>
                    <p class="govuk-!-margin-bottom-6">More detail about specific branches/roles in the pathway.</p>
                </div>
            </div>
        </div>
        <div class='govuk-grid-row'>
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-6'>
                <div class="section-card">
                    <h3 class="govuk-heading-m"><a href="#">Assessment and accreditation</a></h3>
                    <p class="govuk-!-margin-bottom-6">All about the assessment and accreditation.</p>
                </div>
            </div>
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-6'>
                <div class="section-card">
                    <h3 class="govuk-heading-m"><a href="#">Development programmes</a></h3>
                    <p class="govuk-!-margin-bottom-6">Find out more about ASYE, PSDP, PLDP and PLP.</p>
                </div>
            </div>
        </div>
        <div class="govuk-grid-row govuk-!-margin-top-6">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">Another section of things</h1>
                <p class="govuk-body">There are lots of other things that need to go on here.</p>
            </div>
        </div>
        <div class='govuk-grid-row'>
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-6'>
                <div class="section-card">
                    <h3 class="govuk-heading-m"><a href="#">Career goal advice</a></h3>
                    <p class="govuk-!-margin-bottom-6">Content around CPD, case studies and more.</p>
                </div>
            </div>
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-6'>
                <div class="section-card">
                    <h3 class="govuk-heading-m"><a href="#">Social work standards</a></h3>
                    <p class="govuk-!-margin-bottom-6">How do the social work standards fit with DfE.</p>
                </div>
            </div>
        </div>
        <div class='govuk-grid-row'>
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-6'>
                <div class="section-card">
                    <h3 class="govuk-heading-m"><a href="#">Access important CPD information</a></h3>
                    <p class="govuk-!-margin-bottom-6">More content around CPD things.</p>
                </div>
            </div>
            <div class='govuk-grid-column-one-half govuk-!-margin-bottom-6'>
                <div class="section-card">
                    <h3 class="govuk-heading-m"><a href="#">Being a social worker</a></h3>
                    <p class="govuk-!-margin-bottom-6">Here is some text that explains more.</p>
                </div>
            </div>
        </div>

{% endblock %}



