{% extends "layout_futurestate.html" %}
{% set nav5Active = true %}
{% set pageName = "senior managers" %}

{% block pageTitle %}
Senior managers – {{ serviceName }}
{% endblock %}


{% block content %}
<div class="dfe-width-container govuk-width-container">
    <div class="govuk-grid-row">
     
      <div class="govuk-grid-column-one-quarter">
        
  
  
  <nav class="dfe-vertical-nav">
  <ul class="dfe-vertical-nav__section">
  
  <li class="dfe-vertical-nav__section-item ">
  <a class="dfe-vertical-nav__link" href="practitioners-sub-nav.html">Practitioners</a>
  </li>
  
  <li class="dfe-vertical-nav__section-item">
  <a class="dfe-vertical-nav__link" href="experienced-practitioners-sub-nav.html">Experienced practitioners</a>
  </li>
  
  <li class="dfe-vertical-nav__section-item ">
  <a class="dfe-vertical-nav__link" href="managers-sub-nav.html">Managers</a>
  </li>
  <li class="dfe-vertical-nav__section-item dfe-vertical-nav__section-item--current">
      <a class="dfe-vertical-nav__link" href="senior-managers-sub-nav.html">Senior managers</a>
      </li>
      
      <li class="dfe-vertical-nav__section-item ">
          <a class="dfe-vertical-nav__link" href="leaders-sub-nav.html">Leaders</a>
          </li>
          
  </ul>
</div>


    <div class="govuk-grid-column-three-quarters"> 
    <div class="govuk-notification-banner" role="region"
    aria-labelledby="govuk-notification-banner-title"
    data-module="govuk-notification-banner">
    <div class="govuk-notification-banner__header">
      <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
        Important
      </h2>
    </div>
    <div class="govuk-notification-banner__content">
      <p class="govuk-notification-banner__heading">
        Salaries and pay ranges shown in this prototype are unconfirmed and may not be accurate
      </p>
    </div>
    </div>
 

<div class="govuk-grid-row">
    <div class="govuk-grid-column-three-quarters">
 
        <h2 class="govuk-heading-l">Development programmes</h2>
        <p class="govuk-body">We fund the Social Work Leadership Pathways programme for child and family social workers.</p>
        <p class="govuk-body">It's delivered by the Frontline charity and includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
        <p class="govuk-body">Senior managers can do Pathways 3 and 4.</p>
    </div>
</div>
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="pathway-3.html" class="govuk-link">Pathway 3: heads of service</a></h3>
             <p class="govuk-body">For heads of service to lead outstanding provision of social care through multiple teams and partnerships.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="pathway-4.html" class="govuk-link">Pathway 4: practice leaders</a></h3>
             <p class="govuk-body">For experienced senior managers who want to become practice leaders.</p>
        </div>
    </div>
</div>
<p><a href="development-programmes">View all programmes</a></p>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
<div class='govuk-grid-row'>
    <div class='dfek-grid-column-three-quarters'>
        <h2 class="govuk-heading-l">Roles</h2>
        <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3 class="govuk-heading-m"><a href="principal-social-worker.html" class="govuk-link">Principal social worker</a></h3>
           
                <p class="govuk-body-s">Principal social workers manage complex cases, support social work teams and contribute to the strategic leadership of services.</p>
                <div class="govuk-!-padding-bottom-3">
                        <ul class="govuk-list">
                            <li>
                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £50,000 to £65,000</span>
                            </li>
                        </ul>
                    </div>
          <div class="govuk-heading-s govuk-!-margin-bottom-1">
            <h3 class="govuk-heading-m"><a href="service-manager.html" class="govuk-link">Service manager</a></h3>
                        </div>
                        <p class="govuk-body-s">Service managers oversee the performance and quality of practice of multiple teams of social workers across a service area.</p>
                            <div class="govuk-grid-row govuk-!-padding-bottom-3">
                                <div class="govuk-grid-column-one-half">
                                    <ul class="govuk-list">
                                        <li>
                                            <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £46,000 to £70,000</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                            <div class="govuk-heading-s govuk-!-margin-bottom-1">
                                <h3 class="govuk-heading-m"><a href="head-of-service.html" class="govuk-link">
                                    Head of service</a></h3>
                                            </div>
                                                <p class="govuk-body-s">Heads of service oversee the day-to-day operations of services, manage staff and work closely with other agencies to promote best practice in social work.</p>
                                                <div class="govuk-grid-row govuk-!-padding-bottom-3">
                                                    <div class="govuk-grid-column-one-half">
                                                        <ul class="govuk-list">
                                                            <li>
                                                                <span class="govuk-!-font-size-16 govuk-!-font-weight-bold">Salary range: £60,000 to £80,000</span>
                                                            </li>
                                                        </ul>
                                                    </div>

                                                </div>
                                                 </div>
                            <p><a href="explore-roles?sending-page=alt_smgr">Explore all roles</a></p>

                            <div class="govuk-heading-l govuk-!-margin-bottom-8">
     
                                <ul class="dfeuk-document-list">
                                <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
                        
                                    <h2 class="govuk-heading-l">Resources for senior managers</h2>
                                    <div class="govuk-heading-s govuk-!-margin-bottom-1">
                                        <ul class="dfeuk-document-list">

                                              <h3 class="govuk-heading-m"><a href="resources-strengthening-families-financial-benefits-tool.html" class="govuk-link">Strengthening Families Financial Benefits Tool</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">CPD</strong></h3>
                                      
                                              <p class="govuk-body">Strengthening Families partner Mutual Ventures have developed an Excel tool to help adopter authorities forecast and track some of the financial benefits of implementing one of the Strengthening Families innovations.
                                              </p>
                                      
                                      <ul class="dfeuk-document-list__item-metadata">
                                        <li class="gdfeuk-document-list__attribute">
                                          From: Social care institute for excellence
                                        </li>
                                        <li class="gdfeuk-document-list__attribute">
                                          Published: 8 Sept 2023
                                      </li>
                                        <li class="gdfeuk-document-list__attribute">
                                         Updated: 18 Sept 2023
                                      </li>
                                        <li class="gdfeuk-document-list__attribute">
                                      Topic: Workforce planning
                                          </li>
                                          <li class="gdfeuk-document-list__attribute">
                                            Estimated read time:  10 mins
                                                </li>
                                          <li class="gdfeuk-document-list__attribute">
                                            Page views:  70
                                                </li>
                                              
                                        </ul>
                                      </li>
                                
                                
                                <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
                                  <h3 class="govuk-heading-m"><a href="resources-workforce-learning-report.html" class="govuk-link">Workforce Learning Report</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">PDF</strong></h3>
                                
                                  <p class="govuk-body">A skilled, motivated workforce is at the heart of effective children’s social care. Paying attention to and investing in workforce stability is therefore vital to achieving the outcomes set for local communities and enabling children and families to thrive.
                                  </p>
                                
                                <ul class="dfeuk-document-list__item-metadata">
                                <li class="gdfeuk-document-list__attribute">
                                From: Social care institute for excellence
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Published: 8 Sept 2023
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Updated: 18 Sept 2023
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Topic: Workforce planning
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                  Estimated read time:  10 mins
                                      </li>
                                <li class="gdfeuk-document-list__attribute">
                                  Page views:  70
                                      </li>
                                </ul>
                                </li>
                                
                                <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
                                  <h3 class="govuk-heading-m"><a href="resources-five-attributes-of-effective-leadership.html" class="govuk-link">Five Attributes of Effective Leadership within the SFPC Programme</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">PDF</strong></h3>
                                
                                  <p class="govuk-body">Leadership has a huge influence on the successful implementation of any innovation. This learning report describes five attributes of effective leadership, which were gathered through interviews with leaders in local authorities that are currently successfully implementing with fidelity one of the three innovations: No Wrong Door, Family Safeguarding or Family Valued.</p>
                                
                                <ul class="dfeuk-document-list__item-metadata">
                                <li class="gdfeuk-document-list__attribute">
                                From: Strengthening Families, Protecting Children
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Published: 8 Sept 2023
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Updated: 18 Sept 2023
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Topic: Workforce planning
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                  Estimated read time:  10 mins
                                      </li>
                                <li class="gdfeuk-document-list__attribute">
                                  Page views:  70
                                      </li>
                                </ul>
                                </li>
                                
                                <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
                                  <h3 class="govuk-heading-m"><a href="resources-exploring-the-role-of-leadership.html" class="govuk-link">Exploring the role of leadership: Event presentation (June 2022)</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">VIDEO</strong></h3>
                                
                                  <p class="govuk-body">As a part of a two day Strengthening Families, Protecting Children National Online Learning Event that took place in June 2022, we explored what types of leadership we require to adopt and sustain the SFPC models successfully.
                                  </p>
                                
                                <ul class="dfeuk-document-list__item-metadata">
                                <li class="gdfeuk-document-list__attribute">
                                From: Strengthening Families, Protecting Children
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Published: 8 Sept 2023
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Updated: 18 Sept 2023
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Topic: Workforce planning
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                  Estimated read time:  10 mins
                                      </li>
                                <li class="gdfeuk-document-list__attribute">
                                  Page views:  70
                                      </li>
                                </ul>
                                </li>
                                
                                <li class="dfeuk-document-list__item dfeuk-document-list--no-underline ">
                                  <h3 class="govuk-heading-m"><a href="resources-professional-and-families-working-together.html" class="govuk-link">Professional and families working together in new ways: Event presentation (June 2022)</a>&nbsp;&nbsp;&nbsp;<strong class="govuk-tag govuk-tag--blue">VIDEO</strong></h3>
                                
                                  <p class="govuk-body">As a part of a two day Strengthening Families, Protecting Children National Online Learning Event that took place in June 2022, we heard from experiences across all three SFPC models to consider some of the benefits, challenges and success factors of working in partnership across the wider system to support families.
                                  </p>
                                
                                <ul class="dfeuk-document-list__item-metadata">
                                <li class="gdfeuk-document-list__attribute">
                                From: Strengthening Families, Protecting Children 
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Published: 8 Sept 2023
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Updated: 18 Sept 2023
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                Topic: Workforce planning
                                </li>
                                <li class="gdfeuk-document-list__attribute">
                                  Estimated read time:  10 mins
                                      </li>
                                <li class="gdfeuk-document-list__attribute">
                                  Page views:  70
                                      </li>
                                </ul>
                                </li>
                                
                                <p><a href="resources.html">Explore more resources for senior managers</a></p>
    </div>
</div>

{% endblock %}
