{% extends "layout.html" %}
{% set programmePage = "ay" %}

{% block pageTitle %}
Assessed and Supported Year in Employment (ASYE) - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs.html" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
       <span class="govuk-caption-l">Newly qualified social workers</span>
        <h1 class="govuk-heading-xl">Assessed and supported year in employment (ASYE)</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              Social workers in their first 2 years of employment
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              Full-time
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Delivered by
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-!-font-size-19" href="https://www.skillsforcare.org.uk/Regulated-professions/Social-work/ASYE/ASYE.aspx">Skills for care</a>
            </dd>
          </div>
          </dl>
          <h2 class="govuk-heading-l">Who it's for</h2>
        <p class="govuk-body-m">All newly qualified social workers employed in the public, private and voluntary sector.</p>
        <p class="govuk-body-m">It is not mandatory, but many employers require it.</p>
        <h2 class="govuk-heading-l">What you'll learn</h2>
        <p class="govuk-body-m">ASYE will offer you the opportunity to:</p>
          <ul class="govuk-list govuk-list--bullet">
          <li>receive regular supervision</li>
          <li>work a reduced caseload</li>
          <li>develop your capabilities and confidence</li>
        </ul>
        <p class="govuk-body-m">It will help you work towards your professional goals.</p>
        <p class="govuk-body-m">It also provides you with the opportunity to consolidate your learning from your bachelors or master’s degree in social work.</p>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">By the end of the programme, you will have an ASYE portfolio which can evidence your learning.</p>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">Regular supervision by your assessor will happen:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>weekly during weeks 1 to 6</li>
        <li>every two weeks from 6 weeks to 6 months</li>
        <li>every month for the last 6 months</li>
        </ul>
        <p class="govuk-body-m">You'll have half a day per week of protected development time, and your workload will be 10% less than an experienced social worker’s.</p>
        <p class="govuk-body-m">You'll also be able to shadow experienced social workers and go on placements.</p>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">ASYE is free for you to do.</p>
        <p class="govuk-body-m">The Department for Education provides funding of £2,000 to employers of child and family social workers for each newly qualified social worker they support through ASYE.</p>
        <h2 class="govuk-heading-l">Next steps</h2>
    </div>

<!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third">
      {% include "../includes/dfe-pqs-aside.html" %}
    </div>
</div>



{% endblock %}
