{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout.html" %}

{% block pageTitle %}
Development programmes for social workers – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">DfE funded development programmes for social workers</h1>
        <p class="govuk-body">The programmes we fund develop the skills and knowledge of social workers at all levels to help improve outcomes for children and families.</p>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">
<!-- ASYE -->
<div class="govuk-grid-row govuk-!-margin-top-5">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Assessed and Supported Year in Employment for child and family services (ASYE)</h2>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="asye?sending-page=dp" class="govuk-link">Newly qualified social workers</a></h3>
            <p class="govuk-!-margin-bottom-1">For newly qualified social workers who want to know about the assessed and supported year in employment (ASYE).</p>
        </div>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">
<!--  Social Work Leadership Pathways programme for child and family social workers  -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Social Work Leadership Pathways programme for child and family social workers</h2>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-1?sending-page=dp" class="govuk-link">Pathway 1: practice supervisors</a></h3>
            <p class="govuk-!-margin-bottom-1">For practice supervisors or those in an equivalent role to develop excellent social work practice and leadership in others.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-2?sending-page=dp" class="govuk-link">Pathway 2: middle managers</a></h3>
            <p class="govuk-!-margin-bottom-1">For team managers to influence and support the delivery of excellent social work practice within and beyond their team.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-3?sending-page=dp" class="govuk-link">Pathway 3: heads of service</a></h3>
            <p class="govuk-!-margin-bottom-1">For current and aspiring heads of service to lead outstanding provision of social care through multiple teams and partnerships.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-4?sending-page=dp" class="govuk-link">Pathway 4: practice leaders</a></h3>
            <p class="govuk-!-margin-bottom-1">For experienced heads of service (or equivalent) to develop their leadership skills and progress into a practice leader role.</p>
        </div>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">
<!--  Upon: Inspiring Leaders Programme  -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">Upon: Inspiring Leaders Programme</h2>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="upon-aspiring-directors?sending-page=dp" class="govuk-link">Aspirant directors</a></h3>
            <p class="govuk-!-margin-bottom-6">Some information about the Upon: aspirant directors programme goes under here..</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="upon-new-directors?sending-page=dp" class="govuk-link">New directors</a></h3>
            <p class="govuk-!-margin-bottom-6">Some information about the Upon: new directors programme goes under here.</p>
        </div>
    </div>
</div>



{% endblock %}



