{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout_whero.html" %}

{% block pageTitle %}
Develop your career in child and family social work - Department for Education
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Find a programme by career stage</h1>
        <p class="govuk-body">The programmes we fund develop the skills and knowledge of social workers at all levels to help improve outcomes for children and families.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="asye?sending-page=nq" class="govuk-link">Newly qualified social workers</a></h3>
            <p class="govuk-!-margin-bottom-1">For newly qualified social workers who want to know about the assessed and supported year in employment (ASYE).</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-1?sending-page=p" class="govuk-link">Practitioners</a></h3>
            <p class="govuk-!-margin-bottom-6">For experienced social workers who want to become a practice supervisor.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="practice-supervisors" class="govuk-link">Practice supervisors</a></h3>
            <p class="govuk-!-margin-bottom-6">For senior social workers who supervise child and family social workers.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="middle-managers-and-heads-of-service" class="govuk-link">Middle managers and heads of service</a></h3>
            <p class="govuk-!-margin-bottom-6">For current or aspiring team managers or service managers.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="senior-managers-and-leaders" class="govuk-link">Senior managers and practice leaders</a></h3>
            <p class="govuk-!-margin-bottom-6">For current or aspiring directors or assistant directors of children’s social care.</p>
        </div>
    </div>
    {% if data['hidden-content'] == "yes" %}
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="development-programmes" class="govuk-link">Explore DfE development programmes</a></h3>
            <p class="govuk-!-margin-bottom-6">DfE fund a number of development programmes. See them all at a glance.</p>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}
