{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout_whero.html" %}

{% block pageTitle %}
Develop your career in child and family social work - Department for Education
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Find a programme by career stage</h1>
        <p class="govuk-body">The programmes we fund develop the skills and knowledge of social workers to help improve outcomes for children and families.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="asye?sending-page=nq" class="govuk-link">Newly qualified social workers</a></h3>
            <p class="govuk-!-margin-bottom-6">Includes social workers in their first 2 years of employment.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
      <div class="section-card">
          <h3 class="govuk-heading-m"><a href="practice-supervisors" class="govuk-link">Practice supervisors</a></h3>
          <p class="govuk-!-margin-bottom-6">Includes practice educators, advanced practitioners, senior social workers and assistant team managers.</p>
      </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
      <div class="section-card">
          <h3 class="govuk-heading-m"><a href="middle-managers-and-heads-of-service" class="govuk-link">Middle managers and heads of service</a></h3>
          <p class="govuk-!-margin-bottom-6">Includes team managers, independent reviewing officers and service managers.</p>
      </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
      <div class="section-card">
          <h3 class="govuk-heading-m"><a href="senior-managers-and-leaders" class="govuk-link">Senior managers and practice leaders</a></h3>
          <p class="govuk-!-margin-bottom-6">Includes assistant directors, directors and principal social workers.</p>
      </div>
    </div>
</div>
 <div class='govuk-grid-row'>
    {% if data['hidden-content'] == "yes" %}
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card__clearwborder">
            <h3 class="govuk-heading-m"><a href="development-programmes" class="govuk-link">Explore DfE development programmes</a></h3>
            <p class="govuk-!-margin-bottom-6">DfE fund a number of development programmes. See them all at a glance.</p>
        </div>
    </div>
    {% endif %}
</div>
  <p><a href="development-programmes">View all programmes</a></p>

{% endblock %}
