{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout_whero.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">DfE development programmes</h1>
        <p class="govuk-body">The Department for Education fund a number of programmes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="/current/asye">ASYE</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the ASYE programme goes under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="/current/pathways-programme">Pathways programme</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the Pathways programme goes under here.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row govuk-!-margin-bottom-7'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="/current/upon">Upon: inspiring leaders programme</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the Upon: inspiring leaders programme goes under here.</p>
        </div>
    </div>
</div>


{% endblock %}



