{% extends "layout.html" %}
<!--
If relevant:
ADD HEADER INCLUDE
ADD PAGE TITLE
ADD BACK LINK
-->

{% block content %}

<div class="govuk-grid-row body-header-background govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-full govuk-!-padding-6">
        <h1 class="govuk-heading-xl body-header-font">Social worker career development</h1>
        <p class="govuk-body govuk-!-font-size-24 body-header-font">A brief explanation of what this service is all about could go here. Why should they care? How will this help them yada....</p>
    </div>
</div>
<!------------- FEATURE SECTION ------------->
<!--
<div class='govuk-grid-row govuk-!-margin-bottom-2'>
    <div class='govuk-grid-column-two-thirds'>
        <div>
            <h2 class="govuk-heading-l">Latest things</h2>
        </div>
    </div>
</div>
<div class='govuk-grid-row govuk-!-margin-bottom-6'>
    <div class='govuk-grid-column-one-half'>
        <div class="section-card__wbutton">
            <h3 class="govuk-heading-m">Try our career tool</h3>
            <p class="govuk-!-margin-bottom-6">Tell us about you and we can give you some things to do.</p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-button tl-home--forum govuk-!-margin-bottom-0" href="career-tool/start">
                    Take the quiz
                </a>
            </p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half'>
        <div class="section-card__wbutton">
            <h3 class="govuk-heading-m">New to social working?</h3>
            <p class="govuk-!-margin-bottom-6">Just completed ASYE? Need some help on what to do next?</p>
            <p class="govuk-body govuk-!-margin-bottom-0">
                <a class="govuk-button tl-home--forum govuk-!-margin-bottom-0" href="#">
                    Help for newbies
                </a>
            </p>
        </div>
    </div>
    <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    </div>
</div>
-->
<!-- FEATURE SECTION ENDS -->

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">DfE Development programmes</h1>
        <p class="govuk-body">The Department for Education fund a number of programmes. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque dignissim.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="asye">ASYE</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the ASYE programme goes under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="swpp">Pathways Programme</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the Pathways Programme goes under here.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card govuk-!-padding-bottom-7">
            <h3 class="govuk-heading-m"><a href="upon">upon</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the upon leaders programme goes under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="#">Assessment and Accreditation (opens in new tab)<span class="govuk-caption-m"></span></a></h3>
            <p class="govuk-!-margin-bottom-6">Information about the Assessment and Accreditation programme goes here.</p>
        </div>
    </div>
</div>
<!--OTHER CONTENT -->
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Social work in DfE</h1>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card govuk-!-padding-bottom-7">
            <h3 class="govuk-heading-m"><a href="dfe-roadmap">Our social work roadmap</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about future things in DfE go under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="dfe-about">DfE role in social work</a></h3>
            <p class="govuk-!-margin-bottom-6">Information about DfE's role in social work goes under here.</p>
        </div>
    </div>
</div>

{% endblock %}



