{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout_whero.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Find programmes by career stage</h1>
        <p class="govuk-body">The Department for Education fund a number of programmes.  They are designed for  social workers at different stages of their careers to help with career progression yada yada.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="current/asye">Newly qualified social workers</a></h3>
            <p class="govuk-!-margin-bottom-6">Some information about the ASYE programme goes under here.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="current/#">Practitioners</a></h3>
            <p class="govuk-!-margin-bottom-6">Coming in Q4 202x. Supporting practitioners bla bla. Find out more and register your interest.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-1">Practice supervisors</a></h3>
            <p class="govuk-!-margin-bottom-6">Develop your leadership skills and excellent social work practice in others.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="current/#">Middle managers and heads of service</a></h3>
            <p class="govuk-!-margin-bottom-6">Some information about the pathways 2 and 3 programme goes under here.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="current/senior-managers-and-leaders">For senior managers and leaders</a></h3>
            <p class="govuk-!-margin-bottom-6">Some information about the upon and pathways 4 programme goes under here.</p>
        </div>
    </div>
</div>

{% endblock %}
