{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout.html" %}

{% block pageTitle %}
For middle managers and heads of service – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs.html" %}
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Programmes for middle managers and heads of service</h1>
        <p class="govuk-body">The Social Work Leadership Pathways programme for child and family social workers helps middle managers and heads of service develop their leadership skills.</p>
        <p class="govuk-body">The programme includes 4 separate pathways, each aimed at a different level of social work leadership.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-2?sending-page=mm" class="govuk-link">Pathway 2: middle managers</a></h3>
            <p class="govuk-!-margin-bottom-1">For team managers to influence and support the delivery of excellent social work practice within and beyond their team.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-3?sending-page=mm" class="govuk-link">Pathway 3: heads of service</a></h3>
            <p class="govuk-!-margin-bottom-1">For current and aspiring heads of service to lead outstanding provision of social care through multiple teams and partnerships.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-4?sending-page=mm" class="govuk-link">Pathway 4: practice leaders</a></h3>
            <p class="govuk-!-margin-bottom-1">For experienced heads of service (or equivalent) to develop their leadership skills and progress into a practice leader role.</p>
        </div>
    </div>
</div>

{% endblock %}
