{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% set programmePage = "p3" %}
{% extends "layout.html" %}

{% block pageTitle %}
Pathway 3: heads of service - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Middle and managers and heads of service</span>
        <h1 class="govuk-heading-xl">Pathway 3: heads of service</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              Current and aspiring heads of service or service managers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              88 hours (the equivalent of 11 days)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free except for travel for in-person modules</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Delivered by
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-!-font-size-19" href="https://thefrontline.org.uk/pathways-programme/">Frontline</a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">Pathway 3 is for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in-role heads of service and service managers</li>
          <li>experienced middle managers who want to develop into a head of service</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">Pathway 3 will help you grow as a strategic service leader, focusing on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>developing an ambitious and inspiring vision for your service</li>
          <li>prioritising and meeting the competing demands of a service</li>
          <li>collaborating with multi-agency partners</li>
          <li>managing risk and change across a whole service</li>
          <li>putting equity, diversity and inclusion at the heart of your strategy</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">When you finish Pathway 3 you’ll get:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a certificate which can contribute towards your continuous professional development (CPD) hours</li>
          <li>access to leadership networks, including becoming part of the Frontline Fellowship community of leaders</li>
        </ul>
        <p class="govuk-body-m">It'll help prepare:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>current heads of service to access Pathway 4 for practice leaders</li>
          <li>aspiring heads of service for promotion to head of service roles</li>
        </ul>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">Pathway 3 is a 12-month programme that:
          <ul class="govuk-list govuk-list--bullet">
            <li>runs once a year starting in November</li>
            <li>takes about 88 hours to complete</li>
            <li>combines online and in-person learning</li>
          </ul>
        <h2 class="govuk-heading-m">In-person learning</h2>
        <p class="govuk-body-m">Includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>4 days on-site at the University of Warwick run as separate 2-day modules</li>
          <li>an experiential visit</li>
        </ul>
        <h2 class="govuk-heading-m">Online learning</h2>
        <p class="govuk-body-m">It'll take about 38 hours to complete the online modules, which include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>workshops</li>
          <li>one-to-one coaching</li>
          <li>peer-led practice groups</li>
          <li>self-directed study sessions</li>
        </ul>
        <p class="govuk-body-m">Each online module lasts 1.5 to 3 hours.</p>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">Pathway 3 is funded by the Department for Education.</p>
        <p class="govuk-body-m">However, travel costs for the on-site days are the responsibility of your employer.</p>
        <h2 class="govuk-heading-l">Next steps</h2>
        <p class="govuk-body-m">Speak to your line manager to get support for you doing Pathway 3.</p>
        <p class="govuk-body-m">If you’re an aspiring head of service, you’ll also need to answer questions about your work experience as part of your application.</p>
        <p class="govuk-body-m"><a href="https://thefrontline.org.uk/pathways-programme/">Find out more about Pathway 3 including how to apply</a> on the Frontline website.</p>
    </div>

    <!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third govuk-!-padding-left-7">
      {% include "../includes/dfe-pqs-aside.html" %}
    </div>
</div>


{% endblock %}
