{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% set ProgrammePage = "p3" %}
{% extends "layout.html" %}

{% block pageTitle %}
Pathway 3: heads of service - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home">Home</a>
    </li>
    {% if data['sending-page'] == "mm" %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="middle-managers-and-heads-of-service">Middle managers and heads of service</a>
        </li>
    {% else %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="pathways-programme-sub-level">Social Work Leadership Pathways Programme</a>
        </li>
    {% endif %}
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Middle and managers and heads of service</span>
        <h1 class="govuk-heading-xl">Pathway 3: heads of service</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              Current and aspiring heads of service or service managers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              12 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              About 11 days (including 2 residential components)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free (except for travel for the residential components)</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Website
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-!-font-size-19" href="https://thefrontline.org.uk/pathways-programme/">Frontline</a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">Pathway 3 is for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in-role heads of service and service managers</li>
          <li>experienced middle managers who want to develop into a head of service</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">Pathway 3 will help you grow as a strategic service leader, focusing on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>developing an ambitious and inspiring vision for your service</li>
          <li>prioritising and meeting the competing demands of a service</li>
          <li>collaborating with multi-agency partners</li>
          <li>managing risk and change across a whole service</li>
          <li>putting equity, diversity and inclusion at the heart of your strategy</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">When you finish Pathway 3 you’ll get:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a certificate which can contribute towards your continuous professional development (CPD) hours</li>
          <li>access to leadership networks, including becoming part of the Frontline Fellowship community of leaders</li>
        </ul>
        <p class="govuk-body-m">It'll help prepare:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>current heads of service to access Pathway 4 for practice leaders</li>
          <li>aspiring heads of service for promotion to head of service roles</li>
        </ul>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">Pathway 3 has a time commitment of about 11 days spread over 12 months.</p>
        <h2 class="govuk-heading-m">In-person learning</h2>
        <p class="govuk-body-m">Includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>2 residential components at the University of Warwick (2 full days each)</li>
          <li>an observational day visit</li>
        </ul>
        <h2 class="govuk-heading-m">Online learning</h2>
        <p class="govuk-body-m">Includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>workshops</li>
          <li>one-to-one coaching</li>
          <li>peer-led practice groups</li>
          <li>self-directed study sessions</li>
        </ul>
        <!-- <p class="govuk-body-m">The online components will take about 40 hours to complete in sessions ranging from 1.5 to 3 hours each.</p> -->
        <p class="govuk-body-m">Online modules last 1.5 to 3 hours each and happen several times a month.</p>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">Pathway 3 is funded by the Department for Education.</p>
        <p class="govuk-body-m">However, travel costs for the residential component are the responsibility of your employer.</p>
        <h2 class="govuk-heading-l">How to apply</h2>
        <p class="govuk-body-m">Speak to your line manager to get support for you doing Pathway 3.</p>
        <p class="govuk-body-m">If you’re an aspiring head of service, you’ll also need to answer questions about your work experience as part of your application.</p>
        <p class="govuk-body-m"><a href="https://thefrontline.org.uk/pathways-programme/">Apply for Pathway 3 for heads of service</a> on the Frontline website.</p>
    </div>

    <!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third govuk-!-padding-left-7">
      {% include "../includes/programme-aside.html" %}
    </div>
</div>


{% endblock %}
