{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout.html" %}

{% block pageTitle %}
Pathway 2: middle managers - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home">Home</a>
    </li>
    {% if data['sending-page'] == "ps" %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="practice-supervisors">Practice supervisors</a>
        </li>
    {% elseif data['sending-page'] == "mm" %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="middle-managers-and-heads-of-service">Middle managers and heads of service</a>
        </li>
    {% else %}
    <!-- not sure anything required here as yet -->
    {% endif %}
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Middle managers and heads of services</span>
        <h1 class="govuk-heading-xl">Pathway 2: middle managers</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              Current and aspiring middle managers, team managers, independent reviewing officers (IROs)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              10 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              About 7 days (including 2 residential components)
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free (except for travel for the residential components)</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Website
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-!-font-size-19" href="https://thefrontline.org.uk/pathways-programme/" target="_blank">Frontline (opens in new tab)</a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">Pathway 2 is for:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>in-role middle managers</li>
          <li>experienced practice supervisors who want to become middle managers</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">Pathway 2 will help you support the delivery of excellent social work practice within and beyond your team. This includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>setting an ambitious and inspiring vision for your team</li>
          <li>developing resilience and wellbeing in staff so they can do their best work</li>
          <li>managing complex scenarios with your team and multi-agency partners</li>
          <li>building an inclusive team culture</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">When you finish Pathway 2 you’ll get:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>a certificate which can contribute towards your continuous professional development (CPD) hours</li>
          <li>access to leadership networks, including becoming part of the Frontline Fellowship community of leaders</li>
        </ul>
        <p class="govuk-body-m">Completing this programme helps prepare:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>current middle managers to access Pathway 3 for heads of service</li>
          <li>aspiring middle managers for promotion to middle manager roles</li>
        </ul>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">Pathway 2 has a time commitment of about 7 days spread over 10 months.</p>
        <p class="govuk-body-m">It combines online and in-person learning, including:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>2 residential components on-site at a conference centre (2 days each)</li>
          <li>4 one-to-one coaching sessions (1.5 hours each)</li>
          <li>3 online workshops (3 hours each)</li>
          <li>6 self-directed study sessions (1.5 hours each)</li>
        </ul>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">Pathway 2 is fully funded by the Department for Education.</p>
        <p class="govuk-body-m">However, travel costs for the residential components are the responsibility of your employer.</p>
        <h2 class="govuk-heading-l">How to apply</h2>
        <p class="govuk-body-m">Speak to your line manager to get support for you doing Pathway 2.</p>
        <p class="govuk-body-m">If you’re an aspiring middle manager, you’ll also need to answer questions about your work experience as part of your application.</p>
        <p class="govuk-body-m"><a href="https://thefrontline.org.uk/pathways-programme/">Apply for Pathway 2 for middle managers</a> on the Frontline website (opens in a new window).</p>
    </div>

    <!--RIGHT HAND NAV -->
        <div class="govuk-grid-column-one-third govuk-!-padding-left-7">
            <div class="aside-list__related">
                <h2 class="govuk-heading-m" id="subsection-title">
                  New aside nav goes here
                </h2>
                <div class="aside_list__block">
                    <ul class="govuk-list govuk-!-font-size-19">
                    <li class="aside-list__indent">
                      <a href="../#">
                        New aside nav goes here
                      </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
</div>


{% endblock %}
