{% set programmePage = "ua" %}
{% extends "layout.html" %}

{% block pageTitle %}
Upon: aspirant directors programme - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Senior managers and practice leaders</span>
        <h1 class="govuk-heading-xl">Upon: aspirant directors programme</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              <!-- Assistant directors and senior managers who want to become directors of children's services -->
              Assistant directors, strategic social workers, principal social workers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              7 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              8 days
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free except for travel for in-person modules</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Delivered by
            </dt>
            <dd class="govuk-summary-list__value">
            The Staff College, The Institute of Public Care, Skills for Care and GatenbySanderson
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">Social work leaders who aspire to become directors of children’s services.</p>
        <p class="govuk-body-m">You should have at least 3 years’ senior strategic leadership and management experience in local government children’s services or related sectors.</p>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">This programme will help you develop your leadership and management skills, technical knowledge and confidence. It covers themes including:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>building alliances and partnerships</li>
        <li>working in political and corporate contexts</li>
        <li>engaging communities</li>
        <li>driving innovation and change</li>
        </ul>
        <p class="govuk-body-m">You’ll have open access to a  repository including guides, videos and blogs from successful leaders.</p>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">There are 8 days of in-person and online learning spread over 7 months.</p>
        <p class="govuk-body-m">The next programme starts in September 2023.</p>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">The Upon: aspirant directors programme is funded by the Department for Education.</p>
        <p class="govuk-body-m">Accommodation and meals for in-person modules are included, but your employer will need to cover travel costs to and from the venue.</p>
        <p class="govuk-body-m">There is an optional accreditation option at the end of the programme which there will be a charge for.</p>
        <h2 class="govuk-heading-l">Next steps</h2>
        <p class="govuk-body-m">Speak to your line manager to get support for you doing the Upon: aspirant directors programme.</p>
        <p class="govuk-body-m">If you’re an aspiring head of service, you’ll also need to answer questions about your work experience as part of your application.</p>
        <p class="govuk-body-m">Find out more about Upon: aspirant directors including how to apply on the Upon website.</p>

        <!-- Alpha content
        <p class="govuk-body-m">The Aspirant Directors programme (ADP) for children’s services is aimed at senior managers who wish to be become directors within the next 3 years.</p>
        <p class="govuk-body-m">It is aimed at managers who wish to develop their leadership and management skills, technical knowledge, and confidence.</p>
        <h2 class="govuk-heading-l">Registration and requirements</h2>
        <p class="govuk-body-m">There are 40 places available on a single course which runs from autumn to spring.</p>
        <p class="govuk-body-m">We will give priority to those who have the potential to become a director in the next 3 years, but if you are interested, apply anyway because we are building up a talent pool for the future.</p>
        <p class="govuk-body-m">As part of the application process, you will be assessed on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>Your knowledge of children's services</li>
          <li>How you deliver continuous improvement, and sustainable impact</li>
          <li>Your experience of functional and corporate leadership reflecting the needs of diverse communities</li>
        </ul>
        <p class="govuk-body-m">You will also be asked to provide a personal statement explaining why you want to become a director.</p>
        <p class="govuk-body-m"><a class="govuk-!-font-size-19" href="https://uponleaders-apply.co.uk/how-to-apply">How to apply for the ADP</a>
        <h2 class="govuk-heading-l">Programme description</h2>
        <p class="govuk-body-m">The programme consists of a blend of virtual and face-to-face learning. There will also be the kind of informal interactions that you would get from a residential programme.</p>
        <p class="govuk-body-m">You can expect:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>8 taught days</li>
          <li>Learning visits</li>
          <li>Action learning</li>
          <li>Leadership challenge activities</li>
          <li>Access to leaders in the field</li>
        </ul>
        <p class="govuk-body-m">You will be assigned a mentor and an employer sponsor. You will also be offered coaching, career advice and support once the course has finished.</p>
        <h2 class="govuk-heading-l">Evaluation and assessment</h2>
        <p class="govuk-body-m">You’ll have formative assessments, including 360 feedback. You can also choose to have your work academically accredited.</p> -->

    </div>

    <!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third">
      {% include "../includes/dfe-pqs-aside.html" %}
    </div>
</div>


{% endblock %}
