{% set programmePage = "ua" %}
{% extends "layout.html" %}

{% block pageTitle %}
Upon: aspirant directors programme - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
      {% include "../includes/breadcrumbs.html" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Senior managers and practice leaders</span>
        <h1 class="govuk-heading-xl">Upon: aspirant directors programme</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              <!-- Assistant directors and senior managers who want to become directors of children's services -->
              Assistant directors, senior managers, strategic social workers, principal social workers
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              7 months
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              8 days
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free except for travel for in-person modules and optional accreditation</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Delivered by
            </dt>
            <dd class="govuk-summary-list__value">
            The Staff College, The Institute of Public Care, Skills for Care and GatenbySanderson
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">The Upon: aspirant directors programme is for social work leaders who:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>aim to become directors of children’s services</li>
        <li>have at least 3 years’ senior leadership and management experience in local government children’s services or related sectors.</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">This programme will help you develop your leadership and management skills, technical knowledge and confidence. It covers themes including:</p>
        <ul class="govuk-list govuk-list--bullet">
        <li>building alliances and partnerships</li>
        <li>working in political and corporate contexts</li>
        <li>engaging communities</li>
        <li>driving innovation and change</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">This programme is not accredited. However, there is optional accreditation available to  participants after the first year by Oxford Brookes University.</p>
        <p class="govuk-body-m">You’ll get career advice and support and become part of a national peer network during the programme and beyond.</p>
        <p class="govuk-body-m">You’ll also have ongoing access to our learning resources including guides, videos and blogs from successful leaders.</p>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">There are 8 days of in-person and online learning spread over 7 months.</p>
        <h2 class="govuk-heading-m">In-person learning</h2>
        <p class="govuk-body-m">Includes:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li></li>
          <li></li>
        </ul>
        <h2 class="govuk-heading-m">Online learning</h2>
        <p class="govuk-body-m">It'll take about x hours to complete the online modules, which include:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li></li>
          <li></li>
        </ul>
        <p class="govuk-body-m">Online modules last x hours.</p>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">The Upon: aspirant directors programme is funded by the Department for Education.</p>
        <p class="govuk-body-m">Accommodation and meals for in-person modules are included, but your employer will need to cover travel costs to and from the venue.</p>
        <p class="govuk-body-m">There is also a fee for the optional accreditation at the end of the programme.</p>
        <h2 class="govuk-heading-l">Next steps</h2>
        <p class="govuk-body-m">Speak to your line manager to get support for you doing the Upon: aspirant directors programme.</p>
        <p class="govuk-body-m">The next programme starts in September 2023. Applications close on 14 June 2022.</p>
      <!--  <p class="govuk-body-m">As part of the application process you'll be assessed on:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>your knowledge of children's services</li>
          <li>how you deliver continuous improvement and sustainable impact</li>
          <li>your experience of functional and corporate leadership</li>
        </ul>
        <p class="govuk-body-m">You'll also need to provide a personal statement explaining why you want to become a director.</p> -->
        <p class="govuk-body-m"><a href="https://uponleaders.co.uk/aspirant-directors-programme/">Find out more about the Upon: aspirant directors programme</a> on the Upon website.</p>
    </div>

    <!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third">
      {% include "../includes/dfe-pqs-aside.html" %}
    </div>
</div>


{% endblock %}
