{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout.html" %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2>Right hand navigation options for content pages. These based on this breadcrumb:</h2>
            <div class="govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="#">Middle managers and heads of service</a>
                </li>
              </ol>
            </div>
    </div>
</div>


<div class="govuk-grid-row govuk-!-margin-top-6">
    <!--Option A-->
    <div class="govuk-grid-column-one-third">
        <h4 class="govuk-!-margin-bottom-9">Option A</h4>
        <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m">
          Related programmes
        </h2>
        <nav role="navigation" aria-labelledby="related-nav__section">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                In-role heads of service - Pathway 3
              </a>
            </li>
            <li>
              <a href="#">
                Aspiring practice leaders - Pathway 4
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
    <!--Option B-->
    <div class="govuk-grid-column-one-third">
        <h4 class="govuk-!-margin-bottom-9">Option B</h4>
        <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m">Related programmes</h2>
        <nav role="navigation" aria-labelledby="related-nav__section">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                In-role heads of service - Pathway 3
              </a>
            </li>
            <li>
              <a href="#">
                Aspiring practice leaders - Pathway 4
              </a>
            </li>
          </ul>
          <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
          <h3 class="govuk-heading-s govuk-!-font-weight-regular">Other programmes</h3>
            <ul class="govuk-list govuk-!-font-size-16">
              <li>
                <a href="#">
                  ASYE
                </a>
              </li>
              <li>
                <a href="#">
                  Upon: Aspiring directors
                </a>
              </li>
              <li>
                <a href="#">
                  Upon: New directors
                </a>
              </li>
            </ul>
          </nav>
      </aside>
    </div>
    <!--Option C-->
    <div class="govuk-grid-column-one-third">
        <h4 class="govuk-!-margin-bottom-9">Option C</h4>
        <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s govuk-!-margin-top-1">
          Related programmes
        </h2>
        <nav role="navigation" aria-labelledby="related-nav__section">
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="#">
                In-role heads of service - Pathway 3
              </a>
            </li>
            <li>
              <a href="#">
                Aspiring practice leaders - Pathway 4
              </a>
            </li>
          </ul>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-4">
        <h2 class="govuk-heading-s">
          Related social work post-qualifying standards
        </h2>
          <ul class="govuk-list govuk-!-font-size-16">
            <li>
              <a href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work">
                Knowledge and skills statement for practice leaders
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
</div>
<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-6">
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h2>Right hand navigation options for content pages. These based on this breadcrumb:</h2>
            <div class="govuk-breadcrumbs">
              <ol class="govuk-breadcrumbs__list">
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="#">Home</a>
                </li>
                <li class="govuk-breadcrumbs__list-item">
                  <a class="govuk-breadcrumbs__link" href="#">Senior managers and leaders</a>
                </li>
              </ol>
            </div>
    </div>
</div>
<div class="govuk-grid-row govuk-!-margin-top-6">
    <!--Option D-->
    <div class="govuk-grid-column-one-third">
        <h4 class="govuk-!-margin-bottom-9">Option D</h4>
        <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s">
          Related programmes
        </h2>
        <nav role="navigation" aria-labelledby="related-nav__section">
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--spaced">
              <li>Upon: Inspiring Leaders Programme
                <ul>
                    <li>
                      <a href="#">
                        Practice leaders - Pathway 4
                      </a>
                    </li>
                </ul>
              </li>
              <li>Upon
                <ul>
                    <li>
                      <a href="#">
                        Upon aspirant directors
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Upon new directors
                      </a>
                    </li>
                </ul>
              </li>
          </ul>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-4">
                <h2 class="govuk-heading-s">
                  Related social work post-qualifying standards
                </h2>
                  <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                      <a href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work">
                        Knowledge and skills statement for practice leaders
                      </a>
                    </li>
                  </ul>
        </nav>
      </aside>
    </div>
    <!--Option E-->
    <div class="govuk-grid-column-one-third">
        <h4 class="govuk-!-margin-bottom-9">Option E</h4>
        <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s">
          DfE development programmes
        </h2>
        <nav role="navigation" aria-labelledby="related-nav__section">
          <ul class="govuk-list govuk-!-font-size-16 govuk-list--spaced">
              <li>Social Work Leadership Pathways programme
                <ul>
                    <li>
                      <a href="#">
                        Pathway 1: Practice supervisors
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Pathway 2: Middle managers
                      </a> (currently viewing)
                    </li>
                    <li>
                      <a href="#">
                        Pathway 3: Heads of service
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Pathway 4: Practice leaders
                      </a>
                    </li>
                </ul>
              </li>
              <li>Upon: Inspiring Leaders Programme
                <ul>
                    <li>
                      <a href="#">
                        Upon aspirant directors
                      </a>
                    </li>
                    <li>
                      <a href="#">
                        Upon new directors
                      </a>
                    </li>
                </ul>
              </li>
          </ul>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-4">
                <h2 class="govuk-heading-s">
                  Related social work post-qualifying standards
                </h2>
                  <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                      <a href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work">
                        Knowledge and skills statement for practice leaders
                      </a>
                    </li>
                  </ul>
        </nav>
      </aside>
    </div>
        <!--Option F-->
    <div class="govuk-grid-column-one-third">
        <h4 class="govuk-!-margin-bottom-9">Option F</h4>
        <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-s">
          Related programmes
        </h2>
        <nav role="navigation" aria-labelledby="related-nav__section">
        <h4>Social Work Leadership Pathways programme</h4>
          <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a href="#">
                    Practice leaders - Pathway 4
                  </a>
                </li>
          </ul>
         <h4>Upon: Inspiring Leaders Programme</h4>
          <ul class="govuk-list govuk-!-font-size-16">
                <li>
                  <a href="#">
                    Upon aspirant directors
                  </a>
                </li>
                <li>
                  <a href="#">
                    Upon new directors
                  </a>
                </li>
          </ul>
            <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible govuk-!-margin-bottom-4">
                <h2 class="govuk-heading-s">
                  Related social work post-qualifying standards
                </h2>
                  <ul class="govuk-list govuk-!-font-size-16">
                    <li>
                      <a href="https://www.gov.uk/government/publications/knowledge-and-skills-statements-for-child-and-family-social-work">
                        Knowledge and skills statement for practice leaders
                      </a>
                    </li>
                  </ul>
        </nav>
      </aside>
    </div>
</div>


{% endblock %}