{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout_whero.html" %}

{% block pageTitle %}
Develop your career in child and family social work - Department for Education
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Programmes</h1>
        <p class="govuk-body">The programmes we fund develop the skills and knowledge of social workers at all levels to help improve outcomes for children and families.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="asye" class="govuk-link">Assessed and supported year in employment (ASYE)</a></h3>
            <p class="govuk-!-margin-bottom-1">For newly qualified social workers to grow their skills, knowledge and professional confidence.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathways-programme-sub-level.html" class="govuk-link">Social Work Leadership Pathways programme</a></h3>
            <p class="govuk-!-margin-bottom-1">For social work leaders to develop their leadership skills and drive outstanding provision of social care.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="upon-leaders-sub-level.html" class="govuk-link">upon: Inspiring Leaders programme</a></h3>
            <p class="govuk-!-margin-bottom-1">For new and aspiring Directors of Children's Services to develop their leadership, management and technical expertise.</p>
        </div>
    </div>
</div>

{% endblock %}
