{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout.html" %}

{% block pageTitle %}
Social Work Leadership Pathways Programme – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home">Home</a>
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Social Work Leadership Pathways Programme</h1>
        <p class="govuk-body">xxx.</p>
        <p class="govuk-body">The programme includes 4 separate pathways, each aimed at a different level of social work leadership. Pathways 2, 3 and 4 are for middle managers and heads of service.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-1?sending-page=althp" class="govuk-link">Pathway 1: practice supervisors</a></h3>
            <p class="govuk-!-margin-bottom-6">For practice supervisors or those in an equivalent role who want to develop their leadership skills.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-2?sending-page=althp" class="govuk-link">Pathway 2: middle managers</a></h3>
            <p class="govuk-!-margin-bottom-1">For middle leaders to drive impact and support the delivery of excellent social work practice within and beyond their team.</p>
        </div>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-3?sending-page=althp" class="govuk-link">Pathway 3: heads of service</a></h3>
            <p class="govuk-!-margin-bottom-1">For current and aspiring heads of service to lead outstanding provision of social care through multiple teams and partnerships.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="pathway-4?sending-page=althp" class="govuk-link">Pathway 4: practice leaders</a></h3>
            <p class="govuk-!-margin-bottom-1">For experienced heads of service (or equivalent) to develop their leadership skills and progress into a practice leader role.</p>
        </div>
    </div>
</div>

{% endblock %}
