{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout.html" %}

{% block pageTitle %}
Pathway 3: heads of service - development programmes – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home">Home</a>
    </li>
    {% if data['sending-page'] == "mm" %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="middle-managers-and-heads-of-service">Middle managers and heads of service</a>
        </li>
    {% else %}
        <li class="govuk-breadcrumbs__list-item">
          <a class="govuk-breadcrumbs__link" href="pathways-programme-sub-level">Social Work Leadership Pathways Programme</a>
        </li>
    {% endif %}
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">heads of service</span>
        <h1 class="govuk-heading-xl">Pathway 3</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              For
            </dt>
            <dd class="govuk-summary-list__value">
              heads of service
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Duration
            </dt>
            <dd class="govuk-summary-list__value">
              xxx
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Time commitment
            </dt>
            <dd class="govuk-summary-list__value">
              xxx
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Cost
            </dt>
            <dd class="govuk-summary-list__value">
              <p class="govuk-body">Free (except for travel for the residential component)</p>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
            Website
            </dt>
            <dd class="govuk-summary-list__value">
            <a class="govuk-!-font-size-19" href="https://thefrontline.org.uk/pathways-programme/" target="_blank">Frontline (opens in new tab)</a>
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Who it’s for</h2>
        <p class="govuk-body-m">xxx</p>
        <h2 class="govuk-heading-l">What you’ll learn</h2>
        <p class="govuk-body-m">xxx</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>xxx</li>
          <li>xxx</li>
          <li>xxx</li>
          <li>xxx</li>
        </ul>
        <h2 class="govuk-heading-l">What you’ll get</h2>
        <p class="govuk-body-m">When you finish Pathway 3 you’ll get:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>xxx</li>
        </ul>
        <p class="govuk-body-m">Completing this programme prepares you for accessing Pathway 4 for practice leaders.</p>
        <h2 class="govuk-heading-l">How it’s delivered</h2>
        <p class="govuk-body-m">xxx.</p>
        <p class="govuk-body-m">xxx.</p>
        <p class="govuk-body-m">You'll take part in:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>xxx</li>
        </ul>
        <h2 class="govuk-heading-l">Funding</h2>
        <p class="govuk-body-m">Pathway 3 is fully funded by the Department for Education.</p>
        <p class="govuk-body-m">However, your employer must cover travel costs for the residential component.</p>
        <h2 class="govuk-heading-l">Next steps</h2>
        <p class="govuk-body-m"><a href="https://thefrontline.org.uk/pathways-programme/">Find out more about Pathway 3</a> on the Frontline website (opens in a new window).</p>
    </div>

    <!--RIGHT HAND NAV -->
        <div class="govuk-grid-column-one-third govuk-!-padding-left-7">
            <div class="aside-list__related">
                <h2 class="govuk-heading-m" id="subsection-title">
                  New aside nav goes here
                </h2>
                <div class="aside_list__block">
                    <ul class="govuk-list govuk-!-font-size-19">
                    <li class="aside-list__indent">
                      <a href="../#">
                        New aside nav goes here
                      </a>
                    </li>
                    </ul>
                </div>
            </div>
        </div>
</div>


{% endblock %}
