{% extends "layout.html" %}

{% block pageTitle %}
Home – Develop your career in child and family social work
{% endblock %}

{% block content %}

<h2 class="govuk-heading-m">Beta Round 1 research links</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="../beta-sprint-1-and-2/pathway-1">Pathway 1 content page</a>
          </li>
          <li>
            <a href="../beta-sprint-1-and-2/pathway-2">Pathway 2 content page</a>
          </li>
          <li>
            <a href="../basic-templates/aside">Right hand nav/aside component examples</a>
          </li>
          <li>
            <a href="../beta-sprint-1-and-2/alternate-structure/home.html"><strong>Alternate website structure (by programme)</strong></a>
          </li>
    </ul>
  </div>
</div>



{% endblock %}