{% extends "layout.html" %}

{% block pageTitle %}
Home – Develop your career in child and family social work
{% endblock %}

{% block content %}

<h2 class="govuk-heading-m">Round 2 research links</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="../sprint-5/core-website/asye">ASYE content page</a>
      </li>
      <li>
        <a href="../sprint-5/core-website/asye-alternative">ASYE alternative content page</a>
      </li>
      <li>
        <a href="../sprint-5/core-website/upon">upon content page</a>
      </li>
      <li>
        <a href="../sprint-5/core-website">Home page A (by DfE terms)</a>
      </li>
      <li>
        <a href="../sprint-5/core-website/index-b">Home page B (by roles)</a>
      </li>
    </ul>
  </div>
</div>



{% endblock %}