{% extends "layout.html" %}

{% block pageTitle %}
Home – Social worker career development
{% endblock %}

{% block content %}

<h2 class="govuk-heading-m">Round 3 research links</h2>
<div class="govuk-grid-row govuk-!-margin-bottom-9">
  <div class="govuk-grid-column-full">
    <ul class="govuk-list govuk-list--bullet">

      <li class="govuk-!-margin-bottom-6">
        <a href="../current/core-website">Home</a>
      </li>

      <li class="govuk-!-margin-bottom-6">Development programmes
        <ul>
          <li>
            <a href="../current/core-website/asye">ASYE content page</a>
          </li>
          <li>
            <a href="../current/core-website/pathways-programme">Pathways programme</a>
          </li>
          <li>
            <a href="../current/core-website/upon">Upon</a>
          </li>
        </ul>
      </li>
      <li class="govuk-!-margin-bottom-6"><a href="../current/career-pathway/career-pathway">Main pathway page</a>
        <ul>
          <li>
            <a href="../current/career-pathway/newly-qualified-social-worker">Newly qualified</a>
          </li>
          <li>
            <a href="../current/career-pathway/practitioner">Practitioner</a>
          </li>
          <li>
            <a href="../current/career-pathway/practice-supervisor">Practice supervisor</a>
          </li>
          <li>
            <a href="../current/career-pathway/practice-leader">Practice leader</a>
          </li>
        </ul>
      </li>
      <li class="govuk-!-margin-bottom-6">Job roles
        <ul>
          <li>
            <a href="../current/career-pathway/role-social-worker">Social worker</a>
          </li>
          <li>
            <a href="../current/career-pathway/role-team-manager">Team manager</a>
          </li>
        </ul>
      </li>
      <li class="govuk-!-margin-bottom-6">Other pages
        <ul>
          <li>
            <a href="../current/core-website/dfe-blogs-case-studies">Blogs, case studies etc.</a>
          </li>
          <li>
            <a href="../current/core-website/dfe-roadmap">DfE roadmap</a>
          </li>
          <li>
            <a href="../current/core-website/dfe-about">DfE Role / About page</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>



{% endblock %}