{% extends "layout.html" %}

{% block pageTitle %}
Social work manager - roles glossary – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../core-website">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../career-pathway/career-pathway">Career pathway</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="../career-pathway/practitioner">Practitioner</a>
    </li>
  </ol>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-l">Career pathway</span>
        <h1 class="govuk-heading-xl">Social worker</h1>
    </div>
</div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
          <dl class="govuk-summary-list">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Other job titles
            </dt>
            <dd class="govuk-summary-list__value">
              New professional, Early Professional Development Social Worker, Seasoned professional, Experienced social worker.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Job activities
            </dt>
            <dd class="govuk-summary-list__value">
              YOT officer, 0-19 Practitioner, Residential Support Worker, Contact Supervisor, Placement Officer, Primary Mental Health Worker, Psychological Wellbeing Practitioner, Personal Advisor.
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Pay scale
            </dt>
            <dd class="govuk-summary-list__value">
              24-38k
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Typical hours
            </dt>
            <dd class="govuk-summary-list__value">
              40 hours a week
            </dd>
          </div>
        </dl>
        <h2 class="govuk-heading-l">Role responsibilities</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <h2 class="govuk-heading-l">Role requirements</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <h2 class="govuk-heading-l">Something else</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <h2 class="govuk-heading-l">Something different</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>
        <h2 class="govuk-heading-l">Something more</h2>
        <p class="govuk-body-m">Vestibulum eu volutpat leo, vel lobortis nibh. Nulla eleifend ipsum in rutrum vestibulum. In pretium fermentum libero quis scelerisque. Donec venenatis pellentesque semper. Cras vulputate pellentesque sem ut tincidunt. Sed auctor volutpat enim, vel elementum dui pretium non. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Etiam porta ex facilisis, vehicula nunc sed, sollicitudin diam. Curabitur pulvinar urna arcu, ac gravida purus iaculis iaculis. Phasellus lectus nibh, venenatis in iaculis at, tempor at mauris. Maecenas volutpat fringilla nulla vel blandit. Phasellus eu augue risus. Nam non hendrerit nunc, a molestie turpis.</p>

    </div>
<!--RIGHT HAND NAV -->
    <div class="govuk-grid-column-one-third govuk-!-padding-left-7">
            <div class="aside-list__related">
            <h2 class="govuk-heading-m" id="subsection-title">
              Related step on the social worker career pathway
            </h2>
            <div class="aside_list__block">
                <ul class="govuk-list govuk-!-font-size-19">
                <li class="aside-list__indent">
                  <a href="../career-pathway/practitioner">
                    Practitioner
                  </a>
                </li>
                </ul>
            </div>
        </div>
        <div class="aside-list__related">
            <h2 class="govuk-heading-m" id="subsection-title">
              Related DfE development programmes
            </h2>
            <div class="aside_list__block">
                <ul class="govuk-list govuk-!-font-size-19">
                <li class="aside-list__indent">
                    No related DfE development programmes for this role
                </li>
                </ul>
            </div>
        </div>

        <!--<div class="aside_list__block">
            <div class="aside-list__related">
                <p>Here is a brief paragraph about accreditation</p>
                <ul class="govuk-list govuk-!-font-size-19">
                <li class="aside-list__indent">
                  <a href="#">
                    Link to assessment
                  </a>
                </li>
                </ul>
            </div>
        </div>-->
        <!-- remove for R3 testing <div class="govuk-!-margin-top-9">
            <div class="section-card__wbutton ">
                <h3 class="govuk-heading-m">* Testing only *</h3>
                <p class="govuk-!-margin-bottom-6">There is an alternate version of this page.</p>
                <p class="govuk-body govuk-!-margin-bottom-0">
                    <a class="govuk-button govuk-!-margin-bottom-0" href="asye-alternative">
                        Change version
                    </a>
                </p>
            </div> -->
    </div>
</div>


{% endblock %}