{% extends "layout.html" %}

{% block beforeContent %}
    <a href="/index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
        <div class='govuk-grid-row'>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">DfE component examples</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-top-4">
            {% include "../../includes/templates-side-nav.html" %}
            </div>
            <div class="govuk-grid-column-one-half-from-desktop">
                <h2>DfE callout component</h2>
                <p class="govuk-body govuk-!-margin-bottom-9">
                    As used in the <a href="https://design.education.gov.uk/" target="_blank" class="govuk-link">Design in DfE manual (opens in new window)</a>
                </p>
                <p class="govuk-body">
                    Some text might go here before the callout component.
                </p>
                <div class="dfeuk-example-callout">
                <h4 class="dfeuk-tag dfeuk-example-callout__heading">
                    <span class="dfeuk-u-visually-hidden">Important: </span>Callout title here</h4>
                    <p>Here you can <strong>callout something of interest</strong>, that you might otherwise not include in the standard page content.</p>
                </div>
                <p class="govuk-body">
                    Then you might have some more text here after the callout component.
                </p>
                <code class="code-example">
                    &lt;div class="dfeuk-example-callout"&gt;<br>
                    &lt;h4 class="dfeuk-tag dfeuk-example-callout__heading"&gt;<br>
                    &lt;span class="dfeuk-u-visually-hidden"&gt;Important: &lt;/span&gt;Callout title here&lt;/h4&gt;<br>
                    &lt;p&gt;Here you can &lt;strong&gt;callout something of interest&lt;/strong&gt;, that you might otherwise not include in the standard page content.&lt;/p&gt;<br>
                    &lt;/div&gt;<br>
                </code>


            </div>
        </div>
{% endblock %}