{% extends "layout.html" %}

{% block beforeContent %}
    <a href="/index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
        <div class='govuk-grid-row'>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">DfE component examples</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-top-4">
            {% include "../../includes/templates-side-nav.html" %}
            </div>
            <div class="govuk-grid-column-one-half-from-desktop">
                <h2>DfE action link</h2>
                <p class="govuk-body govuk-!-margin-bottom-9">
                    As used in the <a href="https://apply-the-service-standard.education.gov.uk/" target="_blank" class="govuk-link">DfE apply the service standard manual</a>. It is also currently used in the <a href="https://fh-family-experience-prototyp.herokuapp.com/" target="_blank" class="govuk-link">Find local family support service.</a>
                </p>
                <div class="dfeuk-action-link govuk-!-margin-bottom-9"><a target="_blank" class="dfeuk-action-link__link" href="#"><svg class="dfeuk-icon dfeuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36">
                    <path d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z"></path>
                    </svg>
                    <span class="dfeuk-action-link__text">Link goes here</span>
                    </a>
                </div>
                    <code class="code-example gov">
                        &lt;div class="dfeuk-action-link"&gt;&lt;a target="_blank" class="dfeuk-action-link__link" href="#"&gt;&lt;svg class="dfeuk-icon dfeuk-icon__arrow-right-circle" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="36" height="36"&gt;<br>
                        &lt;path d="M0 0h24v24H0z" fill="none">&lt;/path><br>
                        &lt;path d="M12 2a10 10 0 0 0-9.95 9h11.64L9.74 7.05a1 1 0 0 1 1.41-1.41l5.66 5.65a1 1 0 0 1 0 1.42l-5.66 5.65a1 1 0 0 1-1.41 0 1 1 0 0 1 0-1.41L13.69 13H2.05A10 10 0 1 0 12 2z">&lt;/path&gt;<br>
                        &lt;/svg&gt;<br>
                        &lt;span class="dfeuk-action-link__text">Link goes here&lt;/span&gt;<br>
                        &lt;/a&gt;<br>
                        &lt;/div&gt;<br>
                    </code>
            </div>
        </div>
{% endblock %}