{% extends "layout.html" %}

{% block beforeContent %}
    <a href="/index" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
        <div class='govuk-grid-row'>
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-l">DfE component examples</h1>
            </div>
        </div>
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-third-from-desktop govuk-!-margin-top-4">
            {% include "../../includes/templates-side-nav.html" %}
            </div>
            <div class="govuk-grid-column-two-thirds-from-desktop">
                <h2>DfE card component</h2>
                <p class="govuk-body govuk-!-margin-bottom-6">
                    As used in the <a href="https://professional-development-for-teachers-leaders.education.gov.uk/" target="_blank" class="govuk-link">Professional development for teachers and leaders service</a>.
                </p>

                    <div class="section-card">
                    {{ appNavigationCard({
                        title: 'Card title',
                        description: 'Card description',
                        programmeUrl: '#',
                        marginBottom: '6'
                        })
                     }}
                    </div>
                <table class="govuk-table govuk-!-margin-top-6">
                  <caption class="govuk-table__caption govuk-table__caption--m">Pass these values</caption>
                  <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Name</th>
                      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Type</th>
                      <th scope="col" class="govuk-table__header govuk-!-width-one-third">Description</th>
                    </tr>
                  </thead>
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">title</th>
                      <td class="govuk-table__cell govuk-table__cell">string</td>
                      <td class="govuk-table__cell govuk-table__cell"><strong>Required.</strong> The card title text.</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">description</th>
                      <td class="govuk-table__cell govuk-table__cell">string</td>
                      <td class="govuk-table__cell govuk-table__cell"><strong>Required.</strong> The card description text.</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">programmeUrl</th>
                      <td class="govuk-table__cell govuk-table__cell">string</td>
                      <td class="govuk-table__cell govuk-table__cell"><strong>Required.</strong> The target URL of the card.</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <th scope="row" class="govuk-table__header">marginBottom</th>
                      <td class="govuk-table__cell govuk-table__cell">value</td>
                      <td class="govuk-table__cell govuk-table__cell">Optional margin for the bottom of the card. Use when neighbouring card has more text to make them look even.</td>
                    </tr>
                  </tbody>
                </table>
                    <code class="code-example govuk-!-margin-top-6">
                    &#123;&#123; appNavigationCard&#40;&#123;<br>
                        &nbsp;&nbsp;title: 'Card title',<br>
                        &nbsp;&nbsp;description: 'Card description',<br>
                        &nbsp;&nbsp;programmeUrl: 'my-url-goes-here',<br>
                        &nbsp;&nbsp;marginBottom: '9'<br>
                        &#125;&#41;&nbsp;&#125;&#125;
                    </code>
            </div>
        </div>
{% endblock %}