{% set brandType = "edu" %}
{% extends "layout.html" %}

{% block pageTitle %}
Develop your career in child and family social work - Department for Education    
{% endblock %}

{% block content %}
<div class="dfe-width-container">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">
        <h1 class="govuk-heading-xl">Develop your career in child and family social work</h1>
        <h2 class="govuk-heading-m">Latest prototype (sprint 27 - future state prototype)</h2>
        {% from "govuk/components/button/macro.njk" import govukButton %}
        {{ govukButton({
          text: "Start now",
          href: "current/futurestate/home",
          isStartButton: true
        }) }}
        <ul class="govuk-list govuk-list--bullet">
  
          <li>
            <a href="supporting-pages/list-of-pages">Supporting pages</a>
            <p class="govuk-body-s">Privacy, cookies, 404 pages...</p>
          </li>
        </ul>

<!-- put beta section into HTML var -->
{% set betadetailsHTML %}
    <h2 class="govuk-heading-m">Sprints</h2>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 24, 25 and 26</h3>
    <p class="govuk-body-s">31 July 2023 - 29 September 2023</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="beta-sprint-24-25-and-26/roles/home">Future state prototype V2</a>
      </li>
      <li>
        <a href="beta-sprint-24-25-and-26/august-release/home">August release prototype V2</a>
      </li>
        </ul>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 20, 21, 22 and 23</h3>
    <p class="govuk-body-s">19 June 2023 - 31 July 2023</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="beta-sprint-20-21-22-and-23/roles/home">Future state prototype V1</a>
      </li>
      <li>
        <a href="beta-sprint-20-21-22-and-23/august-release/home">August release prototype V1</a>
      </li>
        </ul>

    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 16, 17, 18 and 19</h3>
    <p class="govuk-body-s">24 March 2023 - 16 June 2023</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="beta-sprint-16-17-18-and-19/roles/home.html">Core website v11 (Explore roles linking to NCS)</a>
      </li>
      <li>
        <a href="beta-sprint-16-17-18-and-19/alt-roles/home.html">Core website v11 (Explore roles alternative roles listed in service)</a>
      </li>
        </ul>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 14 and 15</h3>
    <p class="govuk-body-s">13 March 2023 - 24 March 2023</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="beta-sprint-14-and-15/roles/home.html">Core website v10 (Explore roles)</a>

      </li>
        </ul>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 13</h3>
    <p class="govuk-body-s">13 March 2023 - 24 March 2023</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="beta-sprint-13/roles/home.html">Core website v9 (Explore roles)</a>
      </li>
        </ul>
    <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 9, 10, 11 and 12</h3>
    <p class="govuk-body-s">13 January 2023 - 10 March 2023</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        <a href="beta-sprint-9-10-11-and-12/home.html">Core website v8</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR round 6</span>)</p>
      </li>
      <li>
          <a href="beta-sprint-9-10-11-and-12/alternative-structure/home.html">Alternate structure v2</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR round 6</span>)</p>
      </li>
    </ul>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 6</h3>
        <p class="govuk-body-s">05 December - 16 December 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="beta-sprint-6/home">Core website v7</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR round 5</span>)</p>
          </li>
          <li>
            <a href="beta-sprint-6/alternative-structure/home">Alternate structure</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR round 5</span>)</p>
          </li>
        </ul>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 5</h3>
        <p class="govuk-body-s">21 November - 02 December 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="beta-sprint-5/home">Core website v6</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR round 4</span>)</p>
          </li>
        </ul>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 3 and 4</h3>
        <p class="govuk-body-s">24 October - 18 November 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
              <a href="beta-sprint-3-and-4/home">Core website v5</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR rounds 2 and 3</span>)</p>
          </li>
        </ul>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 1 and 2</h3>
        <p class="govuk-body-s">26 September - 07 October 2022 / 10 - 21 October 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="beta-sprint-1-and-2/home">Core website v4</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR round 1</span>)</p>
          </li>
          <li>
            <a href="./research-links/beta-round-1">Round 1 research links</a>
          </li>
        </ul>
{% endset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({
  summaryText: "Beta",
  html: betadetailsHTML,
  open: true,
  classes: "govuk-!-margin-top-7"
}) }}

<!-- put alpha section into HTML var -->
{% set alphadetailsHTML %}
    <h2 class="govuk-heading-m">Sprints</h2>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 6 & 7</h3>
        <p class="govuk-body-s">19 - 23 July 2022 / 25 - 30 July 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="sprint-6-7/core-website">Core website v3</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR round 3</span>)</p>
          </li>
          <li>
            <a href="sprint-6-7/career-pathway/career-pathway">Career pathway concept v1</a>
          </li>
          <li>
            <a href="./research-links/round-3">Round 3 research links</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 5</h3>
        <p class="govuk-body-s">12 - 16 July 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
              <a href="sprint-5/core-website">Core website v2</a><p class="govuk-body-s">(<span class="landing-page__done-highlighting">Tested in UR round 2</span>)</p>
          </li>
          <li>
            <a href="./research-links/round-2">Round 2 research links</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 4</h3>
        <p class="govuk-body-s">5 - 9 July 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="sprint-4/index">Core website</a>&nbsp;&nbsp;(Not tested)
          </li>
          <li>
            <a href="sprint-4/asye-alternative">Alternate content page</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 2</h3>
        <p class="govuk-body-s">20 - 25 June 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="sprint-2/cpd-tools/start">CPD quiz tool</a>
          </li>
          <li>
            <a href="sprint-2/career-guidance/social-worker-roles/example-role">Example role page</a>
          </li>
        </ul>
        <h3 class="govuk-heading-s govuk-!-margin-bottom-0">Sprint 1</h3>
        <p class="govuk-body-s">10 - 17 June 2022</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            <a href="sprint-1/index">Journey 1</a>
          </li>
          <li>
            <a href="sprint-1/landing-page-concepts/hp-concept-2">Concept homepage 2</a>
          </li>
          <li>
            <a href="sprint-1/career-tool/start">Career quiz tool</a>
          </li>
          <li>
            <a href="sprint-1/cpd-tools/cpd-filter">CPD finder tool</a>
          </li>
        </ul>
{% endset %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{{ govukDetails({
  summaryText: "Alpha",
  html: alphadetailsHTML,
  open: false
}) }}

    <h2 class="govuk-heading-m govuk-!-margin-top-6">Design history</h2>
        <ul class="govuk-list govuk-list--bullet">
          <li>
            Read the <a href="https://vcf-sw-career-dev-des-history.herokuapp.com/">design history</a> for this project.
          </li>
        </ul>

      </div>
    </div>

{% endblock %}