{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{# 1 #} 
{% from 'node_modules/dfe-frontend-alpha/packages/components/header/macro.njk' import header %}

{# 2 #}
{% extends "govuk-prototype-kit/layouts/govuk-branded.njk" %}
<!--project specific macros-->
{% from "_components/navigation-card/macro.njk" import appNavigationCard %}


{% block head %}
  {{ super() }}
{% endblock %}

{% block pageTitle %}
  Develop your career in child and family social work prototype
{% endblock %}

{% block header %}
  {% include "./partials/dfeheadernav_augv1.njk" %}
  {% include "./partials/phasebanner.njk" %}
  {% include "./partials/hero.njk" %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}

{% if useAutoStoreData %}
  {% block footer %}
    {{ govukFooter({
      meta: {
        items: [
            {
              href: "https://govuk-prototype-kit.herokuapp.com/",
              text: "GOV.UK Prototype Kit " + releaseVersion
            },
            {
              href: "/prototype-admin/clear-data",
              text: "Clear data"
            }
        ],
        visuallyHiddenTitle: "Footer links"
      }
     }) }}
  {% endblock %}
{% endif %}

{% block bodyEnd %}
{{ super() }}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
