{#- We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework. -#}
{%- set assetPath = '/govuk/assets' -%}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}

<!--project specific macros-->
{% from "_components/navigation-card/macro.njk" import appNavigationCard %}


{% block pageTitle %}
  Develop your career in child and family social work prototype
{% endblock %}

{% block header %}
  {% include "./partials/dfeheader.njk" %}
  {% include "./partials/phasebanner.njk" %}
{% endblock %}

{% set mainClasses = mainClasses | default("govuk-main-wrapper--auto-spacing") %}



{% block bodyEnd %}
{{ super() }}
  <!-- GOV.UK Prototype Kit {{releaseVersion}} -->
{% endblock %}
