{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout_whero.html" %}


{% block pageTitle %}
Develop your career in child and family social work - Department for Education
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">Explore by career stage</h2>
      <!--  <p class="govuk-body">The programmes we fund develop the skills and knowledge of social workers to help improve outcomes for children and families.</p> -->
    </div>
</div>
<!-- CARD ROW 1 -->
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="practitioners-sub-nav" class="govuk-link">Practitioners</a></h3>
            <p class="govuk-body">Includes newly qualified social workers and social workers.</p>
        </div>
    </div>
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
            <h3 class="govuk-heading-m"><a href="experienced-practitioners-sub-nav" class="govuk-link">Experienced practitioners</a></h3>
            <p class="govuk-body">Includes senior or consultant social workers, practice educators and practice supervisors.</p>
        </div>
    </div>
</div>
<!-- CARD ROW 2 -->
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
          <h3 class="govuk-heading-m"><a href="managers-sub-nav" class="govuk-link">Managers</a></h3>
          <p class="govuk-body">Includes team managers, middle managers and independent reviewing officers (IROs).</p>
      </div>
    </div>
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
          <h3 class="govuk-heading-m"><a href="senior-managers-sub-nav" class="govuk-link">Senior managers</a></h3>
          <p class="govuk-body">Includes advanced social workers, heads of service and service managers.</p>
      </div>
    </div>
</div>
<!-- CARD ROW 3 -->
<div class="govuk-grid-row dfe-section-card__container">
    <div class="govuk-grid-column-one-half dfe-section-card__container">
        <div class="dfe-section-card">
          <h3 class="govuk-heading-m"><a href="leaders-sub-nav.html" class="govuk-link">Leaders</a></h3>
          <p class="govuk-body">Includes principal or strategic social workers, assistant directors and directors.</p>
      </div>
    </div>
</div>

    <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
    <!-- EXPLORE ROLES -->

    <div class="govuk-grid-row dfe-section-card__container">
        <div class="govuk-grid-column-one-half dfe-section-card__container">
            <div class="dfe-section-card">
              <h3 class="govuk-heading-m"><a href="development-programmes.html" class="govuk-link">View all programmes</a></h3>
              <p class="govuk-body">View a full list of the development programmes we fund for child and family social workers.</p>
          </div>
        </div>
        <div class="govuk-grid-column-one-half dfe-section-card__container">
            <div class="dfe-section-card">
              <h3 class="govuk-heading-m"><a href="explore-roles?sending-page=home" class="govuk-link">Explore all roles</a></h3>
              <p class="govuk-body">Learn about different roles in child and family social work and what they involve.</p>
          </div>
        </div>
    </div>


{% endblock %}
