{% set pageName = "hp_beta" %}
{% set brandType = "edu" %}
{% extends "layout.html" %}

{% block pageTitle %}
UPON: Inspiring Leaders Programme – {{ serviceName }}
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="home">Home</a>
    </li>
  </ol>
</div>
{% endblock %}


{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">UPON: Inspiring Leaders programme</h1>
        <p class="govuk-body">This programme is for new and aspiring Directors of Children's Services who want to develop their leadership, management and technical knowledge.</p>
    </div>
</div>
<div class='govuk-grid-row'>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="upon-aspiring-directors?sending-page=althp" class="govuk-link">Aspirant Directors Programme</a></h3>
            <p class="govuk-!-margin-bottom-6">For senior managers who want to become a Director of Children's Services.</p>
        </div>
    </div>
    <div class='govuk-grid-column-one-half govuk-!-margin-bottom-4'>
        <div class="section-card">
            <h3 class="govuk-heading-m"><a href="upon-new-directors?sending-page=althp" class="govuk-link">New Directors Programme</a></h3>
            <p class="govuk-!-margin-bottom-6">For Directors of Children's Services who are new in their role.</p>
        </div>
    </div>
</div>

{% endblock %}
